- content_for(:title) do
	= "Careers for UI Designers &amp; UI Engineers in Boston"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/careers"
	= javascript_include_tag 'studio'
	%meta{:name => "description", :content => "hGraph, your health in one picture, Improves Health and Healthcare with Agile Design and Big Data Analytics"}/
	%meta{:name => "keywords", :content => "boston ui designer job, boston ui enginner job, interface designer, interface engineer, ux designer job, ux engineer job"}/
.careers
	%header.hero
		#video-bg
			<video autoplay loop muted><source type="video/webm" src="../videos/eric_cooks-careers.webmhd.webm"><source type="video/mp4" src="../videos/eric_cooks-careers.mp4"></video>
		.title
			%h2 Careers
			%h3 People come for the growth culture, access to leading minds, and getting to work on complex software solutions.
	#content-area
		%aside.sidebar.left
			.photo
				= link_to( image_tag('careers/designing-physical-user-experience.jpg'), 'https://www.flickr.com/photos/juhansonin/7883095062/in/photolist-fVfDah-deozXh-cSZHcm-bo8QV3-h4dC12-d1AVw7-fVfDks-fzStGh-deoB4i-cSZHq7-fgRwzH-d1AVHS-dbreBn-fTV2B6' )
				%h3 You are your own business
				%p.caption Lead projects, create your schedule, manage budgets and even pitch ideas. We&rsquo;ll push you to new heights but you&rsquo;re driving what you love to do. Just go, go, go!
			.video
				.video-box
					%iframe{:src => "//www.youtube.com/embed/uV55TVX5aMA?color=white&theme=light&showinfo=0", :frameborder => "0", :allowfullscreen => ''}
				%h3 Work + Play
				%p.caption
					We feel it is important to have a healthy work/life balance to stay sharp. You won&rsquo;t find anyone counting sick or vacation days here. Just be responsible.
			.photo
				= image_tag('careers/yang-dan-ux-designer.jpg')
				%h3.quote
					&ldquo;My internship at Invo taught me how software actually gets planned, designed and made in the real-world. I got to contribute design for PTC&rsquo;s Pro/ENGINEER, working alongside many software designers with decades of experience. RIT taught me book knowledge, however my practical education happened at Involution Studios.&rdquo;
				%p.caption
					Yang Dan
					%br/
					RIT Class of 2010
					%br/
					Intern
		.centerContent
			%h3.title
				Designer and Engineer
			#designer.career-path
				.subtitle
					%p Intern or Seasoned Veteran
				%p We&rsquo;re looking for a designer and an engineer to join our intimate studio.
				%p
					If you&rsquo;re familiar with our work, you know we design, build, and ship beautiful software for companies of all sizes, like Apple, Microsoft, and Oracle, to micro startups. Often the applications require dealing with big data, involved workflows, information visualization, and competing business and design directions. We wrangle all of these variables, are hyper-concerned about guiding people through tough decisions, and produce eyebrow-raising results.
				%p Our idealized candidate can be described in this way:
				%p
					%strong> First and foremost
					, you need to be exceptional: loving to design and build software, making is in your DNA, solving crazy problems with 50 different crazy solutions. You need to have a proven track record of designing software that has shipped.
				%p
					%strong> Second
					, you need to be a system thinker and serial do&rsquo;er: to see more than just the design and production tasks but the entire product ecosystem, to having a firm grasp of engineering principles and business practices. You will need to lead not just yourself but other studio&rsquo;ites and clients. Your responsibilities include leading projects and, over time, learning how to manage the entire service (from development to user interface design to process engineering to staffing to budget to customer service) to designing software that is destined to ship. You will not be a cog in a machine. Your ideas will directly shape the experiences you create. Ultimately, you will be your own business unit within the studio and grappling with the holy trinity: design, technology, and business.
				%p
					%strong> Third
					, you have to really care about Design, your fellow staff, and Spaceship Earth: being adrenalized about business, writing, open source, design, innovation, craftsmanship, fun. You are given great freedom and responsibility for managing your own work program to mentoring staff to driving company goals. Taking pride in and feeling responsible for a high degree of personal ownership in your work is critical because thousands to millions of people will immediately interact with your finished designs. We are looking for a passionate, inspiring, design-obsessed apostle who can increase our IQs (as well as dramatically increase your own).
				%p That&rsquo;s the kind of person we want. If you have those three qualities, just about anything else is negotiable.
				%p If you have any questions about the position, please email me.
				%p To apply, send me your resume, portfolio, and phone number so we can chat.
				%p
					Looking forward,
					%br/
					Juhan Sonin, Chief Creative Officer
					%br/
					= mail_to 'juhan@goinvo.com'
				%h1.form-title Apply
				<script charset="utf-8" src="http://js.hsforms.net/forms/current.js"></script><script> hbspt.forms.create({ portalId: '356419',formId: 'dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b', css:''  });</script>
		%aside.sidebar.right
			.photo
				= link_to( image_tag('careers/boston-user-experience-lunches.jpg'), 'https://www.flickr.com/photos/juhansonin/11358405073/' )
				%h3 Break bread
				%p.caption We believe strongly in maintaining a healthy life so we keep a healthy, fully stocked kitchen and any gadget you need for a healthy lifestyle. We also regularly have group trips outside the studio to have fun like bowling or skiing.
			.video
				= link_to( image_tag('careers/studio-artists.jpg'), 'https://www.flickr.com/photos/juhansonin/6831160150/in/photolist-9RSKPf-iiGN7e-iiG32T-bpDtVh-kWdgFd-9WcgCi-i9L2Y1-aBPfS3-9SdH67-dLC7CG-kSCEHb-fh6Lhw-ePEHqf-iiG3ra-ggPmfb-fzStZd-h4dKrV-eKNTRB-kF3R7G-azFVgT-e6ozvb-aggYQy-cRgzHL-fSVxMA-ei3QrF-7xBHGy-fWbEZH-cdSuGh-9SaNdp-fmtodR-fzStGh-fgRwzH-jJz9zi-ggPjQY-jJC5dN-muaFT5-k47W5X-kA1hiE-bpDtLw-aWcGyF-d9y45h-cADQ2s-mjoeeY-cSZGGN-gyuN6o-bmLtxq-auEFYE-dauHP3-auEG1d-bCyqP4' )
				%h3 Makers and doers
				%p.caption
					Everyone here is in some way, shape, or form is creating some personal project: from hardware to sculpture to painting to music to software. You&rsquo;ll find no shortage of interesting items being made. Feel free to join!
			.video
				.video-box
					%iframe{:src => "//www.youtube.com/embed/UOahtDB2R8I?color=white&theme=light&showinfo=0", :frameborder => "0", :allowfullscreen => ''}
				.caption-box
					%h3 Smart people, all-around
					%p.caption
						Our eclectic background here ranges from industrial design, software design, movie production, music, engineering, and mechanical engineering. You&rsquo;ll get plenty of varying perspectives to up-level your thinking.
			.photo
				= link_to( image_tag('careers/dawa-chung-ui-designer.jpg'), 'https://www.flickr.com/photos/juhansonin/5574930903/in/photolist-8PPaZx-aggYQy-bzEAXv-95nKzw-9iJAin-9P83fs-9YpeNW-9b1TCZ-8LwSbJ-8QzzeL-8LtMyK-9iMJ1Y-9uCYJk-9uFZ6m-boKicE-bHSye2-aWcGyF-aWcBcz' )
				%h3.quote
					&ldquo;I love beautiful things. Being a graphic designer is something I&rsquo;ve wanted for a long time. I never thought about designing software, but every day more of how I spend my time is with one app or another. The challenge of creating beautiful software is an exciting one, and I don&rsquo;t think there is a better place to do that than at Involution. There is so much knowledge wrapped up in these people, and the great hands-on direction and assistance I&rsquo;m getting really is a second education.&rdquo;
				%p.caption
					Dawa Chung
					%br/
					RISD Class of 2010
					%br/
					Apprentice
