- content_for(:title) do
  = "Pulse of Involution Studios"
- content_for(:page_head) do
  = stylesheet_link_tag "sections/studio"
  = javascript_include_tag 'vendor/imagesloaded'
  = javascript_include_tag 'live'
  = javascript_include_tag 'studio'
  %meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
  %meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/
  
%article#the-studio
  %header.hero
    #video-bg
      <video autoplay loop muted preload><source type="video/webm" src="../videos/beth-live.webmhd.webm"><source type="video/mp4" src="../videos/beth-live.mp4"></video>
    .title
      %h2 Studio
      %h3 The social media feed for the Invo team.
  #social-section
    .content
  .bottom Loading social media posts!
   