- content_for(:title) do
  = "Pulse of Involution Studios"
- content_for(:page_head) do
  = stylesheet_link_tag "sections/studio"
  = javascript_include_tag 'vendor/imagesloaded'
  = javascript_include_tag 'live'
  = javascript_include_tag 'studio'
  - meta = page_for_meta("careers")
  %meta{:name => "description", :content => "#{meta.description}" }
  %meta{:name => "keywords", :content => "#{meta.keywords}" }
  %meta{:name => "twitter:card", :content => "#{meta.twittertitle}"}
  %meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
  %meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
  %meta{:name => "twitter:description", :content => "#{meta.description}"}
  - if (meta.twitterimage)
    %meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
%article#the-studio
  %header.hero
    #video-bg
      <video autoplay loop muted preload><source type="video/webm" src="../../videos/beth_2.webmhd.webm"><source type="video/mp4" src="../../videos/beth_1.mp4"></video>
    .title
      %h2 Studio
      %h3 The social media feed for the Invo team.
  #social-section
    .js-disabled-callout.center-it The live feed of Invo's social media is powered by JavaScript. To view the live feed please enable JavaScript and reload the page.
    .content
  .bottom Loading social media posts!
   