- content_for(:title) do
	= "Tabeeb: Rural clinics meet crowdsourced diagnostics."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("tabeeb")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittertitle}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("Tabeeb")

#content-area.caseStudyContent
	.projectData
		%h1.client{style: "color: #{client.primary_color}; margin-bottom: 0px;"} Tabeeb:
		%h5.client.title-with-sub{style: "color: #{client.primary_color}; font-weight: 100;"} Rural clinics meet crowdsourced diagnostics

		%h6.subheader Results

		%p Bringing global medical specialists to rural communities with the flick of a finger.

		%h6.subheader Details

		%p Our Design Acceleration&reg; consulting turned Tabeeb's vision into an innovative and scalable product.

		%ul
			%li Created concepts and prototypes, tested them with clinicians
			%li Architected a reward and ranking system for participating doctors
			%li Provided Design Swarms&reg; in support of Tabeeb’s internal product development
			%li Created a multi-year vision and evolutionary plan for the service
			%li Helped Tabeeb go from nothing to their v1 release in eight months

		%h6.subheader Practice Areas
		%p.small-bottom-margin Healthcare, Cross-Platform

		%h6.subheader Project Type
		%p.small-bottom-margin Design Acceleration, Strategic Consulting, Design Direction

		%h6.subheader Process
		%p.small-bottom-margin Learn, Envision, Blueprint, Craft, Prototype

		%h6.subheader Price
		%p $100k &ndash; $200k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img{alt: "Remote diagnosis user experience design.", src: "../../images/clients/tabeeb/tabeeb-open-case-ux-design.png"}

		%p The smartphone is the doctor's bag for the 21st century. Its ability as a diagnostic tool, information repository, and rich, real-time communication device is unprecedented in the history of medicine. At the same time, healthcare for people in rural and remote areas actually has a larger gap compared to wealthy, urban areas than the early days of modern medicine. Identifying these trends, Tabeeb saw an opportunity to create software with an optimal mobile interface that not only gives doctors everywhere more power and capability, but takes those fruits and harvests them for the benefit of those who are under-served and traditionally more difficult to serve.

		%p Needing an expert in healthcare software Tabeeb asked Involution to help. We came in when the product was just an idea with a mandate to help them take that idea and turn it into exceptional software. Already experienced in making software for doctors and clinical settings we were immediately able to help Tabeeb catalyze a practical vision and then rapidly turn it into articulated concepts. Rapid testing with clinicians led into an iterative rapid prototyping phase. Thanks to our experience in these spaces and the speed and quality of our healthcare design studio we were able to save months compared to a typical research, design, and testing process. Tabeeb's internal team then took the comprehensive architecture we provided and crafted the core design and engineering in-house. During this process they periodically engaged Involution for our Design Swarm&reg; services, where a team of our product, design, and engineering professionals spend a few days providing a comprehensive review of the team's output.

		%p Even though Tabeeb was invested in their internal product organization they needed two things that they could not get from it: blazing speed, and truly exceptional quality. With Involution they got both. On the speed front, our team has been working together and exploring channels of innovation manifest in research, design, and engineering every day. We were well into the process when a less practiced team would still be ramping up. Combined with our experience in healthcare and specifically with Tabeeb's target customers we were better-suited for this work than most internal teams can hope to be. On the quality front, the designs speak for themselves. The time and money saved by Tabeeb in the process of getting an exceptional product thus enabled increased velocity and opportunities for success in other parts of the business.

		%div
			%img.with-caption{alt: "Concept sketches for telemedicine application.", src: "../../images/clients/tabeeb/tabeeb-concept-sketch.png"}/
		%p.caption Concept sketches for crowdsourcing a diagnosis.

		%div
			%img.with-caption{alt: "User experience workflow setting up a patient case.", src: "../../images/clients/tabeeb/tabeeb-workflow-map.png"}/
		%p.caption Lightweight workflow for setting up a patient case.

		%div
			%img.with-caption{alt: "Patient diagnosis user experience design", src: "../../images/clients/tabeeb/tabeeb-patient-case-timeline.jpg"}/
		%p.caption Timeline view of a patient case.

		%div
			%img.with-caption{alt: "Remote diagnosis user interface design", src: "../../images/clients/tabeeb/tabeeb-user-interface-notes.jpg"}/
		%p.caption Workflow documentation for the patient case screen.

#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
