- content_for(:title) do
	= "Application and UI Design for Microsoft Expression Studio"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	%meta{:name => "description", :content => "Boston area UI design firm Involution created design patterns to lead the redesign of Microsoft&rsquo;s Expression Studio."}/
	%meta{:name => "keywords", :content => "application design, user interface design, designer tools, developer tools, microsoft, expression, involution, boston user interface design"}/
- client = client_for_name("Microsoft")

#content-area.caseStudyContent
	.projectData
		%h1.client{style: "color: #{client.primary_color}"} Microsoft

		%h6.subheader Results
		%p Invo&rsquo;s redesign transformed one of Expression Web&rsquo;s key features, Super Preview, from having 60% of the screen being dedicated to UI an affordances to under 10%, all while improving functionality and usability.

		%p.quote The biggest of Expression Web&rsquo;s add-ons is the [Involution Studios designed] SuperPreview feature.
		%p.caption Digital Arts Online

		%h6.subheader Details
		%p Robust design and development tool for creative professionals.
		%ul
			%li Microsoft wanted to redesign their entire Expression Studio but needed an affordable and &ldquo;bottom-up&rdquo; approach
			%li Invo re-did the key SuperPreview feature with an eye to a new system design
			%li Worked directly and collaboratively with the Microsoft product and technical leads
			%li Just 12 weeks for the Super Preview redesign and establishment of design patterns for Microsoft to internally deploy across Expression Studio

		%h6.subheader Practice Areas
		%p Professional Design Tools

		%h6.subheader Project Type
		%p UX Strategy &amp; Design

		%h6.subheader Process
		%p Learning, Envision, Blueprint

		%h6.subheader Price
		%p $100k &ndash; $200k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img{alt: "Redesigned interface in Expression Studio", src: "../../images/clients/microsoft/microsoft-expression-studio-redesign.jpg"}
		%p With Expression Studio, Microsoft set off on the challenge to enter the market for software professionals dominated by Adobe. Perhaps not surprisingly, their early versions of the product were not well-received, a combination of the difficulty of fighting Adobe&rsquo;s dominant market share and the pitfalls and rough edges of releasing a complex new product outside of the company&rsquo;s competencies. Identifying the interface design as one of the key areas for improvement Microsoft turned to Involution.
		%p Microsoft wanted to take a &ldquo;bottom-up&rdquo; approach to a full redesign for the launch of Expression Studio 3, having Involution design what they expected to be the hottest new feature of the suite, SuperPreview. Microsoft asked Involution to redesign this major feature with an eye toward creating design patterns and standards that Microsoft could implement and expand through the entire product.
		%p Buoyed by user research and insight into the complex nature of the problem, Involution took the original Microsoft designs for SuperPreview and turned the design philosophy on its head. Recognizing that what users really cared about was their viewable space Involution created a smart, tools-based approach to the UI that kept all of the powerful features and functions of SuperPreview easily available, while enabling the user to naturally have 90% of the screen real estate dedicated to their use cases. This distinguished SuperPreview as a premium feature from the first time it was previewed, and helped lead the internal Microsoft team on their broader redesign.
		%div
			%img.with-caption{alt: "Screenshot of the original SuperPreview interface.", src: "../../images/clients/microsoft/microsoft-old-expression-studio.jpg"}/
		%p.caption Taking a more traditional UI approach, Microsoft&rsquo;s original design for SuperPreview was heavy on the tools, light on the workspace.
		%div
			%img.with-caption{alt: "Sketches of new interface", src: "../../images/clients/microsoft/microsoft-expression-studio-ui-sketches.jpg"}/
		%p.caption Pencil and paper is the best way to explore ideas and iterate quickly.
		%div
			%img.with-caption{alt: "Inital desing comps", src: "../../images/clients/microsoft/microsoft-expression-studio-product-architecture.jpg"}/
		%p.caption With many use cases and screen states to consider we carefully worked through all of the permutations to make a design that worked.
		%div
			%img.with-caption{alt: "Protoyype of the new UI", src: "../../images/clients/microsoft/microsoft-expression-studio-prototype.jpg"}/
		%p.caption We prototyped the design to validate that the user experience in actual use was exemplary.
		%div
			%img.with-caption{alt: "Sketches of UI icons", src: "../../images/clients/microsoft/microsoft-expression-studio-icon-sketches.jpg"}/
		%p.caption The devil is in the details, and the key to this very streamlined-yet-robust interaction model was lovingly crafted, hand-drawn illustrations.
		%div
			%img.with-caption{alt: "The new SuperPreview, complete with redesigned UI.", src: "../../images/clients/microsoft/microsoft-expression-studio-super-preview-design.jpg"}/
		%p.caption When you add it all together you have an attractive, highly usable and useful app.
#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
