- content_for(:title) do
	= "The PGP Gains New Focus &amp; New Business with Invo Workshop"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("personal-genome-project")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = get_project_by_id("personal-genome-project")

%article#complex-case.pgp
	%header.hero
		.row
			.medium-6.small-12.small-centered.columns
				.title
					.inner-title
						%h1 Personal Genome Project:
						%h3 The PGP Gains New Business Focus with Invo Workshop
	.row#mainContent
		.medium-6.small-12.small-centered.columns
			%p <a href="http://personalgenomes.org/">The Personal Genome Project (PGP)</a> needed some perspective. It&rsquo;s mission is to sequence and publicize 100,000 volunteers&rsquo; genomes in hope personal genomes will be used to improve the management of human health and disease. But every PGP member saw the organization functioning differently with different objectives, and in the end PGP&rsquo;s partners and users were the ones suffering. To help understand how the PGP could better fulfill its aims the organization turned to Involution, a studio with a history of innovative design and development solutions that understands the unprecedented impact of health organizations&rsquo; work on our medical, research, and scientific communities. Involution facilitated a one-day exploratory workshop. With Involution&rsquo;s expertise and objectivity, the workshop led to a refocused mission for the PGP and the creation of a new partner organization&ndash;Openhumans.org.

			.center-image-content.large
				%img.small-top-margin{:src => "../../images/clients/personal-genome-project/pgp-ecosystem-sketch.jpg", :alt => "Sketches of the PGP ecosystem."}
				.caption.small-bottom-margin The Involution team mapped the PGP ecosystem by hand, identifying all potential users (wanted and unwanted).

			%h2 Mapping the Problem
			%p The PGP sought out Involution for its reputation of creating adaptable user experiences that meet both current and future needs. Involution&rsquo;s team met with the PGP&rsquo;s staff to map the company&rsquo;s ecosystem in order to visually understand how the organization was functioning. Jason Bobe, executive director of the PGP, believes the workshop gave his team a forum to tease out their big ideas as well as their roles within the organization. &ldquo;It was time for us to step back and talk about what that overarching goal was and we did that through this workshop. It was very helpful.&rdquo; Through several meticulous drawings the PGP finally saw the risks and benefits of their organizational model through the lens of the many different users they were serving.

			%p &ldquo;We really needed a mutual third-party like Involution,&rdquo; said Bobe. With Involution&rsquo;s insight, the PGP saw how it was functioning and where it was suffering. &ldquo;We had a team where we had a bunch of ideas about what we were doing but we didn&rsquo;t have a cohesive, shared understanding and how we were going to do everything we wanted to do.&rdquo; Together, they uncovered multiple challenges that were holding the PGP back.

			%p.bottom The PGP understood that their voluntary members (those who were donating their genome and medical histories) were the type of people who were willing to take on great potential risk to help advance scientific discovery. They had done a good job of educating their members on the possible risks associated with publishing their data for the world to see, however, the members received little to no feedback on if their information was being used, how it was being used, or the potential impact of their contributions. Because members could reclaim their contributions at any time, the PGP needed to find a way to better nurture their member relationships so the project could continue striving toward its goal of 100,000 members.

			%h2 Birth of OpenHumans.org
			%p The result from the daylong workshop was astounding. The PGP knew they needed to make changes, big changes and soon. What resulted was a complete reimagining of their organizational model to separate their member recruitment efforts from the data collection and sequencing, and truly focus on their member relationships. By the end of the exploratory workshop they saw what needed to be done. There came the idea for OpenHumans.org, a service and website that facilitates third-party researchers and others who can access The PGP&rsquo;s database of genomes and medical histories. Members will be able to see how their data is being used to contribute to the advancement of science and medicine. By providing the PGP with the tools and expertise, Involution was able to serve as the catalyst for a new organizational model.

			%p.bottom &ldquo;I hope we get the opportunity to work with Involution again,&rdquo; Bobe said. By engaging Involution early the PGP was able to organize their project correctly, saving them from costly rebranding efforts later on. The impact of the one-day workshop was enormous. The PGP identified core problems and are now adapting their model to better serve their members. Involution hopes to continue its work with the PGP as it advances personal genomic technologies that are effective, informative and responsible.


			.center-image-content.large
				%img.small-top-margin{:src => "../../images/clients/personal-genome-project/lisa-caldwell-leads-pgp.jpg", :alt => "Lisa Caldwell leading user experience discussion."}
				.caption Lisa Caldwell leading user experience discussion.

			.center-image-content.large
				%img{:src => "../../images/clients/personal-genome-project/pgp-ecosystem-map-handdrawn.jpg", :alt => "Kimberly Chang and Reshma Mehta, the Involution team, maps out possible solutions to the current ecosystem."}
				.caption.large-bottom-margin Kimberly Chang and Reshma Mehta, the Involution team, maps out possible solutions to the current ecosystem.
			.center-image-content.large
				%img{:src => "../../images/clients/personal-genome-project/pgp-openhumans-ecosystem-white.png", :alt => "The new Open Humans ecosystem map that paved the way for all the PGP, Havard Medical, and international stakeholders to easily see the road ahead."}
				.caption.large-bottom-margin The new Open Humans ecosystem map that paved the way for all the PGP, Havard Medical, and international stakeholders to easily see the road ahead.

.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%h1#next
