- content_for(:title) do
	= "Designing for Type I and Type II Diabetes"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("diabetes")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = get_project_by_id("diabetes")

%article#complex-case.diabetes
	%header.hero
		.medium-6.small-12.small-centered.columns
			.title
				.inner-title
					%h1 Live your life, <br />not the condition.
					%h3 We understand living with, treating, and designing for Type I and Type II Diabetes.
	#mainContent
		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/diabetes-needs-map.jpg", :alt => "Needs Map of a patient living with Diabetes."}

		%h2 We have researched, designed, tested, and validated chronic condition management software and hardware that drive life-critical medical decisions.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/ux-diabetes-research.jpg", :alt => "Collecting and coalescing user feedback to inform design decisions."}

		%p Collecting and coalescing user feedback to inform design decisions.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/early-concept-sketches.jpg", :alt => "Early conceptual sketches of the software and hardware."}

		%p Early conceptual sketches of the software and hardware.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/user-testing-diabetes-devices.jpg", :alt => "Testing key human factor issues such as workflow, ease of use, contrast, low-light readability, and handling life-critical situations."}

		%p Testing key human factor issues such as workflow, ease of use, contrast, low-light readability, and handling life-critical situations.

		%h2 We've conducted market and gap analysis to steer business, technology, and design requirements.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/technology-exploration.jpg", :alt => "Exploring the market of emerging technologies."}

		%p Exploring the market of emerging technologies.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/product-blueprint.jpg", :alt => "Defining the features and functionality to scope engineering."}

		%p Defining the features and functionality to scope engineering.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/whiteboard-user-research.jpg", :alt => "A war room for design helps with spatial memory, manipulating ideas, and building shared understanding."}

		%p A "war room" for design helps with spatial memory, manipulating ideas, and building shared understanding.

		%h2 We've designed battle-tested and FDA approved medical services.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/ux-diabetes-device.jpg", :alt => "People can easily care for themselves on the go."}

		%p People can easily care for themselves on the go.

.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%h1#next
