- content_for(:title) do
	= "Designing for Type I and Type II Diabetes"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("diabetes")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("Diabetes")

%article#complex-case.diabetes
	%header.hero
		.medium-6.small-12.small-centered.columns
			.title
				.inner-title
					%h2 Live your life, <br />not the condition.
					%h3 We understand living with, treating, and designing for Type I and Type II Diabetes.
	#mainContent
		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/diabetes-needs-map.jpg", :alt => "Needs Map of a patient living with Diabetes."}

		%h3 We have researched, tested, and validated chronic condition management software and hardware that drive life-critical medical decisions.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/ux-diabetes-research.jpg", :alt => "Discussing the feedback from user testing. "}

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/early-concept-sketches.jpg", :alt => "Conceptual sketches of the software for managing Diabetes."}

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/user-testing-diabetes-devices.jpg", :alt => "Testing 3D printed device concepts for user feedback."}

		%h3 We've conducted market and gap analysis to steer business, technology, and design requirements.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/technology-exploration.jpg", :alt => "Exploring the market of emerging technologies to possibly leverage."}

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/product-blueprint.jpg", :alt => "Product Blueprint to define the features and functionality."}

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/whiteboard-user-research.jpg", :alt => "War room for designing the product."}

		%h3 We've designed battle-tested and FDA approved medical services.

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/diabetes-device-concept.jpg", :alt => "3D concept of a physical device for managing Diabetes."}

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/diabetes-device-ui-concept.jpg", :alt => "Viewing a persons current glucose status and how it is changing."}

		.center-image-content.large
			%img{:src => "../../images/clients/diabetes/ux-diabetes-device.jpg", :alt => "Managing Diabetes on the go."}
		
.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
