- content_for(:title) do
	= "Marketing optimization tool for Fortune 500 brands."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("nielsen")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("Nielsen")

#content-area.caseStudyContent
	.projectData
		%h1.client.title-with-sub{style: "color: #{client.primary_color}; margin-bottom: 0px;"} Nielsen
		%h5.client.title-with-sub{style: "color: #{client.primary_color}; font-weight: 100;"} (formerly Affinnova)

		%h6.subheader Results

		%p Before Invo's work on Concept Studio, a team of Nielsen members manually built idea matrixes for each customer. Now the customers do it for themselves &mdash; instantly.

		%p.quote Nielsen bought Affinnova – in large part because we are the industry leader in providing a client-facing platform. It is now a central force in the strategy of the Innovation Practice.
		%p.caption Steve Lamoureux, Chief Product Officer, Nielsen

		%h6.subheader Details
		%p Product marketing workflow &amp; testing system.
		%ul
			%li Introduced UX as part of their strategically prioritizing it
			%li Completely redesigned their initial prototype
			%li Engineered the UI and stayed with their back-end team
			%li Helped them hire internal UX staff while training the org best practices
			%li Almost 6 months on the core project

		%h6.subheader Practice Areas
		%p Ad Tech, Marketing Optimization

		%h6.subheader Project Type
		%p UI Design, Engineering

		%h6.subheader Process
		%p Learning, Envision, Blueprint, Craft, Build

		%h6.subheader Price
		%p $200k &ndash; $500k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img.with-caption{alt: "Affinnova", src: "../../images/clients/affinnova/affinnova-concept-studio-ui-design.jpg"}
		%p.caption Affinnova's Concept Studio gives marketing organizations a powerful tool to test and uplevel their marketing.

		%p Great marketing is the triangulation of speed, timing and great creative. Affinnova, founded in 2000 by two Massachusetts Institute of Technology (MIT) PhD&rsquo;s, uses patented product development technology to help their customers &ndash; marketing companies and organizations &ndash; quickly and radically innovate. Seeing an opportunity to help their customers further accelerate their innovation cycles, the Affinnova team prototyped a new Concept Studio. However, the complexity and power of the vision resulted in a prototype that did not have an adequate user experience. That&rsquo;s when Affinnova called Involution.
		%p We love complex apps, and the Affinnova Concept Studio gave us a lot to dig into. Starting with our product architecture process &ndash; bringing together our core design team and Affinnova&rsquo;s core product team &ndash; we refined the vision for Concept Studio. The subsequent design process birthed a dynamic application that fully manifested Affinnova&rsquo;s hopes for its potential. Prototypes were very successful with customers and the market.
		%p But it didn&rsquo;t end there. The crispness of the initial app enabled Affinnova to see more market opportunities, and we re-engaged to further diversify and expand the Concept Studio. Combining customer observations and feedback with Affinnova&rsquo;s deep understanding of who they are selling to and why, we extended Concept Studio in ways Affinnova did not originally envision. The result is software that won&rsquo;t just make Affinnova more money, in the words of their Chief Innovation Officer, they expect it to transform their business in fundamental ways. It has changed: Nielsen bought Affinnova in 2014. That&rsquo;s the Involution advantage.
		%div
			%img.with-caption{alt: "Original Concept Studio App, Powerscreener", src: "../../images/clients/affinnova/concept-studio-initial-ui-design.jpg"}/
		%p.caption A great idea trapped in a not-so-great design, Concept Studio badly needed strong design leadership.
		%div
			%img.with-caption{alt: "Product Architecture sticky notes meeting", src: "../../images/clients/affinnova/concept-studio-product-blueprint-stickies.jpg"}/
		%p.caption Key Affinnova stakeholders dug in with the core Involution team to really stretch and imagine the app&rsquo;s potential.
		%div
			%img.with-caption{alt: "Early ui designs", src: "../../images/clients/affinnova/concept-studio-early-ui-redesign.jpg"}/
		%p.caption In our usual quick and effective way we jumped straight from product architecture into high-resolution, pixel perfect screens, allowing rich and relevant feedback early in the project.
		%div
			%img.with-caption{alt: "CSS Development", src: "../../images/clients/affinnova/concept-studio-ui-development.jpg"}/
		%p.caption We prototyped Concept Studio in code from the early weeks, creating a vibrant environment for innovation, iteration and constant improvement.
		%div
			%img.with-caption{alt: "Visual rule creation", src: "../../images/clients/affinnova/concept-studio-rules-user-experience-design.jpg"}/
		%p.caption A visual user interface for creating rules between elements helped people see and create relationships.
		%div
			%img.with-caption{alt: "Rules Engine UI Design", src: "../../images/clients/affinnova/concept-studio-rules-ui-design.jpg"}/
		%p.caption The finished Concept Studio hit every basic design requirement we insist on: useful, usable and appropriately beautiful.

#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
