- content_for(:title) do
    = "Determinants of Health"
- content_for(:page_head) do
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,700"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Raleway:400,300,600"
    = stylesheet_link_tag "feature-elements"
    = stylesheet_link_tag "features/determinants-of-health/skeleton"
    = stylesheet_link_tag "features/determinants-of-health/normalize"
    = stylesheet_link_tag "features/determinants-of-health/determinants-of-health"
    = javascript_include_tag "//www.gstatic.com/charts/loader.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
    = javascript_include_tag "features/determinants-of-health/visualization.js"
    <script type="text/template" id="determinant-info-template"><h4><%= data.getValue(determinantIndex, 0) %></h4><% _.each(data.getValue(determinantIndex, 2), function(description) { %><p><%= description %></p><% }); %><div id='factors'><% _.each(data.getValue(determinantIndex, 3), function(division) { %><div class='factor'><h5> <%= division.title %></h5><% if (division.factors) { %><ul><% _.each(division.factors, function(factor) { %><li><%= factor %></li><% }); %></ul><% } %></div><% }); %></div></script>
    - meta = page_for_meta("determinants-of-health")
    %meta{:name => "description", :content => "#{meta.description}" }
    %meta{:name => "keywords", :content => "#{meta.keywords}" }
    %meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
    %meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
    %meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
    %meta{:name => "twitter:description", :content => "#{meta.description}"}
    - if (meta.twitterimage)
        %meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
%header.doh-fixed-header
    %ul.doh-nav
        %li
            %a{ href: 'https://github.com/goinvo/HealthDeterminants/raw/master/poster/health_determinants_poster_42x50.pdf', target: '_blank' }
                <span>Download <span class="doh--hide-tiny"> the Poster</span></span>
        %li
            %a{ href: 'https://www.amazon.com/Determinants-Health-Poster-24-35-75/dp/B06X1GFDH1/', target: '_blank' }
                <span>Buy <span class="doh--hide-tiny"> Print</span></span>
        %li
            %a{ href: '#methodology' } Methodology
        %li
            %a{ href: '#references' } References
%article#feature-article
    %div.doh-container
        %div#header_image
            %h5.row.left_spacing DETERMINANTS
            %h5.row.left_spacing OF HEALTH

        %div#problem_statement
            %div.left_spacing.right_spacing
                %h5.h5.h5--bold Health is More Than Medical Care
                %p 89% of health occurs outside of the clinical space through our genetics, behavior, environment and social circumstances. These factors are known as the social determinants of health. Despite their importance, attempts to integrate the determinants into a single visualization have been limited.
                %p GoInvo identified this gap based on their extensive work as a healthcare design studio and conducted a literature review of sources ( World Health Organization and the Kaiser Family Foundation) and face to face interviews with public policy analysts, health IT experts, and clinical professionals. Relying on their experience of mapping complex systems within healthcare, GoInvo created a comprehensive open source visualization of the social determinants of health.
                %a{ href: '#methodology' } View Methodology
                %a{ href: '#references' } See References

        -# %div.used-at
        -#     %p.text--light.text--center Used at:
        -#     %ul.used-at__list
        -#         %li
        -#             %img{ src: '/images/features/determinants-of-health/used-at/bch.jpg' }
        -#         %li
        -#             %img{ src: '/images/features/determinants-of-health/used-at/mit.jpg' }
        -#         %li
        -#             %img{ src: '/images/features/determinants-of-health/used-at/hit.jpg' }
        -#         %li
        -#             %img{ src: '/images/features/determinants-of-health/used-at/dell-med.jpg' }
        -#         %li
        -#             %img{ src: '/images/features/determinants-of-health/used-at/mitre.jpg' }
        -#         %li
        -#             %img{ src: '/images/features/determinants-of-health/used-at/iora-health.jpg' }

        %div#determinants-chart-wrapper.left_spacing.right_spacing
            %h5.h5.h5--bold Tap the Categories to Explore
            %div#determinants-chart
        %div#determinant-info.left_spacing.right_spacing


        %div#order_poster.left_spacing.right_spacing
            %h5.h5.h5--bold Printable Poster
            <a href='https://github.com/goinvo/HealthDeterminants/tree/master/poster'><img src="../../images/features/determinants-of-health/poster_img.jpg" alt="DoH poster"></a>
            <span><img src="../../images/features/determinants-of-health/mockup_img_1.jpg" alt="mockup_img_1"></span><span class='mid'><img src="../../images/features/determinants-of-health/mockup_img_2.jpg" alt="mockup_img_2"></span><span><img src="../../images/features/determinants-of-health/mockup_img_3.jpg" alt="mockup_img_3" style="padding-right:0"></span>

            %p The Determinants of Health is available as a poster, an installation, a download, and an interactive visualization.

            <a class="button" target="_blank" href="https://www.amazon.com/Determinants-Health-Poster-24-35-75/dp/B06X1GFDH1/">
            Order print</a><br>

            <a class="button" target="_blank" href="https://github.com/goinvo/HealthDeterminants/raw/master/poster/health_determinants_poster_42x50.pdf">
            Download poster</a><br>

            %p View Open Source Assets on <a target="_blank" href="https://github.com/goinvo/HealthDeterminants">Github</a>

        %div.about-goinvo.left_spacing.right_spacing
            %h5.h5.h5--bold About GoInvo
            %p GoInvo is a healthcare design company that crafts innovation digital and physical solutions. GoInvo’s deep expertise in Health IT, Genomics, and Open Source health has delivered results for the National Institute of Health, Walgreens, Mount Sinai and Partner Healthcare. Reach out for a custom installation or feedback.
            <a class="button" href="https://www.goinvo.com/healthcare/">
            Our Work</a>
            <a class="button" href="https://www.goinvo.com/contact/">
            Contact Us</a>

        %div.related-work
            %p.text--light.text--center RELATED WORK
            %div.projects-row
                %a.project{ href: "/features/careplans" }
                    %div.top-description
                        %div.desc-text Care Plans
                    %div.image-wrapper
                        %img{ src: "/images/features/careplans/feature_page_1.jpg" }
                    %div.bottom-description A 3 part series
                %a.project{ href: "/features/from-bathroom-to-healthroom" }
                    %div.top-description
                        %div.desc-text From Bathroom to Healthroom
                    %div.image-wrapper
                        %img{ src: "/images/home/bathroom.png" }
                    %div.bottom-description How magical technology will revolutionize human health
                %a.project{ href: "/healthcare/3m" }
                    %div.top-description
                        %div.desc-text Processing $4B/year
                    %div.image-wrapper
                        %img{ src: "/images/healthcare/3m_card.png" }
                    %div.bottom-description How our skunkworks for an ambitious start-up led to a $150M exit.
                    %div.company-name CodeRyte (3M acquisition)

        <hr style="padding:0 auto; margin:0 auto;"></hr>

        %div#methodology
            %div.left_spacing.right_spacing
                <h5 style="letter-spacing:0.1rem; padding-top:2rem;">METHODOLOGY</h5>
                %p Below is a description of the methodology used in creating the Determinants of Health visualization. It is also a record of versioned updates to the methodology and visualization based on continuing research and feedback. Thank you to those who have reached out and helped identify areas to improve.
                %p.bold v1 - 26.Jul.2017
                %p The 5 main determinants of health (genetics, medical care, social circumstances, environment, and individual behavior) were chosen due to their consistency across the following 7 out of 8 organizations:

                <ul>
                <li class="remove_sentence_space">NCHHSTP [1]</li>
                <li class="remove_sentence_space">WHO [2]</li>
                <li class="remove_sentence_space">Healthy People [3]</li>
                <li class="remove_sentence_space">Kaiser Family Foundation [4]</li>
                <li class="remove_sentence_space">NEJM [5]</li>
                <li class="remove_sentence_space">Health Affairs [6]</li>
                <li class="remove_sentence_space">Institute of Medicine [7]</li>
                <li class="remove_sentence_space">New South Wales Department of Health [8]</li>
                </ul>

                %p The lists of determinants published from each of the previously mentioned organizations were compiled and compared [1 - 8]. There was no standard in terms of the number of determinants, hierarchical organization of the determinants, and the naming for the determinants (for example, quality of housing [3] vs residence quality [7]). The most thorough publication for the determinants came from the Institute of Medicine report [7]. Therefore this was the primary source from which the list of 95 determinants within the visualization originated.

                %p The section below documents our analysis of the data and how we calculated the final impact percentages for the 5 main categories of determinants.

                %p The relative contribution of each of the determinant categories to one’s health was found using the estimated values referenced by the seven primary sources listed below.

                <ul>
                <li class="remove_sentence_space">DHHS [9]</li>
                <li class="remove_sentence_space">JAMA [10, 12]</li>
                <li class="remove_sentence_space">Health Affairs [11]</li>
                <li class="remove_sentence_space">PLoS [13]</li>
                <li class="remove_sentence_space">WHO [14]</li>
                <li class="remove_sentence_space">U.Wisconsin [15]</li>
                </ul>

                %p Each determinant category was then averaged based on the values from each of the aforementioned sources (the methodology in the primary sources were different depending on the source. The final percentages should therefore be an estimate and not be viewed as absolute numbers).

                %p.remove_sentence_space Behavior: (50 + 38 + 40 + 39 + 36 + 45 + 30) / 7 = 39.71*
                %p.remove_sentence_space Social: (15 + 40) / 2 = 27.5
                %p.remove_sentence_space Genetics: (20 + 30) / 2 = 25
                %p.remove_sentence_space Medical care: (10 + 10 + 20) / 3 = 13.33
                %p Environment: (20 + 7 + 5 + 5.4 + 3 + 10) / 6 = 8.4
                %p *An original miscalculation of 'Behavior' has been rectified. The following values have subsequently been updated.
                %p The ratio for each determinant was then found by taking the average values found for each of the determinant categories and dividing them by the total determinant value.
                %p.remove_sentence_space Behavior: 39.71 / 113.94 = 34.85%
                %p.remove_sentence_space Social: 27.5 / 113.94 = 24.14%
                %p.remove_sentence_space Genetics: 25 / 113.94 = 21.94%
                %p.remove_sentence_space Medical care: 13.33 / 113.94 = 11.70%
                %p.remove_sentence_space Environment: 8.4 / 113.94 = 7.37%
                %p Total: 34.85 + 24.14 + 21.94 + 11.70 + 7.37 = 100%
                %p The final percentages are as follows.
                %p.remove_sentence_space Behavioral determinants at 35%.
                %p.remove_sentence_space Social determinants at 24%.
                %p.remove_sentence_space Genetic determinants at 22%.
                %p.remove_sentence_space Medical care determinants at 12%.
                %p Environmental determinants at 7%.

                %p.bold v2 - 30.Aug.2017
                %p The following are updated calculations for the relative contributions of each of the determinant categories. The relative contribution of each of the determinant categories to one’s health was found using the values referenced from the six sources listed below.

                <ul>
                <li class="remove_sentence_space">DHHS [9]</li>
                <li class="remove_sentence_space">JAMA [10, 12]</li>
                <li class="remove_sentence_space">Health Affairs [11]</li>
                <li class="remove_sentence_space">WHO [14]</li>
                <li class="remove_sentence_space">U. Wisconsin [15]</li>
                </ul>

                %p Each determinant category value is an average based on adding the values from each of the aforementioned sources.

                %p.remove_sentence_space Behavior: (50% [9] + 42% [10] + 40% [11] + 45% [12] + 30% [15]) / 5 = 41.4%
                %p.remove_sentence_space Social: (15% [11] + 40% [15]) / 2 = 27.5%
                %p.remove_sentence_space Genetics: (20% [9] + 30% [11]) / 2 = 25%
                %p.remove_sentence_space Medical care: (10% [9] + 10% [11] + 20% [15]) / 3 = 13.33...%
                %p Environment: (20% [9] + 3% [10] + 5% [11] + 3.9% [14] + 10% [15]) / 5 = 8.38%

                %p Additional notes on the determinant category values: For source [10], The environmental value of ~3% was based on dividing toxic agent deaths (60,000 deaths. Toxic agents were defined as occupational hazards, environmental pollutants, contaminants of food and water supplies, and components of commercial products) divided by total deaths for that year (2,120,000).

                %p The average values found for each of the determinant categories were each divided by the total determinant value.
                %p.remove_sentence_space Total value: 41.4% + 27.5% + 25% + 13.33...% + 8.38% = 115.6133
                %p.remove_sentence_space Behavior: 41.4% / 115.6133... = 35.81%
                %p.remove_sentence_space Social: 27.5% / 115.6133... = 23.79%
                %p.remove_sentence_space Genetics: 25% / 115.6133... = 21.62%
                %p.remove_sentence_space Medical care: 13.33...% / 115.6133... = 11.53%
                %p.remove_sentence_space Environment: 8.38% / 115.6133... = 7%
                %p The final percentages are as follows.
                %p.remove_sentence_space Behavioral determinants at 36%.
                %p.remove_sentence_space Social determinants at 24%.
                %p.remove_sentence_space Genetic determinants at 22%.
                %p.remove_sentence_space Medical care determinants at 11% (rounded down).
                %p Environmental determinants at 7%.

                <h5 style="letter-spacing:0.1rem; padding-top:2rem;">ADDITIONAL CHANGES</h5>
                %p.bold 14.Feb.2018
                %ul
                    %li
                        Race and ethnicity have been removed from the biology section due to a lack of standard objective criteria in the scientific community surrounding the use of genetics to define race and ethnicity. It has been added to the Social Circumstance section due to its continued social importance in describing groups based on similar characteristics. View the following literature for additional detail:
                        %ul
                            %li Fujimura, J. H., & Rajagopalan, R. (2010). Different differences: The use of ‘genetic ancestry’ versus race in biomedical human genetic research. Social Studies of Science, 41(1), 5-30. doi:10.1177/0306312710379170
                            %li Long, J. C., & Kittles, R. A. (2003). Human Genetic Diversity and the Nonexistence of Biological Races. Human Biology, 75(4), 449-471. doi:10.1353/hub.2003.0058
                            %li AR, T. (2013). Biological races in humans. [Abstract]. Stud Hist Philos Biol Biomed Sci, 262-271. Retrieved February 14, 2018, from https://www.ncbi.nlm.nih.gov/pubmed/23684745.
                            %li Caprio, S., Daniels, S. R., Drewnowski, A., Kaufman, F. R., Palinkas, L. A., Rosenbloom, A. L., . . . Kirkman, M. S. (2008). Influence of Race, Ethnicity, and Culture on Childhood Obesity: Implications for Prevention and Treatment. Obesity, 16(12), 2566-2577. doi:10.1038/oby.2008.398
                    %li Discrimination can be further subdivided into racial, ethnic, gender, sexuality, and age based discrimination.
                    %li Poster images have been updated based on the updated Aug 2017 calculations.

        <hr style="padding:0 auto; margin:0 auto;"></hr>

        %div#references.left_spacing.right_spacing
            <h5 style="letter-spacing:0.1rem;">REFERENCES</h5>
            %ol
                <li>NCHHSTP Social Determinants of Health. (2014). Retrieved March 14, 2016, from <a href='http://www.cdc.gov/nchhstp/socialdeterminants/definitions.html/'>http://www.cdc.gov/nchhstp/socialdeterminants/definitions.html</a></li>
                <li>The determinants of health. (n.d.). Retrieved March 14, 2016, from <a href='http://www.who.int/hia/evidence/doh/en/'>http://www.who.int/hia/evidence/doh/en/</a></li>
                <li>Social Determinants of Health. (n.d.). Retrieved March 14, 2016, from <a href='https://www.healthypeople.gov/2020/topics-objectives/topic/social-determinants-of-health'>https://www.healthypeople.gov/2020/topics-objectives/topic/social-determinants-of-health</a></li>
                <li>Beyond Health Care: The Role of Social Determinants in Promoting Health and Health Equity. (n.d.). Retrieved March 14, 2016, from <a href='http://kff.org/disparities-policy/issue-brief/beyond-health-care-the-role-of-social-determinants-in-promoting-health-and-health-equity/'>http://kff.org/disparities-policy/issue-brief/beyond-health-care-the-role-of-social-determinants-in-promoting-health-and-health-equity/</a></li>
                <li>Schroeder, S. A. (2007). We Can Do Better — Improving the Health of the American People. New England Journal of Medicine N Engl J Med,357(12), 1221-1228.</li>
                <li>The Relative Contribution of Multiple Determinants to Health Outcomes. (n.d.). Retrieved March 14, 2016, from <a href='http://healthaffairs.org/healthpolicybriefs/brief_pdfs/healthpolicybrief_123.pdf'>http://healthaffairs.org/healthpolicybriefs/brief_pdfs/healthpolicybrief_123.pdf</a></li>
                <li>Capturing social and behavioral domains and measures in electronic health records: Phase 2. (2014). Washington D.C.: The National Academies Press.</li>
                <li>Gruszin, S., &amp; Jorm, L. (2010, December). Public Health Classifications Project (Rep.). Retrieved March 15, 2016, from New South Wales Department of Health website: <a href='http://www.health.nsw.gov.au/hsnsw/Publications/classifications-project.pdf'>http://www.health.nsw.gov.au/hsnsw/Publications/classifications-project.pdf</a></li>
                <li>DHHS, Public Health Service. “Ten Leading Causes of Death in the United States.” Atlanta (GA): Bureau of State Services, July 1980</li>
                <li>J.M.McGinnis and W.H.Foege. “Actual Causes of Death in the United States.” JAMA 270, No. 18 (1993):2207-12</li>
                <li>J.M.McGinnis et al, “The Case for More Active Policy Attention to Health Promotion.” Health Affairs 21, no.2 (2002):78-93</li>
                <li>A.Mokdad et al. “Actual Causes of Death in the United States 2000.” JAMA 291, no.10 (2004):1238-45</li>
                <li>G.Danaei et al, “The Preventable Cuases of Death in the United States: Comparative Risk Assessment of Dietary, Lifestyle, and Metabolic Risk Factors.” PLoS Medicine 6, no. 4 (2009):e1000058</li>
                <li>World Health Organization, Global Health Risks: Mortality and Burden of Disease Attributable to Selected Major Risks, Geneva: WHO, 2009</li>
                <li>B. Booske et al., “Different Perspectives for Assigning Weights to Determinants of Health.” County Health Rankings Working Paper. Madison (WI): University of Wisconsin Population Health Institute, 2010</li>
                <li>Schneiderman, N., Ironson, G., &amp; Siegel, S. D. (2005). STRESS AND HEALTH: Psychological, Behavioral, and Biological Determinants. Annual Review of Clinical Psychology, 1, 607-628. Retrieved March 16, 2016, from <a href='http://www.annualreviews.org/doi/abs/10.1146/annurev.clinpsy.1.102803.144141?url_ver=Z39.88-2003&rfr_dat=cr_pub=pubmed&rfr_id=ori:rid:crossref.org&journalCode=clinpsy'>http://www.annualreviews.org/doi/abs/10.1146/annurev.clinpsy.1.102803.144141?url_ver=Z39.88-2003&amp;rfr_dat=cr_pub=pubmed&amp;rfr_id=ori:rid:crossref.org&amp;journalCode=clinpsy</a></li>

        <hr style="padding:0 auto; margin:0 auto;"></hr>

        %div#credits
            %div.left_spacing.right_spacing
                <h5 style="padding-top:3rem">AUTHORS</h5>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/edwin_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">GoInvo</p>
                        <p class="name">Edwin Choi</p>
                        <p class="description">
                        Edwin is a biologist turned designer. Combining the sciences and art, he orchestrates healthcare software experiences to be beautiful and clinically refined. Edwin joined Invo in 2015, is a graduate of University of Washington, and has a masters in biomedical design from Johns Hopkins University.
                        </p>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/hrothgar_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">GoInvo</p>
                        <p class="name">Hrothgar</p>
                        <p class="description">
                        Hrothgar is a designer and engineer. Trained as a mathematician, he combines elegance and rigor in software development and interface design. Hrothgar is a graduate of Rice University, and joined Invo in 2016 following doctoral studies at the University of Oxford.
                        </p>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/juhan_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">GoInvo, MIT</p>
                        <p class="name">Juhan Sonin</p>
                        <p class="description">
                        Juhan specialized in software design and system engineering. He operates, and is the director of, GoInvo. He has worked at Apple, National Center for Supercomputing Applications, Massachusetts Institute of Technology (MIT), and MITRE. Juhan co-founded Invo Boston in 2009 and is a graduate of the University of Illinois at Urbana-Champaign. He currently lectures at MIT.
                        </p>

                <h5 style="padding-top:1rem">CONTRIBUTORS</h5>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/kelsey_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">Dartmouth College</p>
                        <p class="name">Kelsey Kittleson</p>
                        <p class="description">
                        Kelsey is a designer and engineer. She specializes in taking an analytical approach to problem solving while focusing on human needs. She is currently studying engineering with a concentration in human-centered design and product development at Dartmouth College.
                        </p>

        %div
            <p style="opacity: 0.5; padding:2rem 2rem 0; text-align:center;">Copyright &copy; 2016 GoInvo LLC&nbsp; &nbsp;|&nbsp; &nbsp;Licensed under Creative Commons Attribution v3</p>
