- content_for(:title) do
    = "Social Determinants of Health"
- content_for(:page_head) do
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,700"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Raleway:400,300,600"
    = stylesheet_link_tag "vendor/normalize"
    = stylesheet_link_tag "vendor/skeleton"
    = stylesheet_link_tag "features/determinants-of-health"
    = stylesheet_link_tag "feature-elements"
    = javascript_include_tag "//www.gstatic.com/charts/loader.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
    = javascript_include_tag "features/determinants-of-health/visualization.js"

    - meta = page_for_meta("determinants-of-health")
    %meta{:name => "description", :content => "#{meta.description}" }
    %meta{:name => "keywords", :content => "#{meta.keywords}" }
    %meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
    %meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
    %meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
    %meta{:name => "twitter:description", :content => "#{meta.description}"}
    - if (meta.twitterimage)
        %meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
    %div.container
        %div.row
            %div.twelve.columns#header
                %div.left_spacing
                    %h5
                        <a href="#"><span style="margin-right: 4%">Home</span><a href="#determinants-chart"><span style="margin-right: 4%">Determinants</span></a><a href="#use_jump"><span style="margin-right: 4%">Uses</span><a><a href="#contacts"><span style="margin-right: 4%">Contact</span></a>
        %div#header_image
            %h5.row.left_spacing DETERMINANTS
            %h5.row.left_spacing OF HEALTH

        %div#problem_statement
            %div.left_spacing.right_spacing
                %p.emphasize_text PROBLEM
                %hr
                %p Current health systems focus is on clinical care. However, it is necessary to view health as a holistic measure of an individual's entire living situation and life experience. These factors that strongly affect an individuals overall quality of health are the <span style="font-weight: bold">determinants of health</span>.
                %p Extending far beyond medical care, these factors can be used to improve health within the clinical, population, and public health spaces.

        %div#determinants-chart-wrapper.left_spacing.right_spacing
            %div.determinants-chart
        %div#determinant-info.left_spacing.right_spacing


        %div#order_poster.left_spacing.right_spacing
            <img src="../../images/features/determinants-of-health/poster_img.jpg" alt="DoH poster">
            <span><img src="../../images/features/determinants-of-health/mockup_img_1.jpg" alt="mockup_img_1"></span><span><img src="../../images/features/determinants-of-health/mockup_img_2.jpg" alt="mockup_img_2"></span><span><img src="../../images/features/determinants-of-health/mockup_img_3.jpg" alt="mockup_img_3" style="padding-right:0"></span>

            %p The Determinants of Health is available as a poster, an installation, a <a href="https://github.com/goinvo/HealthDeterminants/blob/master/poster/health_determinants_poster_42x50.pdf"><span style="font-weight:bold; color:#1F5279">download</span></a>, and an interactive visualization. <a href="#contacts"><span style="font-weight:bold; color:#1F5279">Contact us</span></a> to order a print.

        <hr style="margin-bottom:0" id="use_jump"></hr>

        %div#uses
            %div.left_spacing.right_spacing
                <p style="padding: 2rem 0rem 1.5rem; font-weight:600; letter-spacing:0.05rem">HOW CAN WE USE THE DETERMINANTS?</p>

        %div#uses_img_1
        %div#uses1
            %div.left_spacing.right_spacing
                %h5 Individualized health care
                %p By having care providers take greater care in learning about a patient's life experience and obtaining a better understanding of how these experiences impact a patient's overall health, they will be able to gtive patients better treatment and more accurate diagnoses due to improved undersatnding of contextual information surrounding the patient.

        %div#uses_img_2
        %div#uses2
            %div.left_spacing.right_spacing
                %h5 Standard health record
                %p In the US there is currently no national standardized health record (SHR). Among the health records that do exist, they are primarily focused on storing clinical information. The determinants of health can be used to create an SHR that views health not just at a clinical level, but at a holistic level. Patients should be able to access information that is relevant both inside and outside the clinical space, giving further opportunity for improved intervention and self-driven care.
                %p <a href="http://standardhealthrecord.org/">http://standardhealthrecord.org/</a>

        %div#uses_img_3
        %div#uses3
            %div.left_spacing.right_spacing
                %h5 Population health
                %p Greater breadth of data correlating to people and communities will dramatically increase the pool of contextual health data. More targeted public health interventions and policies can be administered. Data scientists would be able to design improved predictive population health models that would be able to more easily track health trends on a large scale, as well as predict future trends and areas of improvement across the country.

        %div#uses_img_4
        %div#uses4
            %div.left_spacing.right_spacing
                %h5 Research and data access
                %p The implementation of the determinants of health paired with the creation of the standard health record (SHR) would result in massive amounts of contextual data that would be available for clinicians, students, patients and laboratories across the country. This new data would enable researchers to track health trends and discover new relatioinships between non-clinical factors and our health.

        %div#contact_section.left_spacing.right_spacing
            %div#contact
                <a name="contacts" style="color:#1D5377"><p class="emphasize_text">GET IN TOUCH</p></a>
                %hr
            %div.row
                %div.twelve.columns
                    <p style='margin-bottom: .5rem'>617-803-7043 · <a style="font-weight:bold; color:#1D5377;" href='mailto:info@goinvo.com'>info@goinvo.com</a></p>
                    <p style="margin-bottom:2rem">Involution Studios, 661 Massachusetts Ave, 3rd Floor, Arlington, MA, 02476</p>
                    <form id="contact_form">
                    <input class="u-full-width" type="email" placeholder="Your email address" id="exampleEmailInput" name="email">
                    <textarea class="u-full-width" placeholder="If you would like to order a poster or learn more about the Determinants of Health, please send us a message. We'll do our best to respond in 2 business hours." id="exampleMessage" name="message"></textarea>
                    <button id="contact_button" type="submit">Start a conversation</button><div id='contact_form_loader'></div>
                    </form>

        <hr style="padding:0 auto; margin:0 auto;"></hr>
        %div#credits
            %div.left_spacing.right_spacing
                <h5 style="padding-top:3rem">AUTHORS</h5>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/edwin_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">Involution Studios</p>
                        <p class="name">Edwin Choi</p>
                        <p class="description">
                        Edwin is a biologist turned designer. Combining the sciences and art, he orchestrates healthcare software experiences to be beautiful and clinically refined. Edwin joined Invo in 2015, is a graduate of University of Washington, and has a masters in biomedical design from Johns Hopkins University.
                        </p>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/hrothgar_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">Involution Studios</p>
                        <p class="name">Hrothgar</p>
                        <p class="description">
                        Hrothgar is a designer and engineer. Trained as a mathematician, he combines elegance and rigor in software development and interface design. Hrothgar is a graduate of Rice University, and joined Invo in 2016 following doctoral studies at the University of Oxford.
                        </p>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/juhan_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">Involution Studios, MIT</p>
                        <p class="name">Juhan Sonin</p>
                        <p class="description">
                        Juhan specialized in software design and system engineering. He operates, and is the director of, Involution Studios. He has worked at Apple, National Center for Supercomputing Applications, Massachusetts Institute of Technology (MIT), and MITRE. Juhan co-founded Invo Boston in 2009 and is a graduate of the University of Illinois at Urbana-Champaign. He currently lectures at MIT.
                        </p>

                <h5 style="padding-top:1rem">CONTRIBUTORS</h5>
                %div.row
                    %div.three.columns
                        <img src="../../images/features/determinants-of-health/kelsey_img.jpg">
                    %div.nine.columns
                        <p class="affiliation">Dartmouth College</p>
                        <p class="name">Kelsey Kittleson</p>
                        <p class="description">
                        Kelsey is a designer and engineer. She specializes in taking an analytical approach to problem solving while focusing on human needs. She is currently studying engineering with a concentration in human-centered design and product development at Dartmouth College.
                        </p>

        <hr style="padding:0 auto; margin:0 auto;"></hr>
        %div#references.left_spacing.right_spacing
            <h5 style="letter-spacing:0.1rem;">REFERENCES</h5>
            %ol
                <li>NCHHSTP Social Determinants of Health. (2014). Retrieved March 14, 2016, from <a href='http://www.cdc.gov/nchhstp/socialdeterminants/definitions.html/'>http://www.cdc.gov/nchhstp/socialdeterminants/definitions.html</a></li>
                <li>The determinants of health. (n.d.). Retrieved March 14, 2016, from <a href='http://www.who.int/hia/evidence/doh/en/'>http://www.who.int/hia/evidence/doh/en/</a></li>
                <li>Social Determinants of Health. (n.d.). Retrieved March 14, 2016, from <a href='https://www.healthypeople.gov/2020/topics-objectives/topic/social-determinants-of-health'>https://www.healthypeople.gov/2020/topics-objectives/topic/social-determinants-of-health</a></li>
                <li>Beyond Health Care: The Role of Social Determinants in Promoting Health and Health Equity. (n.d.). Retrieved March 14, 2016, from <a href='http://kff.org/disparities-policy/issue-brief/beyond-health-care-the-role-of-social-determinants-in-promoting-health-and-health-equity/'>http://kff.org/disparities-policy/issue-brief/beyond-health-care-the-role-of-social-determinants-in-promoting-health-and-health-equity/</a></li>
                <li>Schroeder, S. A. (2007). We Can Do Better — Improving the Health of the American People. New England Journal of Medicine N Engl J Med,357(12), 1221-1228.</li>
                <li>The Relative Contribution of Multiple Determinants to Health Outcomes. (n.d.). Retrieved March 14, 2016, from <a href='http://healthaffairs.org/healthpolicybriefs/brief_pdfs/healthpolicybrief_123.pdf'>http://healthaffairs.org/healthpolicybriefs/brief_pdfs/healthpolicybrief_123.pdf</a></li>
                <li>Capturing social and behavioral domains and measures in electronic health records: Phase 2. (2014). Washington D.C.: The National Academies Press.</li>
                <li>Gruszin, S., &amp; Jorm, L. (2010, December). Public Health Classifications Project (Rep.). Retrieved March 15, 2016, from New South Wales Department of Health website: <a href='http://www.health.nsw.gov.au/hsnsw/Publications/classifications-project.pdf'>http://www.health.nsw.gov.au/hsnsw/Publications/classifications-project.pdf</a></li>
                <li>DHHS, Public Health Service. “Ten Leading Causes of Death in the United States.” Atlanta (GA): Bureau of State Services, July 1980</li>
                <li>J.M.McGinnis and W.H.Foege. “Actual Causes of Death in the United States.” JAMA 270, No. 18 (1993):2207-12</li>
                <li>J.M.McGinnis et al, “The Case for More Active Policy Attention to Health Promotion.” Health Affairs 21, no.2 (2002):78-93</li>
                <li>A.Mokdad et al. “Actual Causes of Death in the United States 2000.” JAMA 291, no.10 (2004):1238-45</li>
                <li>G.Danaei et al, “The Preventable Cuases of Death in the United States: Comparative Risk Assessment of Dietary, Lifestyle, and Metabolic Risk Factors.” PLoS Medicine 6, no. 4 (2009):e1000058</li>
                <li>World Health Organization, Global Health Risks: Mortality and Burden of Disease Attributable to Selected Major Risks, Geneva: WHO, 2009</li>
                <li>B. Booske et al., “Different Perspectives for Assigning Weights to Determinants of Health.” County Health Rankings Working Paper. Madison (WI): University of Wisconsin Population Health Institute, 2010</li>
                <li>Schneiderman, N., Ironson, G., &amp; Siegel, S. D. (2005). STRESS AND HEALTH: Psychological, Behavioral, and Biological Determinants. Annual Review of Clinical Psychology, 1, 607-628. Retrieved March 16, 2016, from <a href='http://www.annualreviews.org/doi/abs/10.1146/annurev.clinpsy.1.102803.144141?url_ver=Z39.88-2003&rfr_dat=cr_pub=pubmed&rfr_id=ori:rid:crossref.org&journalCode=clinpsy'>http://www.annualreviews.org/doi/abs/10.1146/annurev.clinpsy.1.102803.144141?url_ver=Z39.88-2003&amp;rfr_dat=cr_pub=pubmed&amp;rfr_id=ori:rid:crossref.org&amp;journalCode=clinpsy</a></li>


        <hr style="padding:0 auto; margin:0 auto;"></hr>
        %div#methodology
            %div.left_spacing.right_spacing
                <h5 style="letter-spacing:0.1rem; padding-top:2rem;">METHODOLOGY</h5>
                %p The 5 main determinants of health (genetics, medical care, social circumstances, environment, and individual behavior) were chosen due to their consistency across the following 7 out of 8 organizations:

                <ul>
                <li class="remove_sentence_space">NCHHSTP [1]</li>
                <li class="remove_sentence_space">WHO [2]</li>
                <li class="remove_sentence_space">Healthy People [3]</li>
                <li class="remove_sentence_space">Kaiser Family Foundation [4]</li>
                <li class="remove_sentence_space">NEJM [5]</li>
                <li class="remove_sentence_space">Health Affairs [6]</li>
                <li class="remove_sentence_space">Institute of Medicine [7]</li>
                <li class="remove_sentence_space">New South Wales Department of Health [8]</li>
                </ul>

                %p The 29 macrodeterminants and 66 microdeterminants below each main category were found by compiling the determinant lists of the previously mentioned organizations.

                %p The section below documents our analysis of the data and how we calculated the final impact percentages for the 5 main categories of determinants.

                %p The relative contribution of each of the determinant categories to one’s health was found using the estimated values referenced by the seven primary sources listed below.

                <ul>
                <li class="remove_sentence_space">DHHS [9]</li>
                <li class="remove_sentence_space">JAMA [10, 12]</li>
                <li class="remove_sentence_space">Health Affairs [11]</li>
                <li class="remove_sentence_space">PLoS [13]</li>
                <li class="remove_sentence_space">WHO [14]</li>
                <li class="remove_sentence_space">U.Wisconsin [15]</li>
                </ul>

                %p Each determinant category was then averaged based on the values from each of the aforementioned sources (the methodology in the primary sources were different depending on the source. The final percentages should therefore be an estimate and not be viewed as absolute numbers).

                %p.remove_sentence_space Behavior: (50 + 38 + 40 + 39 + 36 + 45 + 30) / 6 = 46.33.
                %p.remove_sentence_space Social: (15 + 40) / 2 = 27.5.
                %p.remove_sentence_space Genetics: (20 + 30) / 2 = 25.
                %p.remove_sentence_space Medical care: (10 + 10 + 20) / 3 = 13.33.
                %p Environment: (20 + 7 + 5 + 5.4 + 3 + 10) / 6 = 8.4.
                %p The ratio for each determinant was then found by taking the average values found for each of the determinant categories and dividing them by the total determinant value.
                %p.remove_sentence_space Behavior: 46.33 / 120.56 = 38.43%.
                %p.remove_sentence_space Social: 27.5 / 120.56 = 22.81%.
                %p.remove_sentence_space Genetics: 25 / 120.56 = 20.74%.
                %p.remove_sentence_space Medical care: 13.33 / 120.56 = 11.06%.
                %p.remove_sentence_space Environment: 8.4 / 120.56 = 7%.
                %p Total: 38.43 + 22.81 + 20.74 + 7 + 11.06 = 100.4%.
                %p The final percentages are as follows.
                %p.remove_sentence_space Behavioral determinants at 38%.
                %p.remove_sentence_space Social determinants at 23%.
                %p.remove_sentence_space Genetic determinants at 21%.
                %p.remove_sentence_space Medical care determinants at 11%.
                %p Environmental determinants at 7%.

        %div.left_spacing.right_spacing
            <p style="opacity: 0.5; padding-top:2rem;">Copyright © 2016 Involution Studios LLC  |  Licensed under Creative Commons Attribution v3  |  Github  |  info@goinvo.com</p>


        %div.footer <span>Licensed under Creative Commons Attribution v3 | Created by <a href="http://www.goinvo.com" target="blank">Goinvo</a> | Send us <a href="mailto:zika@goinvo.com?subject=Feedback for Understanding Zika">Feedback</a> | Check out the <a href="https://github.com/goinvo/InvoUnderstandingZika/" target="blank">GitHub Repo</a></span>
