- content_for(:title) do
	= "Telerik - The brand architecture created by Invo paved the way for the Telerik team to create a selling framework for current and future products. The purchase path for customers became crystal clear."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("telerik")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = get_project_by_id("telerik")

#content-area.caseStudyContent
	.projectData
		%h2.client{style: "color: #{client.primary_color}"} Telerik

		%h6.subheader Results
		%p The brand architecture created by Invo paved the way for the Telerik team to create a selling framework for current and future products. The purchase path for customers became crystal clear.

		%h6.subheader Details
		%ul
			%li Conducted 24 interviews with customers and stakeholders across the key Telerik products.
			%li Detailed brand architecture, information architecture, and workflows for e-commerce service.
			%li Developed a high-level information architecture and navigation schema based on the new brand architecture, which resulted in a navigation system, a set of workflows for key processes and screens.
			%li Delivered customer purchase paths, successful implementation plan, and research findings and brand report for telerik.com.

		%h6.subheader Press
		%p
			%a{href: "http://techcrunch.com/2014/01/28/telerik-launches-new-development-platform-for-web-hybrid-and-native-apps/"} Telerik launches new development platform for web, hybrid, and native apps

		%h6.subheader Practice Areas
		%p Consumer, B2C

		%h6.subheader Project Type
		%p UX Strategy

		%h6.subheader Process
		%p Learning, Envision

		%h6.subheader Price
		%p $50k &ndash; $100k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%p The previous <a href = "http://www.telerik.com">Telerik.com</a> website was the natural result of growth and development. The company and the website had grown in the recent years to house several product families that were divergent both in their individual product lines as well as the audiences that were interested in them. As a result, the website contained a massive amount of information that often resulted in an experience using it that was overwhelming, confusing, or distracting.
		%p In addition, the site didn’t perform an adequate job speaking to the core values of the Telerik brand: quality, support, and innovation.

		%div
			%img.with-caption{alt: "The GoInvo team developed and iterated a brand architecture with the core Telerik team to create a framework for current and future products.", src: "../../images/clients/telerik/invo_telerik_report_purchaseproducts.jpg"}/
		%p.caption The GoInvo team developed and iterated a brand architecture with the core Telerik team to create a framework for current and future products.

		%div
			%img.with-caption{alt: "The research document is a summary of the work done on this Brand Architecture and Information Architecture project, which covered an initial exploration into defining the brand architecture across all Telerik products and the subsequent implications on the information architecture.", src: "../../images/clients/telerik/invo_telerik_report_thumbnails.jpg"}/
		%p.caption The research document is a summary of the work done on this Brand Architecture and Information Architecture project, which covered an initial exploration into defining the brand architecture across all Telerik products and the subsequent implications on the information architecture.

		%div
			%img{alt: "...", src: "../../images/clients/telerik/invo_telerik_report_producttrials.jpg"}/

		%p The Invo team developed and iterated a brand architecture with the core Telerik team to create a framework for current and future products.
		%p The research phase included 24 interviews with customers and stakeholders across the key Telerik products. The interviews informed updates to both Brand Architecture, Information Architecture, and workflows for <a href = "http://www.telerik.com">www.Telerik.com</a>.
		%p.medium-bottom-margin The Invo team also developed a high-level information architecture and navigation schema based on the new brand architecture, which resulted in a navigation system and a set of workflows for a few key processes.

#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%h1#next
