- content_for(:title) do
	= "Application and UI Design for Microsoft Expression Studio"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	%meta{:name => "description", :content => "Boston area UI design firm Involution created design patterns to lead the redesign of Microsoft’s Expression Studio."}/
	%meta{:name => "keywords", :content => "application design, user interface design, designer tools, developer tools, microsoft, expression, involution, boston user interface design"}/
- client = client_for_name("Microsoft")

.row
	.medium-3.small-12.column
		%h1.client{style: "color: #{client.primary_color}"} Microsoft

		%h6.subheader Results

		%p.caption The redesign transformed the original Microsoft design which had dedicated under 40% of screen real estate to what the user wanted to see to over 90%.

		%p.quote The biggest of Expression Web&rsquo;s add-ons is the SuperPreview feature.
		%h6.subheader.name Digital Arts Online

		%h6.subheader Details
		%p.caption
		%ul
			%li

		%h6.subheader Practice Areas
		%p.caption Ad Tech

		%h6.subheader Project Type
		%p.caption Product Strategy, Product Architecture, User Interface Design

		%h6.subheader Process
		%p.caption

		%h6.subheader Price
		%p.caption $200k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.medium-9.small-12.column
		%img{alt: "Redesigned interface in Expression Studio", src: "../../images/clients/microsoft/microsoft-expression-studio-redesign.jpg"}
		.col-a
			%div
				%img{alt: "Screenshot of the original SuperPreview interface.", src: "../../images/clients/microsoft/microsoft-old-expression-studio.jpg"}/
			%p.caption Taking a more traditional UI approach, Microsoft&rsquo;s original design for SuperPreview was heavy on the tools, light on the workspace.
			%div
				%img{alt: "Sketches of new interface", src: "../../images/clients/microsoft/microsoft-expression-studio-ui-sketches.jpg"}/
			%p.caption Pencil and paper is the best way to explore ideas and iterate quickly.
			%div
				%img{alt: "Inital desing comps", src: "../../images/clients/microsoft/microsoft-expression-studio-product-architecture.jpg"}/
			%p.caption With many use cases and screen states to consider we carefully worked through all of the permutations to make a design that worked.
			%div
				%img{alt: "Protoyype of the new UI", src: "../../images/clients/microsoft/microsoft-expression-studio-prototype.jpg"}/
			%p.caption We prototyped the design to validate that the user experience in actual use was exemplary.
			%div
				%img{alt: "Sketches of UI icons", src: "../../images/clients/microsoft/microsoft-expression-studio-icon-sketches.jpg"}/
			%p.caption The devil is in the details, and the key to this very streamlined-yet-robust interaction model was lovingly crafted, hand-drawn illustrations.
			%div
				%img{alt: "The new SuperPreview, complete with redesigned UI.", src: "../../images/clients/microsoft/microsoft-expression-studio-super-preview-design.jpg"}/
			%p.caption When you add it all together you have an attractive, highly usable and useful app.
#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
