<div class="open-source-row">
  <% projects.each do |project| %>
    <div class="open-source-project" id="open-<%= project.uid %>">
      <a href="<%= project.site ? project.site : project.github ? project.github : project.ios ? project.ios : 'javascript:void(0)' %>">
        <div class="icon"></div>
      </a>
      <div class="info">
        <a href="<%= project.site ? project.site : project.github ? project.github : project.ios ? project.ios : 'javascript:void(0)' %>" class="title"><%= project.project_name %></a>
        <% if project.open_source_description %>
          <div class="description font-small">
            <%= project.open_source_description %>
          </div>
    		<% end %>
        <% if project.site %>
          <div>
            <a class="font-small" href="<%= project.site %>"><%= pretty_url(project.site) %></a>
          </div>
        <% end %>
        <% if project.ios %>
          <div>
            <a class="font-small" href="<%= project.ios %>">iOS App</a>
          </div>
        <% end %>
        <% if project.github %>
          <div>
            <a class="font-small" href="<%= project.github %>">Download Code</a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
