<div class="open-source-row">
  <% projects.each do |project| %>
    <div class="open-source-project" id="open-<%= project.uid %>">
      <a href="<%= project.site ? project.site : project.github ? project.github : project.ios ? project.ios : 'javascript:void(0)' %>">
        <div class="icon"></div>
      </a>
      <div class="info">
        <a href="<%= project.site ? project.site : project.github ? project.github : project.ios ? project.ios : 'javascript:void(0)' %>" class="title"><%= project.project_name %></a>
        <% if project.site %>
          <div class="website">
            <a href="<%= project.site %>">
              <div class="icon"></div>
            </a>
          </div>
        <% end %>
        <% if project.ios %>
          <div class="ios">
            <a href="<%= project.ios %>">
              <div class="icon"></div>
            </a>
          </div>
        <% end %>
        <% if project.github %>
          <div class="github">
              <a href="<%= project.github %>">
                <div class="icon"></div>
              </a>
          </div>
        <% end %>
        <% if project.open_source_description %>
          <div class="description font-small">
            <%= project.open_source_description %>
          </div>
    		<% end %>
      </div>
    </div>
  <% end %>
</div>
