- content_for(:title) do
	= "Facebook app and iOS UI Design for Numera"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("numera")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittertitle}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("Numera")

#content-area.caseStudyContent
	.projectData
		%h1.client{style: "color: #{client.primary_color}"} Numera

		%h6.subheader Results

		%p Numera knew health should be social. Involution turned the vision and idea into an innovative foray for an uncharted market.

		%p.quote We knew to make Numera great we needed the best designers money could by. We knew we needed Involution.
		%p.caption Mark Oswald, Numera, CTO

		%h6.subheader Details
		%p For customers like Numera, we create a complex app ecosystem across platforms, devices, and contexts of use.
		%ul
			%li System design that incorporates various digital hardware and interfaces
			%li Creation of the dozens of necessary screens for the software
			%li Prototyped with code written to be leveraged by the Numera engineers
			%li 18 weeks of our project lead working closely with their team

		%h6.subheader Practice Area
		%p Consumer Health

		%h6.subheader Project Type
		%p UX Strategy, UI Design, Engineering

		%h6.subheader Process
		%p Learning, Envision, Blueprint, Craft, Build, Support

		%h6.subheader Price
		%p $100k &ndash; $200k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%img.with-caption{alt: "App ecosystem across devices", src: "../../images/clients/numera/numera-facebook-application-design.jpg"}
		%p.caption Taking Numera from a big idea to a well-integrated app ecosystem leveraged many of Involution's expert software skills.
		%div
			%img.with-caption{alt: "Mobile UX application for iOS", src: "../../images/clients/numera/numera-iphone-app-design.jpg"}/
		%p.caption Complete activities and track them in the moment to leapfrog your competition.
		%div
			%img.with-caption{alt: "Track health goals to monitor your success", src: "../../images/clients/numera/numera-goals-facebook-design.jpg"}/
		%p.caption Track health goals with your daily plan to monitor your success.
.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
