- content_for(:title) do
	= "Contact Involution Studios"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/contact"
	- meta = page_for_meta("contact")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittertitle}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
%article#contact
	#content-area
		%form#contactForm
			.form-title
				%h3 Get in touch!
				%h4.phoneNumber
					%a{href: "tel:6178037043"}  617-803-7043
				%h4.mailTo
					= mail_to "info@goinvo.com"
				%h4.address
					%a{href: "https://www.google.com/maps/place/661+Massachusetts+Ave/@42.4159556,-71.1542426,17z/data=!3m1!4b1!4m2!3m1!1s0x89e376507914ce3b:0xd3401d7136ceb9f3"} 661 Massachusetts Ave, 3rd Floor, Arlington MA, 02476
			<script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script><script>hbspt.forms.create({ portalId: '356419',formId: '60744b7c-0aa6-40b2-9943-42137a951d16', css: '' });</script>
			.js-disabled-callout.center-it This form requires JavaScript. Please enable JavaScript or send us an email at <a href="mailto:hello@goinvo.com" target="_top">hello@goinvo.com</a>

				
				