- content_for(:title) do
	= "Learning"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
	%meta{:name => "description", :content => "GoInvo is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/

.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('process')} Intro
			%a.nav-link.current{:href => asset_url('process/learning')} 1. Learning
			%a.nav-link{:href => asset_url('process/envision')} 2. Envision
			%a.nav-link{:href => asset_url('process/blueprint')} 3. Blueprint
			%a.nav-link{:href => asset_url('process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('process/build')} 5. Build
			%a.nav-link{:href => asset_url('process/support')} 6. Support
			%a.nav-link{:href => asset_url('process/communication')} Communication
			%a.nav-link{:href => asset_url('process/training')} Training
.content-area.learning
	%section.process-section
		= image_tag('process/1_learning.jpg')
		%header.section-header
			%h1 1. Learning
			%h2 The deeper our understanding, the more transformative our service to you.
	%section.process-section
		.section-content
			%h3 Great preparation breeds great success
			%p Each conversation we have with you, we&rsquo;re learning.
			%p Each time we look at the digital solutions of your competitors, we&rsquo;re learning.
			%p Each strategic document we read or discuss with you, we&rsquo;re learning.
			%p Each user we talk to, we&rsquo;re learning.
			%p Needless to say, we spend a lot of time learning. Some of that is actual research that is an explicit part of our work together. Some is a natural byproduct of other activities that is organic and not research-intensive. But one way or another, learning provides the foundation to whatever we do for you.
		%aside.sidebar.left
		%aside.sidebar.right
	%section.process-section
		.section-content
			%h3 The value of including research
			%p In our experience, clients looking for consulting or software design often see research as a superfluous part of the project. They want their money going toward face time with our leadership, or more hours of our designers and engineers making their magic. While this is understandable, it is also short-sighted. Research provides clarity. It makes everything we do afterwards more informed, more precise, and intelligently executed.
			%p Our recommendation is for 20% of any project budget to go toward research. Most clients aren&rsquo;t up for that. The ones that are &mdash; market leaders like Becton Dickinson, Johnson & Johnson and Partners Healthcare &mdash; have no complaints about how that investment worked out. If you just aren&rsquo;t seeing it, that&rsquo;s alright. We do outstanding work with ideal, some, or no formal research. But it is an absolute truth that more research makes our work for you better. The value is there.
		%aside.sidebar.left
			.photo
				= link_to( image_tag('process/learning/careplans_needschart.jpg' ), 'learning/careplans_needschart.pdf' )
				%h3 Needs Charts
				%p.caption We use needs charts to categorize user needs and problems. We can outline steps to achieve these needs goals in terms of solutions and features.
		%aside.sidebar.right
	%section.process-section
		.section-content
			%h3 Research as an integrated activity
			%p Most of our research is conducted by the people who will be working with you &mdash;our leadership, designers and engineers, in addition to involving members of your team. We believe in experiential research: seeing it all for yourself. This flies in the face of more typical, formal approaches to research, where researchers and specialists &ldquo;go off&rdquo; and take care of that part.  
			%p We want the knowledge to be best captured by those who will be leading the project. So, we hire or train designers and engineers with hardcore research in their personal toolbox. This limits the gap between research and synthesis and allows us to build a relationship with your users, your customers, your business, one in which there are no bars held, we encourage truth and openness, listen well and respond. These modest gestures help to cultivate a community committed to your business and its growth.
			%p Here are the research methods in our toolbox:
		%aside.sidebar.left
		%aside.sidebar.right
	%section.process-section
		.section-content
			%h3 User research
			%p This is where the gems come from. The unexpected. The surprisingly simple. The &ldquo;We never thought of that!&rdquo; It also reinforces or invalidates things you think you already know. We prefer to immerse ourselves into users’ natural habitats, go out and meet them, observe how they operate, have a conversation with them in context of how your product fits in with their lives, rather than in a room isolated away from the world. Then we step back to reflect, identify what’s important and why. We do this to better understand user needs and problems, beyond the boundaries of immediate desired features and make sure we are solving the right problems. We bring this all back to you as a summary of what we&rsquo;ve heard to share throughout your organization.
		%aside.sidebar.left
			.photo
				= link_to( image_tag('process/learning/jnj_needs_map.jpg'), 'learning/jnj_needs_map.pdf' )
				%h3 Needs Map
				%p.caption We take what we learn from your product and your users to create a profile and highlight what users need in order to reach their goal with your service.
		%aside.sidebar.right
			.photo.lightbox
				= link_to( image_tag('process/learning/user_shadow_session.jpg'), 'javascript:void(0)', :onclick => "document.getElementById('light1').style.display='block';document.getElementById('fade1').style.display='block'")
				#light1.box_content
					= link_to( "X", 'javascript:void(0)', :onclick => "document.getElementById('light1').style.display='none';document.getElementById('fade1').style.display='none'")
					= image_tag('process/learning/user_shadow_session.jpg')
				#fade1.black_overlay
				%h3 Up Close and Personal
				%p.caption We shadow users to get an idea not only how they use your product, but how your service integrates into their daily work. We get to witness nuanced behaviours and analog workarounds that we wouldn't see or hear about in a formal user interview.
	%section.process-section
		.section-content
			%h3 Competitive research
			%p We know great software. We&rsquo;re also familiar with bad software. What we may not be familiar with is the software of your competitors. In order to baseline the software you are competing against, and to gain insights into different ways people are trying to solve the same problems you are, we strongly recommend a healthy dose of competitive research. It synthesizes our expertise in general software with the software landscape you live in. This activity is accompanied by an in-depth report dissecting the software we are able to review.
		%aside.sidebar.left
			.photo.lightbox
				= link_to( image_tag('process/learning/CompetitorAnalysis-2.jpg'), 'javascript:void(0)', :onclick => "document.getElementById('light2').style.display='block';document.getElementById('fade2').style.display='block'")
				#light2.box_content
					= link_to( "X", 'javascript:void(0)', :onclick => "document.getElementById('light2').style.display='none';document.getElementById('fade2').style.display='none'")
					= image_tag('process/learning/CompetitorAnalysis-2.jpg')
				#fade2.black_overlay
				%h3 Depth and Breadth
				%p.caption We get to know your competitors as well as we get to know you. This gives us a better understanding of the field in play as well as details that allow us to craft for you a strong solution.
		%aside.sidebar.right

	%section.process-section
		.section-content
			%h3 Industry research
			%p In providing digital leadership for more than 200 different companies, we&rsquo;ve worked in most industries. In case we are not already conversant in yours, getting a deep dive of knowledge is pretty important. This might be something you can easily communicate to us with documents and research you&rsquo;ve done. It might come as part of our conducting stakeholder or competitive research. Or we can take this research on ourselves and deliver a lovely report.
		%aside.sidebar.left
		%aside.sidebar.right

	%section.process-section
		.section-content
			%h3 Stakeholder research
			%p Nobody knows more about your situation than your people. Identifying and interviewing the key individuals who can provide insight into the dynamic we aim to impact is the unsexy undertaking of the learning process. Depending on the project this could be just a few people, or more than a dozen. No matter the amount or sizes of interviews, we document the interviews and summarize our findings for you.
		%aside.sidebar.left
		%aside.sidebar.right

	%section.process-section
		.section-content
			%h3 Our Learning activities provide fresh perspectives on vital aspects of your business:
			%ul
				%li Company and market strategy
				%li Your stakeholders&rsquo; beliefs and perspectives
				%li Objective analysis of competitive UX landscape
				%li Deep insight into your current/potential users
			%p
			%p Beyond just informing the consulting and design work we do for you, this data has a breadth of uses among your executive team, product professionals, and marketing organization.
		%aside.sidebar.left
		%aside.sidebar.right
	%section.process-section.next-section
		%a.next{:href => asset_url('process/envision')}
			%h3 Next step:
			%h1 Envision
