- content_for(:title) do
	= "Staffplan - Lightweight, informative management of your team’s work."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("staffplan")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}/
- client = get_project_by_id("staff-plan")

%article#complex-case.staffplan
	%header.hero
		.row
			.medium-6.small-12.small-centered.columns
				.title
					.inner-title
						%h1 StaffPlan:
						%h3 Lightweight, informative management of your team’s work
	.row#mainContent
		.medium-6.small-12.small-centered.columns
			%p StaffPlan is a web-based service that allows employees quick data entry of how they plan to spend their time, and how they actually spend their time. With these inputs StaffPlan provides a variety of reports and visualizations to help:
			%ul
				%li Employees can suggest projects they would like to work on, creating a bi-directional flow of making and taking assignments
				%li Employees structure their work and stay accountable to themselves
				%li Managers understand their teams’ plans and assignments
				%li Managers see what actually happened
				%li Resource managers see the future availability of resources for long-term planning
			%p StaffPlan is a lightweight, fast-to-use tool that provides meaty data and information in a transparent and open way for the modest time investment of its simple use.

			%h2 Creation
			%p As a digital design consultancy, Involution Studios has a staff of creative and technology professionals who work with one client for a period of time, then later moving on to work with another. Initially, to manage this, we used the kind of tools that many managers deploy on an ad hoc basis in these cases: spreadsheets, sticky notes, or in their head. We could not find a software tool that helped us to plan around, manage, and optimize the workflow of our team that was also featherweight in order to avoid being intrusive or time-consuming. So, we decided to build it.

			.center-image-content.large
				%img.small-top-margin{:src => "../../images/clients/staffplan/staffplan_ss_personal.png", :alt => "Each staff has an individual page, where all stakeholders can enter plans for that staff member."}
				.caption Each staff has an individual page, where all stakeholders can enter plans for that staff member.

			%p StaffPlan answers essential questions that project managers have, like:
			%ul
				%li Who needs work and when do they need it?
				%li What is my organization's work program over the next 3 months? Over the next fiscal year?
				%li Do I have the talent necessary to execute my project?
				%li Is my project front-end loaded? Backend loaded?
				%li Do I have an agreement between staff and me on the level of effort?
				%li Who is available for high value tasks?
				%li How good are my staff at managing their own work programs?

			.center-image-content.large
				%img.small-top-margin{:src => "../../images/clients/staffplan/staffplan_ss_rollup.png", :alt => "Manager pages supply at-a-glance summary data of all the staff in each department. "}
				.caption Manager pages supply at-a-glance summary data of all the staff in each department.

			%p.bottom Involution’s leadership, along with creative director Eric Benoit and Ruby developer Rob Sterner, created requirements and made the StaffPlan system. The goal was to help leadership plan and manage resources better while giving staff a view into the future work that is coming for them, along with tools for planning and taking ownership of their own time.

			%h2.no-bottom-margin Philosophy
			%h5 Managing your future.
			%p We believe that processes and systems that are part of the creationary process need to be lightweight, or we shouldn’t have them at all. Both our internal work and that we do with our clients is punctuated by tools that provide a flexible, lean exoskeleton. We also teach employees to think of themselves as entrepreneurs and, where StaffPlan is concerned, help them think like their own personal CFO’s with regard to their work and impact on the company. This reflects the way that we run a small business but also how we believe creative people and projects should be managed. We brought that ethos to our work on StaffPlan, and the way it works is supportive of that kind of more modern and adaptable process.
			%p Another benefit of creating StaffPlan is letting our team dabble in new technologies and use the creationary process as part of their education as individuals, as well as our growth as a team. The more of these things - and different types of things - that we do, the better we all get.

			%h2 Outcome
			%p As open source acolytes, we quietly released StaffPlan into the wild. It’s freely available on <a href = "https://github.com/rescuedcode/staffplan/">GitHub</a> via an Apache 2 license (the refactored version with knockout.js is currently being built: <a href = "https://github.com/rescuedcode/staffplan_redux">https://github.com/rescuedcode/staffplan_redux</a>). A handful of companies discovered and are using it. For our own internal studio management, StaffPlan has proven invaluable in providing management with information and tools to better manage the firm while giving employees a simple structure for adding guidance to their work. Our leadership can spend time crafting the best fit between staff and assignment instead of trying to get on top of basic organization. As a small investment of time and money to this point we are content with StaffPlan largely being a tool for our own internal use. Depending on the future development we may attempt to market it for broader adoption and use.
			%p.bottom To try StaffPlan for yourself visit <a href = "http://www.staffplan.com">www.staffplan.com</a>.

.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%h1#next
