- content_for(:title) do
	= "Craft"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
	%meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston so"}/

.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('process')} Intro
			%a.nav-link{:href => asset_url('process/learning')} 1. Learning
			%a.nav-link{:href => asset_url('process/envision')} 2. Envision
			%a.nav-link{:href => asset_url('process/blueprint')} 3. Blueprint
			%a.nav-link.current{:href => asset_url('process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('process/build')} 5. Build
			%a.nav-link{:href => asset_url('process/support')} 6. Support
			%a.nav-link{:href => asset_url('process/communication')} Communication
			%a.nav-link{:href => asset_url('process/training')} Training
.content-area.craft
	%section.process-section
		= image_tag('process/4_craft.jpg')
		%header.section-header
			%h1 4. Craft
			%h2 Nothing happens until someone actually makes something
	%section.process-section
		.section-content
			%h3 The heart of our studio lives here: making amazing things for you.
			%p Our brains are what you are paying for: the experience, the smarts, the insight that has completely reshaped industries. But where our work gets really, well, real is in the amazing things that we make.
			%p The first version of the digital product you've dreamed about, suddenly not just real, but spectacular.
			%p The dashboard that brings to life all the complex relationships you knew could be brought together but couldn&rsquo;t make tangible until now.
			%p The massive clunky enterprise app that you never thought could look sexy, suddenly gorgeous.
			%p The redesign of your flailing product, immediately communicating to anyone who sees it, &ldquo;Guess who&rsquo;s at the top of the Gartner Magic Quadrant&reg; now?&rdquo;
			%p This is the fun stuff, the stuff that shifts &ldquo;What an amazing plan!&rdquo; to &ldquo;Holy &*!#! We&rsquo;re really going to do this!&rdquo; It is the art and design that will make sweet, sweet lovin&rsquo; with the engineering and fabrication to literally change the world.
			%p In case it isn&rsquo;t obvious? This is the stuff we live for.
		%aside.sidebar.left
			.photo.lightbox
				= link_to( image_tag('process/craft/sprout_MBTI_visual_systems.jpg'), 'javascript:void(0)', :onclick => "document.getElementById('light1').style.display='block';document.getElementById('fade1').style.display='block'")
				#light1.box_content
					= link_to( "close", 'javascript:void(0)', :onclick => "document.getElementById('light1').style.display='none';document.getElementById('fade1').style.display='none'")
					= image_tag('process/craft/sprout_MBTI_visual_systems.jpg')
				#fade1.black_overlay
				%h3 Design with Data
				%p.caption We work with real data and really dig in to gain deep understand in order to construct comprehensive visualizations.
		%aside.sidebar.right
			.photo
				= link_to( image_tag('process/craft/healthaxioms_process.jpg'), 'http://www.goinvo.com/products/care-cards/' )
				%h3 From birth to life
				%p.caption We iterate in rapid cycles, taking you every step of the way, getting feedback from you, stakeholders, and key users in order to design the best product for you.
	%section.process-section
		.section-content
			%h4 Sketching
			%p The handcrafting of gorgeous, custom concepts to enhance or serve as the core for your interfaces. We employ professional illustrators - the kind of people who work at Pixar or Disney - who have a specialization in interface design but were trained with the top illustrators in the world. Their work takes time, but is always worth it.
		%aside.sidebar.left
			.photo
				= link_to( image_tag('process/craft/jnj_patient_careplan_sketches.jpg'), 'process/craft/jnj_patient_careplan_sketches.pdf' )
				%h3 UI Sketching
				%p.caption We sketch concepts and screens to quickly iterate through many versions of ideas so we can get the most out of the execution of the designs later.
			
		%aside.sidebar.right
			.photo
				= link_to( image_tag('process/craft/personal_device_states_sketch.jpg'), 'http://www.goinvo.com/healthcare/diabetes/' )
				%h3 Concept Sketching
				%p.caption Our design thinking doesn't stop at the screen. The shape of a device and how it fits into everyday life can be as impactful if not more than the interface itself.
	%section.process-section
		.section-content
			%h4 Design
			%p This is where the magic happens. From digital to industrial, we work in the micro and and the macro, designing everything from the system design to the inner workings of component interactions. The learning, envisioning, and blueprinting come together in crisp pixels or sleek form factors as something you can touch, taste, and smell.
			%p We design with the latest technologies in mind, while remaining attentive to your process and timeline. Working closely with your team to not only design something that challenges the status quo but something you can actually build, we rapidly churn out concepts in giant format to review with you and your team.
			%p Mix in more research, iteration, rinse, and repeat so that the designs can be refined and fortified in quick cycles.
		%aside.sidebar.left
		%aside.sidebar.right
			.photo.lightbox
				= link_to( image_tag('process/craft/infobionic_ekg_patientreport_ipad.jpg'), 'javascript:void(0)', :onclick => "document.getElementById('light2').style.display='block';document.getElementById('fade2').style.display='block'")
				#light2.box_content
					= link_to( "X", 'javascript:void(0)', :onclick => "document.getElementById('light2').style.display='none';document.getElementById('fade2').style.display='none'")
					= image_tag('process/craft/infobionic_ekg_patientreport_ipad.jpg')
				#fade2.black_overlay
				%h3 Translating complex data
				%p.caption We specialize in taking large amounts of complex information and designing human-readable interfaces that improve user experiences.
	%section.process-section
		.section-content
			%h4 Lightweight Prototypes
			%p Looking at comps isn&rsquo;t adequate for good decision making. You need a prototype that actually behaves the way the design envisions. Some of our prototypes are designed for production. A key part of the overall product development process, the prototype serves as a tool for design feedback and iteration on one hand, and an engineering spec on the other.
			%p As important but less understood is using prototypes to test design concepts. Early prototypes need to be viewed like design comps: working toward the right solution but can easily be thrown away. It is a classic case of the process, not the outcome, being the important thing. Some prototype will represent the product that gets built, but it is likely not the first. It may be, but it also may be the second. Or the fifth. That is the process to get to world-class digital products.
			%p Our designers understand the fundamentals of engineering. Some are reformed engineers who used to wrangle silicon, math or bits and bytes. Often times, they can&rsquo;t help but turn their work into something that actually, well, works. Prototypes can be explicit deliverables as part of our projects, or just something our designers know will help the process so they kick them out on their own. Yeah, they&rsquo;re getting a little crazy. But it&rsquo;s that good kind of crazy, the kind that brings digital products fully to life.
		%aside.sidebar.left
			.photo
				= link_to( image_tag('process/craft/hgraph.jpg'), 'http://www.goinvo.com/healthcare/hgraph/' )
				%h3 hGraph
				%p.caption Interaction and transitions can't be communicated well by images alone. Prototypes are meant to be played with and refined.
		%aside.sidebar.right
			.photo
				= link_to( image_tag('process/craft/medication_timeline.jpg'), 'http://www.goinvo.com/healthcare/inspired-ehrs/' )
				%h3 Medication Timeline
				%p.caption Issues can come up, issues that would not have been noticeable from a mockup image. We can address these issues earlier rather than if they'd come up further down the line in production.
	%section.process-section
		.section-content
			%h3 Our Craft has a big impact on your business in ways large and small:
			%ul
				%li High-quality visual assets to share with internal stakeholders
				%li Gorgeous prototypes to turbocharge sales and fundraising
				%li Demonstrable proof of &ldquo;making it real&rdquo; creates excitement
			%p Getting real assets that make your challenges visual with solutions that are desirable shifts the conversation from 
		%aside.sidebar.left
		%aside.sidebar.right
	%section.process-section.next-section
		%a.next{:href => asset_url('process/build')}
			%h3 Next step:
			%h1 Build
