- content_for(:title) do
	= "Open office hours for design advice."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/careers"
	= javascript_include_tag 'studio'
	- meta = page_for_meta("open-office-hours")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}/
.careers.open-office-hours
	%header.hero
		.title
			%h1 Open Office Hours
			%h3 Every Thursday 4-6p
	#content-area
		%aside.sidebar.left
			.photo
				= link_to( image_tag('open-office-hours/ux-design-review.jpg'), 'https://www.flickr.com/photos/juhansonin/12659667364/in/album-72157611328630351/' )
				%h3 Your design sherpa
				%p.caption You&rsquo;ll pair up with one or two of our designers to tackle your topic of choice.
			.photo
				= link_to( image_tag('open-office-hours/ux-design-studio.jpg'), 'https://www.flickr.com/photos/juhansonin/13090399445/in/album-72157611328630351/' )
				%h3 See the studio
				%p.caption
					Get a feel for how we operate from the focused silence to the vibrant discussions of product design.
		.centerContent
			%h2.title
				Enjoy fresh ideas with a side of coffee.
			%p Our studio is open for anyone needing design advice, every Thursday from 4-6p.

			%p People come for:

			%p <strong>Strategy</strong><br />A no nonsense second opinion to help diagnose your business and design strategy.

			%p <strong>Design critiques</strong><br />We’ll comb through the product and offer advice in workflow improvements, messaging, data visualization, to aesthetics. Get your pen and paper ready, this could be lengthy.

			%p <strong>Building in-house design teams</strong><br />Trouble finding designers? Not sure what to look for? No worries, we’ll steer you in the right direction.

			%p <strong>Portfolio review</strong><br />Career advice for designers or engineers.

			%p <strong>Or simply to say hi</strong><br />No reason necessary. Come meet the tribe. Drinking the Kool-Aid not required.

			%h2.title
				Location
			%p <a href="https://www.google.com/maps/place/Involution+Studios/@42.4160129,-71.1542221,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3765076a6362b:0x20e26f4cc4eb5ced">661 Massachusetts Ave, 3rd Floor, Arlington, MA. 02476</a><br /><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2945.5448310421234!2d-71.15627948454195!3d42.41613657918308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3765076a6362b%3A0x20e26f4cc4eb5ced!2sInvolution+Studios!5e0!3m2!1sen!2sus!4v1456435462915" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br />Parking is available on the street and a public lot behind our building.

			%h2.title
				Save your spot!

			%p <iframe id="advanced_iframe" name="advanced_iframe" src="https://calendly.com/goinvo/open-office-hours"; width="100%" height="1000" frameborder="0" border="0" allowtransparency="true" onload=";setTimeout(function() { aiResizeIframe(ifrm_advanced_iframe, &quot;false&quot;); },2);"></iframe>


		%aside.sidebar.right
			.photo
				= link_to( image_tag('open-office-hours/coffe-and-ux.jpg'), 'https://www.flickr.com/photos/juhansonin/8294437565/in/album-72157611328630351/' )
				%h3 Coffee with care
				%p.caption We take our coffee process as serious as our design process. So enjoy your fresh cup of coffee as we increase your design IQ.
			.video
				= link_to( image_tag('open-office-hours/ux-design-team.jpg'), 'https://www.flickr.com/photos/juhansonin/19536289099/' )
				%h3 Meet the team
				%p.caption
					We have a talented team of designers and engineers with various backgrounds and perspectives available every Thursday.
