- content_for(:worlds_end) do
  = javascript_include_tag 'projects'
  
#projects
  .row
    .medium-2.small-12.columns
      %select{name: "practice_area"}
        %option{value: ""} All
        - data.practice_areas.each do |practice_area|
          %option{value: practice_area}= practice_area
      %label{for: "practice_area"} Practice Area
        
    .medium-2.small-12.columns
      %select{name: "budget"}
        - [["All",""], ['$500k+','500000,2000000'], ['$200-499k','200000,499999'], ['$100-199k', '100000,199999'], ['$50-99k', '50000,99999'], ['$20-49k', '20000,49999']].each do |text_and_value|
          %option{value: text_and_value[1]}= text_and_value[0]
      %label{for: 'budget'} Budget
      
    .medium-3.small-6.columns
      .value{data: {average_budget: true}}
      %label Avg First Project Budget
        
    .medium-3.small-6.columns
      .value{data: {average_duration: true}}
      %label Avg First Project Duration
          
  .row.no-projects-match
    .medium-12.column
      %h3 No projects match your filters :-(
  
  - data.projects.each do |project|
    - next if project.hide_in_layout or project.phases.blank?
    .row{data: {project: true, project_budget: project.budget, project_duration: project.duration, project_practice_areas: project.practice_area_names.split(',').map(&:strip).to_json}}
      .medium-3.small-12.columns.project
        %h3{style: "color:#{client_for_name(project.client).primary_color};"}= project.client
        %p.practice-areas
          - practice_areas(project).each do |area|
            = link_to area, "/projects/#{area}"
        %p.description= project.description
        %p.show-for-medium-up= link_to 'Read Story', "/clients/#{project.client.downcase}", class: 'button radius', style: "background: #{client_for_name(project.client).primary_color}; width: 100%;"
          
      -# ~5" and down
      .small-12.columns.phase-container.show-for-small-only.small-circles
        .small-4.columns.text-center
          %p.gray-circle 2.5
          %p TOTAL FTE
        .small-4.columns.text-center
          %p.gray-circle= project.duration
          %p TOTAL TIME
            
        .small-4.columns.text-center
          %p.gray-circle= project.phases.count
          %p NUMBER OF ENGAGEMENTS
      
      .medium-3.small-12.columns.end.show-for-small-only
        %p= link_to 'Read Story', "/clients/#{project.client.downcase}", class: 'button radius', style: "background: #{client_for_name(project.client).primary_color}; width: 100%;"
      .medium-9.small-12.columns
        .show-for-medium-up
          .row
            - project.phases.each do |phase|
              -# tablets and larger
              .phase-container{style: "width:#{(phase.duration.to_f / project.duration.to_f) * 100}%"}
                .phase
                  .service-areas= phase.service_names
                  .staffing
                    = phase.duration
                    w, #{phase.full_time_staff} FTE
                  .bar{style: "height:#{(phase.full_time_staff * 15).to_i}px; background:#{client_for_name(project.client).primary_color}"}
            - if project.milestones.present?
              .clearfix
              .row{data: {milestones: true}}
                .medium-12.milestone-wrapper
                  - project.milestones.each do |milestone|
                    .milestone{"data-offset" => (milestone.during_week.to_f / project.duration.to_f) * 100, "data-project-id" => project.id}
                      %img{src: "http://placehold.it/40x40"}
                      .description= milestone.description
