- content_for(:worlds_end) do
  = javascript_include_tag 'projects'
  
#projects
  .row
    .medium-2.small-12.columns
      %select{name: "practice_area"}
        %option{value: ""} All Practice Areas
        - data.practice_areas.each do |practice_area|
          %option{value: practice_area}= practice_area
        
    .medium-2.small-12.columns
      %select{name: "budget"}
        - [["All Budgets",""], ['$500k+','500000,2000000'], ['$200-499k','200000,499999'], ['$100-199k', '100000,199999'], ['$50-99k', '50000,99999'], ['$20-49k', '20000,49999']].each do |text_and_value|
          %option{value: text_and_value[1]}= text_and_value[0]
    .medium-6.small-12.columns
         
  .row.no-projects-match
    .medium-12.column
      %h3 No projects match your filters :-(
      
  - data.projects.each_slice(3).each do |projects|
    .row
      -projects.each do |project|
        - next if project.hide_in_layout or project.phases.blank?
        .medium-4.small-12.columns.project{data: {project: true, project_budget: project.budget, project_url: "/v01/clients/#{project.client.downcase}", project_duration: project.duration, project_practice_areas: project.practice_area_names.split(',').map(&:strip).to_json}}
          .project-image{id:"client#{project.client}", style: "background-image:url(/v01/images/clients/#{project.client.downcase}/#{project.main_image});"}
          %h3= project.client
          %p.practice-areas
          - practice_areas(project).each do |area|
            = link_to area, "/v01/projects/#{area}"
          %p.description= project.description
          
          -# ~5" and down
          .small-12.columns.phase-container.show-for-small-only.small-circles
            .small-4.columns.text-center
              %p.gray-circle 2.5
              %p TOTAL FTE
            .small-4.columns.text-center
              %p.gray-circle= project.duration
              %p TOTAL TIME
            
            .small-4.columns.text-center
              %p.gray-circle= project.phases.count
              %p NUMBER OF ENGAGEMENTS
      
          .medium-3.small-12.columns.end.show-for-small-only
            %p= link_to 'Read Story', "/v01/clients/#{project.client.downcase}", class: 'button radius', style: "width: 100%;"

