- content_for(:title) do
  = "Disrupt - Part 4: Crowdsourcing Innovation"
- content_for(:page_head) do
  = stylesheet_link_tag "features/disrupt"
  = stylesheet_link_tag "slick"
  = stylesheet_link_tag "feature-elements"
  :javascript
    var page = 3;
  = javascript_include_tag "slick/slick"
  = javascript_include_tag "//use.typekit.net/vja5lgo.js"
  = javascript_include_tag "jquery.colorscroll.min.js"
  = javascript_include_tag "features/disrupt.js"
  = javascript_include_tag "features/disrupt_grid.js"
  :javascript
    try{Typekit.load();}catch(e){}
- content_for(:worlds_end) do
  = javascript_include_tag "//platform.twitter.com/oct.js"
  :javascript
    twttr.conversion.trackPid('l5gav');
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5gav&p_id=Twitter" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5gav&p_id=Twitter" />
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => "future emerging tech technology disrupt"}/
  %meta{:name => "twitter:card", :content => "summary_large_image"}/
  %meta{:name => "twitter:site", :content => "@goinvo"}/
  %meta{:name => "twitter:creator", :content => "@goinvo"}/
  %meta{:name => "twitter:title", :content => "Disrupt"}/
  %meta{:name => "twitter:description", :content => "A feature piece on emerging technology."}/
  %meta{:name => "twitter:image:src", :content => "http://www.goinvo.com/videos/dfl/header.gif"}/

.navigation#article-nav
  %ol
    %li
      =link_to "1. Emerging Tech and the Future of Design", "/features/disrupt/index.html"
    %li
      =link_to "2. From Horse to Horsepower", "/features/disrupt/part-2.html"
    %li
      =link_to "3. Considering the Coming Disruption", "/features/disrupt/part-3.html"
    %li
      =link_to "4. Crowdsourcing Innovation", "/features/disrupt/part-4.html"
    %li
      =link_to "5. Eight Tenets for Emerching Tech Design", "/features/disrupt/part-5.html"
    %li
      =link_to "6. Fukushima and Fragility", "/features/disrupt/part-6.html"
%header.sec-header#top
  .video-container
    %video{autoplay: true, muted: true, loop: true}
      %source{src: '../../videos/disrupt/section-4-header.mp4', type: 'video/mp4'}
      / %source{src: '../../videos/disrupt/printer.ogg', type: 'video/ogg'}
      / %source{src: '../../videos/disrupt/printer.webm', type: 'video/webm'}
  .title-container
    %h3 Crowd Sourcing Innovation
%article#feature-article.disrupt
  %section.article-section#section-4
    .section-content
      .content
        .sub-sec
          %p Development and adoption of emerging technologies is happening at an unprecedented pace. Part of the reason for this is the democratization of technological discovery and exploration, and the ease of sharing that information with other people across the globe.
          %p This crowd sourcing of innovation through citizen scientists, engineers, designers and other amateurs is increasing the reach of technological progress in a way never before seen. No longer is research and development relegated to the lab or to the big company, but rather to the garages, basements, and dorm rooms of interested and passionate explorers from biohackers to makers with 3D printers.
          // Three robots image
          %p As a part of this, technology integration has become as important as invention, and is another source of ongoing innovation in emerging tech fields. For instance, new products and services for the IoT will be driven in part by designers and engineers prototyping new interactive objects with Arduino and Raspberry Pi controllers and inexpensive sensors and 3D printed components.
          %p How this diffuse and decentralized system — fueled by a culture of sharing and openness — advances emerging tech in areas as varied as genomics, robotics, and the IoT, remains to be seen.
    .section-content.grid
      #grid-area
        #grid-container
          .grid-panel{data: {slideIndex: 0, tech: 'genomics'}}
            .bg
            .overlay
            .title Genomics
          .grid-panel{data: {slideIndex: 1}}
            .bg
            .overlay
            .title I'm panel 2
          .grid-panel{data: {slideIndex: 2}}
            .bg
            .overlay
            .title I'm panel 3
          .grid-panel{data: {slideIndex: 3}}
            .bg
            .overlay
            .title I'm panel 4
          .grid-panel{data: {slideIndex: 4}}
            .bg
            .overlay
            .title I'm panel 5
          .grid-panel{data: {slideIndex: 5}}
            .bg
            .overlay
            .title I'm panel 6
          .grid-panel{data: {slideIndex: 6}}
            .bg
            .overlay
            .title I'm panel 7
          .grid-panel{data: {slideIndex: 7}}
            .bg
            .overlay
            .title I'm panel 8
          .grid-panel{data: {slideIndex: 8}}
            .bg
            .overlay
            .title I'm panel 9
          .grid-panel{data: {slideIndex: 9}}
            .bg
            .overlay
            .title I'm panel 10
          .grid-panel{data: {slideIndex: 10}}
            .bg
            .overlay
            .title I'm panel 11
          .grid-panel{data: {slideIndex: 11}}
            .bg
            .overlay
            .title I'm panel 12
          .grid-panel{data: {slideIndex: 12, tech: 'robotics1'}}
            .bg
            .overlay
            .title Robotics
          .grid-panel{data: {slideIndex: 13, tech: 'robotics2'}}
            .bg
            .overlay
            .title Big Dog
          .grid-panel{data: {slideIndex: 14, tech: 'robotics3'}}
            .bg
            .overlay
            .title Military
          .grid-panel{data: {slideIndex: 15, tech: 'robotics4'}}
            .bg
            .overlay
            .title Power Suits
          .grid-panel{data: {slideIndex: 16, tech: 'robotics5'}}
            .bg
            .overlay
            .title Androids
          .grid-panel{data: {slideIndex: 17}}
            .bg
            .overlay
            .title I'm panel 18
          .grid-panel{data: {slideIndex: 18}}
            .bg
            .overlay
            .title I'm panel 19
          .grid-panel{data: {slideIndex: 19}}
            .bg
            .overlay
            .title I'm panel 20
        #slideshow-container
          .nav-button.prev
          .close X
          .nav-button.next
          #slides-container
            .slide{data: {slideIndex: 0, tech: 'genomics'}}
              .container
                .column.left
                  .title Genomics
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 1}}
              .container
                .column.left
                  .title NUMBER 2
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 2}}
              .container
                .column.left
                  .title NUMBER 3
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 3}}
              .container
                .column.left
                  .title NUMBER 4
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 4}}
              .container
                .column.left
                  .title NUMBER 5
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 5}}
              .container
                .column.left
                  .title NUMBER 6
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 6}}
              .container
                .column.left
                  .title NUMBER 7
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 7}}
              .container
                .column.left
                  .title NUMBER 8
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 8}}
              .container
                .column.left
                  .title NUMBER 9
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 9}}
              .container
                .column.left
                  .title NUMBER 10
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 10}}
              .container
                .column.left
                  .title NUMBER 11
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 11}}
              .container
                .column.left
                  .title NUMBER 12
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 12, tech: 'robotics1'}}
              .container
                .column.left
                  .title ROBOTICS
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 13, tech: 'robotics2'}}
              .container
                .column.left
                  .title BIG DOG
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 14, tech: 'robotics3'}}
              .container
                .column.left
                  .title MILITARY
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 15, tech: 'robotics4'}}
              .container
                .column.left
                  .title POWER SUITS
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 16, tech: 'robotics5'}}
              .container
                .column.left
                  .title ANDROIDS
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 17}}
              .container
                .column.left
                  .title NUMBER 18
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 18}}
              .container
                .column.left
                  .title NUMBER 19
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
            .slide{data: {slideIndex: 19}}
              .container
                .column.left
                  .title NUMBER 20
                  .description
                    %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
                  .links
                    %ul
                      %li www.example.com
                      %li www.example.org
                .column.right
                  .image
%header.sec-header#bottom
  .video-container
    %video{autoplay: true, muted: true, loop: true}
      %source{src: '../../videos/disrupt/section-4-footer.mp4', type: 'video/mp4'}
      / %source{src: '../../videos/disrupt/printer.ogg', type: 'video/ogg'}
      / %source{src: '../../videos/disrupt/printer.webm', type: 'video/webm'}
#bottom-nav
  =link_to "/features/disrupt/part-5.html" do
    %span.link-fill
  .arrow#four
  .text-container
    .next-part next part
    .title eight tenets for emerging tech design
