- content_for(:title) do
  = "Disrupt - Part 4: Crowdsourcing Innovation"
- content_for(:page_head) do
  = stylesheet_link_tag "features/disrupt"
  = stylesheet_link_tag "slick"
  = stylesheet_link_tag "feature-elements"
  :javascript
    var page = 3;
  = javascript_include_tag "slick/slick"
  = javascript_include_tag "//use.typekit.net/vja5lgo.js"
  = javascript_include_tag "jquery.colorscroll.min.js"
  = javascript_include_tag "features/disrupt_grid.js"
  = javascript_include_tag "features/disrupt.js"
  :javascript
    try{Typekit.load();}catch(e){}
- content_for(:worlds_end) do
  = javascript_include_tag "//platform.twitter.com/oct.js"
  :javascript
    twttr.conversion.trackPid('l5gav');
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5gav&p_id=Twitter" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5gav&p_id=Twitter" />
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => "future emerging tech technology disrupt"}/
  %meta{:name => "twitter:card", :content => "summary_large_image"}/
  %meta{:name => "twitter:site", :content => "@goinvo"}/
  %meta{:name => "twitter:creator", :content => "@goinvo"}/
  %meta{:name => "twitter:title", :content => "Disrupt"}/
  %meta{:name => "twitter:description", :content => "A feature piece on emerging technology."}/
  %meta{:name => "twitter:image:src", :content => "http://www.goinvo.com/videos/dfl/header.gif"}/

.navigation#article-nav
  %ol
    %li
      =link_to "1. Emerging Technologies", "/features/disrupt/index.html"
    %li
      =link_to "2. From Horse to Horsepower", "/features/disrupt/part-2.html"
    %li
      =link_to "3. The Coming Disruption", "/features/disrupt/part-3.html"
    %li
      =link_to "4. Crowdsourcing Innovation", "/features/disrupt/part-4.html"
    %li
      =link_to "5. The Future of Design", "/features/disrupt/part-5.html"
    %li
      =link_to "6. Fukushima and Fragility", "/features/disrupt/part-6.html"
%header.sec-header#top
  .video-container
    %video{autoplay: true, muted: true, loop: true}
      %source{src: '../../videos/disrupt/section-4-header.mp4', type: 'video/mp4'}
      / %source{src: '../../videos/disrupt/printer.ogg', type: 'video/ogg'}
      / %source{src: '../../videos/disrupt/printer.webm', type: 'video/webm'}
  .title-container
    %h3 Crowdsourcing
    %h3 Innovation
%article#feature-article.disrupt
  %section.article-section#section-4
    .section-content
      .content
        .sub-sec
          %p Development and adoption of emerging technologies is happening at an unprecedented pace. Part of the reason for this is the democratization of technological discovery and exploration, and the ease of sharing that information with other people across the globe.
          %p This crowd sourcing of innovation through citizen scientists, engineers, designers and other amateurs is increasing the reach of technological progress in a way never before seen. No longer is research and development relegated to the lab or to the big company, but rather to the garages, basements, and dorm rooms of interested and passionate explorers from biohackers to makers with 3D printers.
          // Three robots image
          %p As a part of this, technology integration has become as important as invention, and is another source of ongoing innovation in emerging tech fields. For instance, new products and services for the IoT will be driven in part by designers and engineers prototyping new interactive objects with Arduino and Raspberry Pi controllers and inexpensive sensors and 3D printed components.
          %p How this diffuse and decentralized system — fueled by a culture of sharing and openness — advances emerging tech in areas as varied as genomics, robotics, and the IoT, remains to be seen.
#grid-section-container
  #grid-section
    #grid-area
      #grid-container
        .grid-panel{data: {slideIndex: 0, tech: 'artificial-intelligence', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/artificial-intelligence.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 1, tech: 'connected-environments', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/connected-environments.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 2, tech: 'genomics', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/genomics.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 3, tech: 'internet-of-things', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/internet-of-things.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 4, tech: 'brain-computer-interfaces', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/brain-computer-interfaces.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 5, tech: 'materials-science', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/materials-science.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 6, tech: 'nanotech', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/nanotech.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 7, tech: 'personalized-medicine', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/personalized-medicine.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 8, tech: 'robotics', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/robotics.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 9, tech: 'augmented-reality', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/augmented-reality.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 10, tech: 'smart-cities', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/smart-cities.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 11, tech: 'smart-clothing', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/smart-clothing.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 12, tech: 'synthetic-biology', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/synthetic-biology.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 13, tech: 'wearables', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/wearables.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 14, tech: 'vertical-farming', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/vertical-farming.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 15, tech: 'bionic-implants', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/bionic-implants.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 16, tech: 'medical-nanobots', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/medical-nanobots.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 17, tech: 'artificial-organs', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/artificial-organs.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 18, tech: 'climate-engineering', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/climate-engineering.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 19, tech: 'crypto-currencies', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/crypto-currency.png", class: "grid-bg"}
      #slideshow-container
        %img.nav-button.prev
        %img.close
        %img.nav-button.next
        #slides-container
          .slide{data: {slideIndex: 0, tech: 'artificial-intelligence', row: "1"}}
            .container
              .column.left
                .title Artificial Intelligence
                .description
                  %p Alan Turing’s bombe Christopher saved lives. So did Tommy Flowers’ Colossus. Clarke and Kubrick’s HAL 9000 killed astronauts. Spielberg’s endearing android David won a mother’s love. Gene Roddenberry’s Commander Data gained the love of a cat, which is arguably harder to earn than mother-love. Siri informs and entertains, keeps us company, and finds us good sushi. Which is fiction? Nothing fascinates and scares us more than the idea that we can create machines that are smarter than we are. Do we really want cars that drive themselves? Like other emerging technologies, the field of artificial intelligence (AI) comprises many highly technical and specialized disciplines ranging from mathematics and computer science to psychology and philosophy. Some researchers pursue a pure logic-based paradigm while others are exploring neurology and cybernetics or venturing into creativity and social intelligence. The implications for AI reach far beyond science fiction and popular culture, requiring designers to consider the critical ethical ramifications of what they produce.
              .column.right
                .image
          .slide{data: {slideIndex: 1, tech: 'connected-environments', row: "1"}}
            .container
              .column.left
                .title Connected Environments
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 2, tech: 'genomics', row: "1"}}
            .container
              .column.left
                .title Genomics
                .description
                  %p What if you could run a “spelling” check on your genes? Not just the genes in your 23 chromosome pairs, but your entire genome: all of your genes, gene-modifying sequences, and everything  in between. Then, what if you could compare your findings to those of millions of others?
                  %p You would be participating in genomics research, which aims to identify the function of genes and what regulates them. Perhaps your data would help find genome-based strategies for detecting, diagnosing, and treating diseases. Or it might help reveal the significance of the tiny, individual variations in people’s DNA, and how our DNA interacts with our environments. Maybe your genetic map will contribute to discovering what makes some people resilient even when they carry potentially devastating genes. Genomic research has the potential to revolutionize the practice of health care. But not without ethical, legal, and social issues that must be addressed to prevent misuse of new genetic technologies and information.
              .column.right
                .image
          .slide{data: {slideIndex: 3, tech: 'internet-of-things', row: "1"}}
            .container
              .column.left
                .title The Internet of Things
                .description
                  %p In 1926 Nikola Tesla remarked, "When wireless is perfectly applied the whole earth will be converted into a huge brain...and the instruments through which we shall be able to do this will be amazingly simple compared with our present telephone. A man will be able to carry one in his vest pocket." And we do. We carry them in our pockets and wear them on our wrists. Pill bottles remind us to take medicines. Municipal refuse bins report when they need to be emptied. Concrete pilings can report structural problems. It’s visionary. It’s real. The Internet of Things connects inanimate objects across the Internet to improve (and disrupt) our lives in innumerable ways. Constellations of wirelessly connected sensors collect and transmit all sorts of data through devices and services. The IoT’s impact spans industries, government, education, and nearly infinite consumer applications. Designing for this expanding universe requires fluency beyond product and interaction design principles and adaptive business models. The challenge lies in designing within ecosystems of interconnected products, services, devices, and experiences—but that isn’t where it ends. The more devices we connect, the greater the security risks, and the increased complexity could exclude the people who need it the most. It remains to be seen whether the IoT will simply become a playground for the wealthy or the realization of Orwell’s Big Brother, or if it will change lives for the good.
              .column.right
                .image
          .slide{data: {slideIndex: 4, tech: 'brain-computer-interfaces', row: "1"}}
            .container
              .column.left
                .title Brain-Computer Interfaces
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 5, tech: 'materials-science', row: "2"}}
            .container
              .column.left
                .title Materials Science
                .description
                  %p It’s fairly common knowledge that football helmets really don’t protect players from concussions. But why is that true? With technology that lets a driver emerge unscathed from a totaled car, why hasn’t someone designed a helmet that protects the brain? Take a little paleontology, mix it with molecular biology, apply some Newtonian physics, filter it all through a materials science paradigm, and we might find a helmet material that will absorb impact before it gets to the brain.
                  %p Materials science is the study of stuff: where it  comes from, how it’s composed, how it can be used, how it can be changed, even how we can create entirely new stuff. Already there are at least 300,000 different known materials—both naturally occurring, like copper and bone, and manufactured, such as Kevlar and carbon fiber. Descended from the scientific studies of the Enlightenment, materials science involves physics, biology, chemistry, mineralogy, engineering—it’s a long list of disciplines. The emerging possibilities present a disruptive design challenge of unknown proportions.
              .column.right
                .image
          .slide{data: {slideIndex: 6, tech: 'nanotech', row: "2"}}
            .container
              .column.left
                .title Nanotech
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 7, tech: 'personalized-medicine', row: "2"}}
            .container
              .column.left
                .title Personalized Medicine
                .description
                  %p Two or three generations ago, “personalized” medicine might have meant that your doctor made house calls. Today, technologies like molecular diagnostics enable doctors to identify genetic markers for disease—before symptoms occur—and to focus on prevention or early intervention instead of reactive treatment. Pharmacogenomics makes it possible to determine the best drug protocol, reduce trial-and-error prescribing, and avoid adverse drug reactions or ineffective treatment. Complex genetic screening even allows doctors, in some cases, to identify cancer patients who are most likely to benefit from chemotherapy. Bringing new efficiencies to health care, personalized medicine increases quality of care, quality of life, accessibility, and affordability.
              .column.right
                .image
          .slide{data: {slideIndex: 8, tech: 'robotics', row: "2"}}
            .container
              .column.left
                .title Robotics
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 9, tech: 'augmented-reality', row: "2"}}
            .container
              .column.left
                .title Augmented Reality
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 10, tech: 'smart-cities', row: "3"}}
            .container
              .column.left
                .title Smart Cities
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 11, tech: 'smart-clothing', row: "3"}}
            .container
              .column.left
                .title Smart Clothing
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 12, tech: 'synthetic-biology', row: "3"}}
            .container
              .column.left
                .title Synthetic Biology
                .description
                  %p In the field of synthetic biology, we apply engineering principles to the complex domains of nature and biology, making living systems themselves become possible material for design. Scientists can now create custom-built DNA from standardized parts that can be used to gain insights about how life works—sort of like building machines with Legos. This potentially transformative science could produce life-saving drugs made from chemicals produced by cells engineered for that purpose, or biodegradable clothing that we grow ourselves and which can adapt to the environment or monitor our health. With implications for use in architecture, medicine, environmental remediation, agriculture, and more, synthetic biology also raises concerns about bioethics, safety, security, and environmental health and sustainability. Synbio is truly science fiction coming—literally—to life. 
              .column.right
                .image
          .slide{data: {slideIndex: 13, tech: 'wearables', row: "3"}}
            .container
              .column.left
                .title Wearables
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 14, tech: 'vertical-farming', row: "3"}}
            .container
              .column.left
                .title Vertical Farming
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 15, tech: 'bionic-implants', row: "4"}}
            .container
              .column.left
                .title Bionic Implants
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 16, tech: 'medical-nanobots', row: "4"}}
            .container
              .column.left
                .title Medical Nanobots
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 17, tech: 'artificial-organs', row: "4"}}
            .container
              .column.left
                .title Artificial Organs
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 18, tech: 'climate-engineering', row: "4"}}
            .container
              .column.left
                .title Climate Engineering
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
          .slide{data: {slideIndex: 19, tech: 'crypto-currencies', row: "4"}}
            .container
              .column.left
                .title Crypto-Currencies
                .description
                  %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
              .column.right
                .image
%header.sec-header#bottom
  .video-container
    %video{autoplay: true, muted: true, loop: true}
      %source{src: '../../videos/disrupt/section-4-footer.mp4', type: 'video/mp4'}
      / %source{src: '../../videos/disrupt/printer.ogg', type: 'video/ogg'}
      / %source{src: '../../videos/disrupt/printer.webm', type: 'video/webm'}
#bottom-nav
  =link_to "/features/disrupt/part-5.html" do
    %span.link-fill
      .arrow#four
      .text-container
        .next-part next part
        .title the future of design
