- content_for(:title) do
  = "Disrupt - Part 2: From Horse to Horsepower"
- content_for(:page_head) do
  = stylesheet_link_tag "features/disrupt"
  = stylesheet_link_tag "slick"
  = stylesheet_link_tag "feature-elements"
  :javascript
    var page = 1;
  = javascript_include_tag "//use.typekit.net/vja5lgo.js"
  = javascript_include_tag "jquery.colorscroll.min.js"
  = javascript_include_tag "features/disrupt.js"
  :javascript
    try{Typekit.load();}catch(e){}
- content_for(:worlds_end) do
  = javascript_include_tag "//platform.twitter.com/oct.js"
  :javascript
    twttr.conversion.trackPid('l5gav');
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5gav&p_id=Twitter" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5gav&p_id=Twitter" />
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => "future emerging tech technology disrupt"}/
  %meta{:name => "twitter:card", :content => "summary_large_image"}/
  %meta{:name => "twitter:site", :content => "@goinvo"}/
  %meta{:name => "twitter:creator", :content => "@goinvo"}/
  %meta{:name => "twitter:title", :content => "Disrupt"}/
  %meta{:name => "twitter:description", :content => "A feature piece on emerging technology."}/
  %meta{:name => "twitter:image:src", :content => "http://www.goinvo.com/videos/dfl/header.gif"}/

.navigation#article-nav
  %ol
    %li
      =link_to "1. Emerging Technologies", "/features/disrupt/index.html"
    %li
      =link_to "2. From Horse to Horsepower", "/features/disrupt/part-2.html"
    %li
      =link_to "3. The Coming Disruption", "/features/disrupt/part-3.html"
    %li
      =link_to "4. Crowdsourcing Innovation", "/features/disrupt/part-4.html"
    %li
      =link_to "5. The Future of Design", "/features/disrupt/part-5.html"
    %li
      =link_to "6. Fukushima and Fragility", "/features/disrupt/part-6.html"
%header.sec-header#top.top-vid
  .video-container
    %video{autoplay: true, muted: true, loop: true}
      %source{src: '../../videos/disrupt/section-2-header.mp4', type: 'video/mp4'}
      / %source{src: '../../videos/disrupt/printer.ogg', type: 'video/ogg'}
      / %source{src: '../../videos/disrupt/printer.webm', type: 'video/webm'}
  .title-container
    %h3 From Horse
    %h3 to Horsepower
%article#feature-article.disrupt
  %section.article-section#section-2
    .section-content
      .content
        .sub-sec
          %p To envision our future and the possible effects of technological disruption, both positive and negative, it is helpful to consider some of the recent historical context for humanity’s ongoing relationship with technology.
          .images.center
            = image_tag "../../images/features/disrupt/electric-love.png"
            .caption Caption text goes here
          %p Imagine the world at the turn of the 20th century in the United States, just before the massive changes of the Second Industrial Revolution took place. Personal transportation over land is largely provided by a person’s own two feet, horse and buggy, or, for extended trips, the railroad. Interpersonal communication is accomplished via word of mouth, handwritten letters, and — should you have an important message to send over long distance — perhaps the telegraph. During the evening, your home is lit by candles, lanterns, or maybe highly volatile gas lamps. Of course, all of this is about to change. But, as a person living in these early days of the 20th century, it’s likely you don’t have the slightest inkling how life is going to be altered as the technologies of the Second Industrial Revolution take hold.
          %p We can see an example of this disruption in the advent of the automobile. In 1910 there are fewer than 500,000 autos in the United States. Just seven years later, the number increases by a factor of 10 to 5 million registered vehicles. And by 1929, there are well over 50 times as many cars, with approximately 27 million automobiles across America. During the Second Industrial Revolution, this pattern of widespread adoption of radical new technology is repeated over and over again — from electricity to the telephone to the radio. A graph by Nick Felton from the New York Times shows the adoption rate of disruptive new technologies: In 1900, few if any American families have the technologies that define modern life. However, by the 1930s nearly 70% of U.S. households have electricity, 50% have automobiles, and 40% have telephones.
          .images.center
            = image_tag "../../images/features/disrupt/nytgraph.png"
          %p.no-margin Faster, better, more reliable transportation, nearly instantaneous communication across great distance, and a wondrous energy source to power inventions from electric lights to the radio, are just a few of the positive results of this era of technological disruption. But what did we give up in exchange? The automobile in particular, forced the remaking of the American landscape.
          .images.right
            .image
              = image_tag "../../images/features/disrupt/highway-map.png"
              .caption Map of the U.S. Highway System Plan (November 11, 1926)
            .image
              = image_tag "../../images/features/disrupt/sidewalk-illustration.png"
            .image
              = image_tag "../../images/features/disrupt/standard-oil.png"
          %p To create the roads and highways on which autos could easily travel, we tore up the landscape and replaced it with asphalt and concrete, from sea to shining sea. The natural beauty of America was subjugated to the desire to move forward — with individual mobility for commerce and pleasure seen as the greatest good, everything else was required to give way.
          %p Within our cities, we experienced a great loss of public space or, at least, the ceding of that space in permanent fashion to one form of transportation only. An illustration by Karl Jilg commissioned by the Swedish Road Administration makes the point elegantly, depicting city roadways as yawning chasms that can only be crossed by rickety plywood bridges, with pedestrians limited in their motion to the near vicinity of buildings.
          %p Similarly, our natural resource and even our national policy were subjected to the whims of big oil companies in order to feed our insatiable thirst for fuel. A political cartoon from 1905 shows the outsized influence of Standard Oil, which wraps its tentacles around the government, industry, and labor.
          %p In hindsight it’s easy to question if these were the best outcomes. We received great benefits, no doubt, from the auto, and great detriments as well. Going forward, it’s worth considering the trade-offs of emerging, disruptive technologies, for our environment, natural resources, and way of living.
%header.sec-header#bottom.bottom-vid
  .video-container
    %video{autoplay: true, muted: true, loop: true}
      %source{src: '../../videos/disrupt/section-2-footer.mp4', type: 'video/mp4'}
      / %source{src: '../../videos/disrupt/printer.ogg', type: 'video/ogg'}
      / %source{src: '../../videos/disrupt/printer.webm', type: 'video/webm'}
#bottom-nav
  =link_to "/features/disrupt/part-3.html" do
    %span.link-fill
      .arrow#two
      .text-container
        .next-part next part
        .title the coming disruption
