- content_for(:title) do
  = "Disrupt - Part 2: From Horse to Horsepower"
- content_for(:page_head) do
  = stylesheet_link_tag "features/disrupt"
  = stylesheet_link_tag "slick"
  = stylesheet_link_tag "feature-elements"
  :javascript
    var page = 1;
  = javascript_include_tag "//use.typekit.net/vja5lgo.js"
  = javascript_include_tag "vendor/jquery.colorscroll.min.js"
  = javascript_include_tag "vendor/picturefill.min.js"
  = javascript_include_tag "features/disrupt.js"

- meta = page_for_meta("disrupt")
%meta{:name => "description", :content => "#{meta.description}" }
%meta{:name => "keywords", :content => "#{meta.keywords}" }
%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
%meta{:name => "twitter:description", :content => "#{meta.description}"}
- if (meta.twitterimage)
  %meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
  
.no-js
  The article page is loading...
  %br
  %br
  This article requires the use of JavaScript. If you have JavaScript disabled, please enable or 
  =link_to "return home.", "/"
:javascript
  $('.no-js').remove();

.navigation#article-nav
  .mobile-menu
    .title Disrupt!
    = image_tag "/old/images/features/disrupt/mobilenavutil.png", class: "toggle-arrow"
  %ol
    %li
      =link_to "1. Emerging Technologies", "/features/disrupt/index.html"
    %li
      =link_to "2. From Horse to Horsepower", "/features/disrupt/part-2.html"
    %li
      =link_to "3. The Coming Disruption", "/features/disrupt/part-3.html"
    %li
      =link_to "4. Crowdsourcing Innovation", "/features/disrupt/part-4.html"
    %li
      =link_to "5. The Future of Design", "/features/disrupt/part-5.html"
    %li
      =link_to "6. Fukushima and Fragility", "/features/disrupt/part-6.html"
%header.sec-header#top.top-vid
  .video-container{data: {page: 2}}
    = image_tag "/old/images/features/disrupt/video_fallbacks/section-2-top.jpg", class: "placeholder"
  .title-container
    %h3 From Horse
    %h3 to Horsepower
%article#feature-article.disrupt
  %section.article-section#section-2
    .section-content
      .content
        .sub-sec
          %p To envision our future and the possible effects of technological disruption, both positive and negative, it is helpful to consider some of the recent historical context for humanity’s ongoing relationship with technology.
          %p Imagine the world at the turn of the 20th century in the United States, just before the massive changes of the Second Industrial Revolution took place. Personal transportation over land is largely provided by a person’s own two feet, horse and buggy, or, for extended trips, the railroad. Interpersonal communication is accomplished via word of mouth, handwritten letters, and — should you have an important message to send over long distance — perhaps the telegraph. During the evening, your home is lit by candles, lanterns, or maybe highly volatile gas lamps. Of course, all of this is about to change. But, as a person living in these early days of the 20th century, it’s likely you don’t have the slightest inkling how life is going to be altered as the technologies of the Second Industrial Revolution take hold.
.sci-fi
  %img{sizes:"100vw", srcset:"/old/images/features/disrupt/remarkable-800.jpg 800w, /old/images/features/disrupt/remarkable-1280.jpg 1280w, /old/images/features/disrupt/remarkable-2880.jpg 2880w"}
  %article.disrupt
    .caption As new technologies become closely interwoven with our daily lives it becomes difficult to envision how people functioned without them.
%article#feature-article.disrupt
  %section.article-section#section-2
    .section-content
      .content
        .sub-sec
          %p We can see an example of this disruption in the advent of the automobile. In 1910 there are fewer than 500,000 autos in the United States. Just seven years later, the number increases by a factor of 10 to 5 million registered vehicles. And by 1929, there are well over 50 times as many cars, with approximately 27 million automobiles across America. During the Second Industrial Revolution, this pattern of widespread adoption of radical new technology is repeated over and over again — from electricity to the telephone to the radio. A graph by Nick Felton from the <span class="italics">New York Times</span> shows the adoption rate of disruptive new technologies: In 1900, few if any American families have the technologies that define modern life. However, by the 1930s nearly 70% of U.S. households have electricity, 50% have automobiles, and 40% have telephones.
          .images.center
            = image_tag "/old/images/features/disrupt/nytgraph.gif"
          .images.sidebar.right
            .image
              = image_tag "/old/images/features/disrupt/section-2-highway-system.png"
              .caption U.S. Highway System Plan, November 11, 1926
            .image
              = image_tag "/old/images/features/disrupt/section-2-pijl.png"
              .caption Karl Jilg represents a pedestrian’s view of city streets
            .image
              = image_tag "/old/images/features/disrupt/section-2-standard-oil.png"
              .caption John Rockefeller’s Standard Oil had an octupus-like economic influence
          %p Faster, better, more reliable transportation, nearly instantaneous communication across great distance, and a wondrous energy source to power inventions from electric lights to the radio, are just a few of the positive results of this era of technological disruption. But what did we give up in exchange? The automobile in particular, forced the remaking of the American landscape. To create the roads and highways on which autos could easily travel, we tore up the landscape and replaced it with asphalt and concrete, from sea to shining sea. The natural beauty of America was subjugated to the desire to move forward — with individual mobility for commerce and pleasure seen as the greatest good, everything else was required to give way.
          .images.sidebar.middle
            .image
              = image_tag "/old/images/features/disrupt/section-2-highway-system.png"
              .caption U.S. Highway System Plan, November 11, 1926
          %p Within our cities, we experienced a great loss of public space or, at least, the ceding of that space in permanent fashion to one form of transportation only. An illustration by Karl Jilg commissioned by the Swedish Road Administration makes the point elegantly, depicting city roadways as yawning chasms that can only be crossed by rickety plywood bridges, with pedestrians limited in their motion to the near vicinity of buildings.
          .images.sidebar.middle
            .image
              = image_tag "/old/images/features/disrupt/section-2-pijl.png"
              .caption Karl Jilg represents a pedestrian’s view of city streets
          %p Similarly, our natural resource and even our national policy were subjected to the whims of big oil companies in order to feed our insatiable thirst for fuel. A political cartoon from 1905 shows the outsized influence of Standard Oil, which wraps its tentacles around the government, industry, and labor.
          .images.sidebar.middle
            .image
              = image_tag "/old/images/features/disrupt/section-2-standard-oil.png"
              .caption John Rockefeller’s Standard Oil had an octupus-like economic influence
          %p In hindsight it’s easy to question if these were the best outcomes. We received great benefits, no doubt, from the auto, and great detriments as well. Going forward, it’s worth considering the trade-offs of emerging, disruptive technologies, for our environment, natural resources, and way of living.
%header.sec-header#bottom.bottom-vid
  .video-container{data: {page: 2}}
    = image_tag "/old/images/features/disrupt/video_fallbacks/section-2-bottom.jpg", class: "placeholder"
#bottom-nav
  =link_to "/features/disrupt/part-3.html" do
    %span.link-fill
      .arrow#two
      .text-container
        .next-part next part
        .title the coming disruption
