- content_for(:title) do
  = "Disrupt - Part 4: Crowdsourcing Innovation"
- content_for(:page_head) do
  = stylesheet_link_tag "features/disrupt"
  = stylesheet_link_tag "slick"
  = stylesheet_link_tag "feature-elements"
  :javascript
    var page = 3;
  = javascript_include_tag "slick/slick"
  = javascript_include_tag "//use.typekit.net/vja5lgo.js"
  = javascript_include_tag "vendor/jquery.colorscroll.min.js"
  = javascript_include_tag "vendor/picturefill.min.js"
  = javascript_include_tag "features/disrupt.js"
  = javascript_include_tag "features/disrupt_grid.js"

.navigation#article-nav
  .mobile-menu
    .title Disrupt!
    = image_tag "../../images/features/disrupt/mobilenavutil.png", class: "toggle-arrow"
  %ol
    %li
      =link_to "1. Emerging Technologies", "/features/disrupt/index.html"
    %li
      =link_to "2. From Horse to Horsepower", "/features/disrupt/part-2.html"
    %li
      =link_to "3. The Coming Disruption", "/features/disrupt/part-3.html"
    %li
      =link_to "4. Crowdsourcing Innovation", "/features/disrupt/part-4.html"
    %li
      =link_to "5. The Future of Design", "/features/disrupt/part-5.html"
    %li
      =link_to "6. Fukushima and Fragility", "/features/disrupt/part-6.html"
%header.sec-header#top.top-vid
  .video-container{data: {page: 4}}
    = image_tag "../../images/features/disrupt/video_fallbacks/section-4-top.jpg", class: "placeholder"
  .title-container
    %h3 Crowdsourcing
    %h3 Innovation
%article#feature-article.disrupt
  %section.article-section#section-4
    .section-content
      .content
        .sub-sec
          %p Development and adoption of emerging technologies is happening at an unprecedented pace. Part of the reason for this is the democratization of technological discovery and exploration, and the ease of sharing that information with other people across the globe.
          %p This crowd sourcing of innovation through citizen scientists, engineers, designers and other amateurs is increasing the reach of technological progress in a way never before seen. No longer is research and development relegated to the lab or to the big company, but rather to the garages, basements, and dorm rooms of interested and passionate explorers from biohackers to makers with 3D printers.
.sci-fi
  %img{sizes:"100vw", srcset:"../../images/features/disrupt/peculiar-800.jpg 800w, ../../images/features/disrupt/peculiar-1280.jpg 1280w, ../../images/features/disrupt/peculiar-2880.jpg 2880w"}
  %article.disrupt
    .caption The dizzying speed of technological progress causes some to fear (and some to hope) that they might be replaced by machines.
%article#feature-article.disrupt
  %section.article-section#section-4
    .section-content
      .content
        .sub-sec
          %p As a part of this, technology integration has become as important as invention, and is another source of ongoing innovation in emerging tech fields. For instance, new products and services for the IoT will be driven in part by designers and engineers prototyping new interactive objects with Arduino and Raspberry Pi controllers and inexpensive sensors and 3D printed components.
          %p How this diffuse and decentralized system — fueled by a culture of sharing and openness — advances emerging tech in areas as varied as genomics, robotics, and the IoT, remains to be seen.
#grid-section-container
  #grid-section
    #grid-area
      #grid-container
        .grid-panel{data: {slideIndex: 0, tech: 'artificial-intelligence', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/artificial-intelligence.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 1, tech: 'connected-environments', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/connected-environments.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 2, tech: 'genomics', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/genomics.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 3, tech: 'crypto-currencies', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/crypto-currency.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 4, tech: '3d-printing', row: "1"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/3d-printing.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 5, tech: 'materials-science', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/materials-science.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 6, tech: 'vertical-farming', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/vertical-farming.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 7, tech: 'smart-cities', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/smart-cities.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 8, tech: 'robotics', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/robotics.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 9, tech: 'augmented-reality', row: "2"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/augmented-reality.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 10, tech: 'personalized-medicine', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/personalized-medicine.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 11, tech: 'smart-clothing', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/smart-clothing.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 12, tech: 'synthetic-biology', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/synthetic-biology.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 13, tech: 'artificial-organs', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/artificial-organs.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 14, tech: 'nanotech', row: "3"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/nanotech.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 15, tech: 'bionic-implants', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/bionic-implants.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 16, tech: 'medical-nanobots', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/medical-nanobots.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 17, tech: 'wearables', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/wearables.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 18, tech: 'climate-engineering', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/climate-engineering.png", class: "grid-bg"}
        .grid-panel{data: {slideIndex: 19, tech: 'internet-of-things', row: "4"}}
          .bg-container
            %img{src: "../../images/features/disrupt/grid/panels/internet-of-things.png", class: "grid-bg"}
      #slideshow-container
        .nav-button.prev
        .close
        .nav-button.next
        #slides-container
          .slide{data: {slideIndex: 0, tech: 'artificial-intelligence', row: "1"}}
            .container
              .title Artificial Intelligence
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/artificial-intelligence.jpg"
              %p Alan Turing’s bombe Christopher saved lives. So did Tommy Flowers’ Colossus. Clarke and Kubrick’s HAL 9000 killed astronauts. Spielberg’s endearing android David won a mother’s love. Gene Roddenberry’s Commander Data gained the love of a cat, which is arguably harder to earn than mother-love. Siri informs and entertains, keeps us company, and finds us good sushi. Which is fiction? Nothing fascinates and scares us more than the idea that we can create machines that are smarter than we are. Do we really want cars that drive themselves? Like other emerging technologies, the field of artificial intelligence (AI) comprises many highly technical and specialized disciplines ranging from mathematics and computer science to psychology and philosophy. Some researchers pursue a pure logic-based paradigm while others are exploring neurology and cybernetics or venturing into creativity and social intelligence. The implications for AI reach far beyond science fiction and popular culture, requiring designers to consider the critical ethical ramifications of what they produce.
          .slide{data: {slideIndex: 1, tech: 'connected-environments', row: "1"}}
            .container
              .title Connected Environments
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/connected-environments.jpg"
              %p At the 2014 Coachella Music Festival, the music-streaming service Spotify partnered with organizers to offer a connected space experience with the #WeWereThere campaign. Participants could “Connect, Collect, and Share” a personal Coachella story by linking their Facebook and Spotify accounts. Checkpoints let them map their journey and record how many steps they walked. They shared photos via Instagram, saved and shared playlists, and had access to Uber rides to get around. Two Verizon Wireless antenna trucks kept the network going.
              %p By contrast, you don’t need to leave your home to join in a competitive global soccer scrimmage using Kinect Sports for XBox. Motion-sensing input devices track movement of objects and people in 3D, assisted by machine learning to provide facial, voice, and advanced gesture recognition. These are examples of connected environments—the next phase of the Internet of Things. Interdisciplinary design teams work across  different environments, platforms, and technologies to enable multidimensional services that integrate both the physical and digital dimensions and are driven by real-time data. The challenge for designers is now to think beyond screens and human factors and consider the objects, networks, and algorithms that run environments and ambient interactions.
          .slide{data: {slideIndex: 2, tech: 'genomics', row: "1"}}
            .container
              .title Genomics
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/genomics.jpg"
              %p What if you could run a “spelling” check on your genes? Not just the genes in your 23 chromosome pairs, but your entire genome: all of your genes, gene-modifying sequences, and everything  in between. Then, what if you could compare your findings to those of millions of others?
              %p You would be participating in genomics research, which aims to identify the function of genes and what regulates them. Perhaps your data would help find genome-based strategies for detecting, diagnosing, and treating diseases. Or it might help reveal the significance of the tiny, individual variations in people’s DNA, and how our DNA interacts with our environments. Maybe your genetic map will contribute to discovering what makes some people resilient even when they carry potentially devastating genes. Genomic research has the potential to revolutionize the practice of health care. But not without ethical, legal, and social issues that must be addressed to prevent misuse of new genetic technologies and information.
          .slide{data: {slideIndex: 3, tech: 'crypto-currencies', row: "1"}}
            .container
              .title Crypto-Currencies
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/crypto-currencies.jpg"
              %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
          .slide{data: {slideIndex: 4, tech: '3d-printing', row: "1"}}
            .container
              .title 3D Printing
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/3d-printing.jpg"
              %p How can you either add or subtract material and yet still make a three-dimensional object? When you are ready to model a design, both methods can work, but since the 1980s, CAD and additive fabrication, or 3D printing, have overtaken traditional model making and machining processes.
              %p Originally, 3D printing actually meant a process that used inkjet printer heads and stereolithography to sequentially deposit a polymer material onto a powder bed, building one thin layer at a time. New technologies such as material extrusion and sintering have expanded 3D printing capabilities to include metals as well as polymers in additive fabrication. Additive fabrication plays a role in applications ranging from industrial design and engineering to biotech, dentistry, and medicine, to fashion and jewelry.
          .slide{data: {slideIndex: 5, tech: 'materials-science', row: "2"}}
            .container
              .title Materials Science
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/materials-science.jpg"
              %p It’s fairly common knowledge that football helmets really don’t protect players from concussions. But why is that true? With technology that lets a driver emerge unscathed from a totaled car, why hasn’t someone designed a helmet that protects the brain? Take a little paleontology, mix it with molecular biology, apply some Newtonian physics, filter it all through a materials science paradigm, and we might find a helmet material that will absorb impact before it gets to the brain.
              %p Materials science is the study of stuff: where it  comes from, how it’s composed, how it can be used, how it can be changed, even how we can create entirely new stuff. Already there are at least 300,000 different known materials—both naturally occurring, like copper and bone, and manufactured, such as Kevlar and carbon fiber. Descended from the scientific studies of the Enlightenment, materials science involves physics, biology, chemistry, mineralogy, engineering—it’s a long list of disciplines. The emerging possibilities present a disruptive design challenge of unknown proportions.
          .slide{data: {slideIndex: 6, tech: 'vertical-farming', row: "2"}}
            .container
              .title Vertical Farming
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/vertical-farming.jpg"
              %p In the agricultural world, thinking big might eventually give way to thinking <em>up</em>. Over the next 40+ years, global population growth will crowd out traditional farming, and most people will live in cities. Where will their food come from, and how will it get to them? Vertical farming might be a solution: food continuously grown inside of tall buildings situated within the urban centers. City dwellers would have easy access to fresh food, free of agrochemicals and locally grown. No more long-distance shipping with its economic and environmental impacts. Crops would be protected from severe weather. Traditionally farmed land could be allowed to go back to its natural state, repairing the ecosystem damage caused by decades of agricultural use. Other potential benefits include reduction of agricultural runoff and the use of fossil fuels, new energy sources via methane generation, and new water recycling technologies.
              %p However, the adoption of such a different approach to sustainable agriculture will require paradigm shifts across multiple disciplines: economic, political, academic, and even social.
          .slide{data: {slideIndex: 7, tech: 'smart-cities', row: "2"}}
            .container
              .title Smart Cities
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/smart-cities.jpg"
              %p Imagine a headset that augments a blind wearer’s experience with a 3D soundscape created from data off digital beacons on streetlights and other objects and then combines it with transit schedules. It tells the wearer if he is at the right bus stop, and when the next bus will arrive. It works with trains, too, and can tell the wearer what she is passing by along the way. It can even read barcodes at stores.
              %p This is just the kind of life-enhancing, integrated experience that smart cities are intended to provide. Cities are using cloud-based services, sensors and RFID, smart phones, smart meters, and other technologies to lower costs, improve efficiency, and increase overall quality of life. The possibilities will challenge designers, engineers, scientists, and academic communities. Projects will engage local government and individual citizens as well to participate in open innovation and co-design. 
          .slide{data: {slideIndex: 8, tech: 'robotics', row: "2"}}
            .container
              .title Robotics
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/robotics.jpg"
              %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
          .slide{data: {slideIndex: 9, tech: 'augmented-reality', row: "2"}}
            .container
              .title Augmented Reality
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/augmented-reality.jpg"
              %p Augmented reality (AR) technologies integrate interactive, computer-generated sensory input—graphics, sounds, tactile, even olfactory enhancements—with real-world experience.
              %p For example, the iPhone Yelp app contains an AR app called Monocle. It uses the phone’s GPS and compass to collect and display interactive ratings and reviews about local restaurants on the mobile screen. The smartphone app Zombies, Run! integrates zombie hordes into one’s workout to motivate a faster pace. Autodesk’s Showcase Professional augments 3D CAD models to create interactive walk-through demonstrations. Retail apps use a smartphone camera to let you “try on” items like jewelry or cosmetics.
              %p Although AR has been around for some time, there are challenges. Smartphone screens are small. GPS has a limited accuracy range. Privacy is an issue—image-recognition software used with AR will enable one to point a phone at others and instantly bring up their online profile data.
          .slide{data: {slideIndex: 10, tech: 'personalized-medicine', row: "3"}}
            .container
              .title Personalized Medicine
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/personalized-medicine.jpg"
              %p Two or three generations ago, “personalized” medicine might have meant that your doctor made house calls. Today, technologies like molecular diagnostics enable doctors to identify genetic markers for disease—before symptoms occur—and to focus on prevention or early intervention instead of reactive treatment. Pharmacogenomics makes it possible to determine the best drug protocol, reduce trial-and-error prescribing, and avoid adverse drug reactions or ineffective treatment. Complex genetic screening even allows doctors, in some cases, to identify cancer patients who are most likely to benefit from chemotherapy. Bringing new efficiencies to health care, personalized medicine increases quality of care, quality of life, accessibility, and affordability.
          .slide{data: {slideIndex: 11, tech: 'smart-clothing', row: "3"}}
            .container
              .title Smart Clothing
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/smart-clothing.jpg"
              %p Smart clothing and e-textiles integrate fabrics with digital and electronic components to collect, analyze, and use personalized data. They are used in fashion and interior design as well as medical applications, similar to other wearable technologies but with added features like flexibility and washability. Smart fabrics can communicate, conduct energy, and even change size. For example, a “smart socks” project at the University of Arizona Medical Center is developing a sock fabric that integrates fiber optics and sensors to monitor temperature, pressure, and joint angles in the feet, alerting medical professionals and wearers of the socks to any developing problems. Other applications include athletic and medical clothing that monitor the wearer’s vital signs, such as heart and respiration rate, temperature, activity, and posture or position.
              %p Design challenges include limited battery life and possible health risks in wearing electronics so close to the body. Still, e-textiles and smart clothing offer exciting possibilities.
          .slide{data: {slideIndex: 12, tech: 'synthetic-biology', row: "3"}}
            .container
              .title Synthetic Biology
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/synthetic-biology.jpg"
              %p In the field of synthetic biology, we apply engineering principles to the complex domains of nature and biology, making living systems themselves become possible material for design. Scientists can now create custom-built DNA from standardized parts that can be used to gain insights about how life works—sort of like building machines with Legos. This potentially transformative science could produce life-saving drugs made from chemicals produced by cells engineered for that purpose, or biodegradable clothing that we grow ourselves and which can adapt to the environment or monitor our health. With implications for use in architecture, medicine, environmental remediation, agriculture, and more, synthetic biology also raises concerns about bioethics, safety, security, and environmental health and sustainability. Synbio is truly science fiction coming—literally—to life.
          .slide{data: {slideIndex: 13, tech: 'artificial-organs', row: "3"}}
            .container
              .title Artificial Organs
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/artificial-organs.jpg"
              %p Nearly 35 years ago, the first successfully implanted artificial heart required its recipient to remain tethered to an external pneumatic compressor for the 112 days that he lived. Today, the Jarvik-7 has evolved and is used in patients awaiting a donor heart. With mechanical valves of titanium and pyrolytic carbon and a proprietary segmented polyurethane elastomer, this machine is a technical marvel. But it is still a temporary solution.
              %p Many people die waiting for organ transplants, sometimes because a match can’t be found or the patient’s immune system rejects the organ. So, organ replacement has turned to bioengineered tissues. Bioartificial organs are being grown from a patient’s own cells or amniotic stem cells and sometimes combined with artificial materials. Some techniques use a 3D printing technology that creates a natural or artificial scaffold onto which “seeded” cells can be grown—into a kidney, a trachea, a bladder. Functional implantation in humans is still experimental, but tissue engineering is full of possibilities.
          .slide{data: {slideIndex: 14, tech: 'nanotech', row: "3"}}
            .container
              .title Nanotech
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/nanotech.jpg"
              %p Nanotechnology is the the application of science and engineering at a very, very tiny scale: one billionth of a meter. If a typical marble were a nanometer, one meter would be the size of the Earth. Nanoscale materials such as blood hemoglobin, smoke, and volcanic ash occur naturally, and most biological processes occur at the nanoscale.
              %p Made possible through tools like the scanning tunneling and atomic force microscopes, the study of extremely small things enables scientists and engineers to see and control individual atoms and molecules. As this tiny size, materials’ properties, such as melting point and electrical conductivity, and behavior change (the “quantum effect”). By changing the size of a particle, scientists can precisely alter its properties. Materials made through nanotechnology can be added to polymer composites, thin films, food storage products, and even cosmetics. Nanotech has a broad impact in computing and other electronics applications, sustainable energy, and environmental remediation.
          .slide{data: {slideIndex: 15, tech: 'bionic-implants', row: "4"}}
            .container
              .title Bionic Implants
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/bionic-implants.jpg"
              %p What if you had a GPS in your brain that helped you navigate emotionally? Neuroscientists are working on a battery-powered brain implant that can recognize brain activity associated with the onset of severe depression or PTSD symptoms and then stimulate the brain to produce a healthier output.
              %p Bionics combines biological methods and systems with engineering, design, and technology, creating not only biological structures but also natural functionality. In medicine, bionic implants are not just prosthetics; they mimic the original function very closely. One tool developed is the cuff electrode, an interface that can be attached to human nerves, enabling electrical signals to pass between a bionic prosthetic and the wearer’s limb. Such signal processing can also be used to communicate pressure forces from a prosthetic limb to the wearer’s nervous system as sensory information. Other technologies get sensory input directly to the nerves, as with a cochlear implant, which stimulates the auditory nerve to enable hearing.
              %p What are the challenges? “Everything comes down to space and power,” says Jim Moran of Draper Laboratory in Cambridge, MA.
          .slide{data: {slideIndex: 16, tech: 'medical-nanobots', row: "4"}}
            .container
              .title Medical Nanobots
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/medical-nanobots.jpg"
              %p An emerging area of nanotechnology, nanorobotics explores the development of devices built from molecular or nanoscale parts and ranging in size from 0.1–10 micrometers. These robots are so tiny that they can deconstruct or build things at a molecular level, or even change the molecular structure of an object.
              %p As small as a blood cell, a “swarm” of these micro-machines could theoretically operate within the human bloodstream. Using sensors to find specific molecules, nanobots could be programmed to diagnose and treat certain diseases or to act like blood cells. AI algorithms provide “swarm intelligence” to allow independent yet collaborative functioning. Nanobots may someday contain electrodes to kill cancer cells, use ultrasonic signals to break up kidney stones, or use a micro camera for diagnostic exploration.
              %p Along with technical challenges, nanorobotics designers and engineers will likely face some tricky ethical questions in the potential for causing literally fundamental changes in human lives.
          .slide{data: {slideIndex: 17, tech: 'wearables', row: "4"}}
            .container
              .title Wearables
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/wearables.jpg"
              %p “Wearables” are small electronic devices that can be worn integrated with or as an article of clothing. The calculator watches of the 1980s were wearables. Now we have fitness tracking devices like Fitbit and Jawbone, or accessories like Bluetooth-enabled speaker earrings. Imagine a flexible smartphone that can bend into a bracelet—a next-gen smartwatch. And, of course, there is Google Glass.
              %p So, why don’t we see everyone reading texts on their watches? Currently, smartwatches essentially only mirror smartphone capabilities, relaying notifications and capturing data. There are still issues with aesthetics and comfort. Square, clunky watches that overwhelm the wrist are no more appealing than industrial-style eyewear or saucer-sized headphones, no matter how clever they are. And, as with other smart devices, battery life is key.
          .slide{data: {slideIndex: 18, tech: 'climate-engineering', row: "4"}}
            .container
              .title Climate Engineering
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/climate-engineering.jpg"
              %p Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt. Lorem epsom salt.
          .slide{data: {slideIndex: 19, tech: 'internet-of-things', row: "4"}}
            .container
              .title The Internet of Things
              .column.right
                .image
                  = image_tag "../../images/features/disrupt/slideshow/internet-of-things.jpg"
              %p The Internet of Things connects inanimate objects across the Internet to improve (and disrupt) our lives in innumerable ways. Constellations of wirelessly connected sensors collect and transmit all sorts of data through devices and services. The IoT’s impact spans industries, government, education, and nearly infinite consumer applications. Designing for this expanding universe requires fluency beyond product and interaction design principles and adaptive business models. The challenge lies in designing within ecosystems of interconnected products, services, devices, and experiences—but that isn’t where it ends. The more devices we connect, the greater the security risks, and the increased complexity could exclude the people who need it the most. It remains to be seen whether the IoT will simply become a playground for the wealthy or the realization of Orwell’s Big Brother, or if it will change lives for the good.
%header.sec-header#bottom.bottom-vid
  .video-container{data: {page: 4}}
    = image_tag "../../images/features/disrupt/video_fallbacks/section-4-bottom.jpg", class: "placeholder"
#bottom-nav
  =link_to "/features/disrupt/part-5.html" do
    %span.link-fill
      .arrow#four
      .text-container
        .next-part next part
        .title the future of design
