- content_for(:title) do
	= "Understanding Ebola: A Visual Guide"
- content_for(:page_head) do
	= stylesheet_link_tag "features/ebola-care"
	= stylesheet_link_tag "feature_links"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/

%article#feature-article.ebola-care
	%header#article-header
		.headline
			.head-container
				%h1 Ebola Care Plan
				%h2 A national 3 ward standard care plan for managing and treating Ebola patients while preventing further infection.
	%section#ebola-care-intro
		.intro 
			%p On 8 August 2014, the World Health Organization (<a href = "http://www.who.int/en/">WHO</a>) declared an international emergency in relation to the outbreak of Ebola Virus Disease (EVD), stating that a coordinated response would be essential to stop the spread of the virus. Since then, caregivers have contracted EVD in the US, Spain, and other parts of Africa. Protecting those who care for EVD victims is critical. Yet resource-rich countries are scrambling to create safe conditions and provide appropriate supplies and education for medical personnel on the front lines. 
			%p This is an open source, publicly available, three-ward care plan for evaluation and treatment of EVD patients. Data and examples have been gathered from the Centers for Disease Control (<a href = "http://www.cdc.gov/">CDC</a>), WHO, National Institutes of Health (<a href = "http://www.nih.gov/">NIH</a>), Massachusetts General Hospital (<a href = "http://www.massgeneral.org/">MGH</a>), and other global resources (see References). This is a living document that will be regularly updated when new, clinically relevant information is vetted.
	%section#ebola-care-download
		%a.ebolapdf-link{:href => "http://goinvo.com/features/ebola-care-plan/files/ebola_care_plan.pdf"}
			.photo-container
			.ebola-care-download-div
				.button Download the Ebola Careplan PDF
.social-buttons.centered
	%p Share this article:
	%a.fb{:href => "https://www.facebook.com/sharer/sharer.php?u=www.goinvo.com/features/ebola-care-plan", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"} Facebook
	%a.twitter{:href => "https://twitter.com/home?status=www.goinvo.com/features/ebola-care-plan"} Twitter
	%a.plus{:href => "https://plus.google.com/share?url=http%3A%2F%2Fgoinvo.com%2Ffeatures%2Febola-care-plan%2F", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600);return false;"} Google+
	%a.in{:href => "https://plus.google.com/share?url=www.goinvo.com/features/ebola-care-plan", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=1000');return false;"} LinkedIn
	%a.mail{:href => "mailto:?body=http%3A%2F%2Fgoinvo.com%2Ffeatures%2Febol-care-plana%2F"} Mail
	.comments.centered
.fb-comments
	%p Comment on this article:
	.fb-comments{:data => {:href => "http://goinvo.com/features/ebola-care-plan", :width => "100%", :numposts => "5", :colorscheme => "light"}}
		- # BEGIN Credits: Copy from this line.
#credits
	.author
		%img{:src => "../../images/team_photos/xinyu_liu.jpg", :alt => ""}/
		.author-content
			.author-header
				%h3 Author
				%h2 Xinyu Liu
			.author-bio
				%p Xinyu is a designer with a background in crafting physical objects, conducting research, and influencing human behavior. She leverages invisible sensing tech, composes emotional feedback loops, and creates just-in-time graphic communication. Xinyu is a graduate of the Beijing Institute of Technology and the Rhode Island School of Design.
	.contributors
		.contributor
			.image
				= image_tag 'features/democracy/contrib/emily.jpg'
			.info
				%h3 Editor
				%p Emily Twaddell<br><small><a href="http://twitter.com/mimitwaddell">@mimitwaddell</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/democracy/contrib/juhan.jpg'
			.info
				%h3 Contributing Author
				%p Juhan Sonin<br><small><a href="http://twitter.com/jsonin">@jsonin</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/ebola/contrib/sarah.jpeg'
			.info
				%h3 Contributing Illustrator
				%p Sarah Kaiser<br><small><a href="https://twitter.com/DamnTorren">@DamnTorren</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/ebola/contrib/adam.jpeg'
			.info
				%h3 Website Developer
				%p Adam Pere
- # END Credits. Copy to this %%%%%line.
%a#health-ax.bottom-link{:href => "http://www.healthaxioms.com"}
	.photo-container
	.content-info
		%h2 Health Axioms
		%h4 The mighty little deck of cards that will change your health habits.
  