- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
	- meta = page_for_meta("features")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%a#zika.block.bar{:href => "/features/zika/"}
	.photo-container
	.title
		%h5.tag March 2016 Feature
		%h2.name Understanding Zika
		%h3.sub-name There are an estimated 1.6 Million cases of Zika virus in 33 Countries
/ %a#careplans.block.bar{:href => "/features/careplans/part-1.html"}
/ 	.photo-container
/ 	.title
/ 		%h5.tag January 2016 Feature
/ 		%h2.name Care Plans
/ 		%h3.sub-name Part 1: Definition and History
%a#digital-healthcare.block.bar{:href => "/features/digital-healthcare/"}
	.photo-container
	.title
		%h5.tag December 2015 Feature
		%h2.name Digital Healthcare: 2016 and Beyond
		%h3.sub-name 8 tech trends to watch
%a#us-healthcare-feature.block.bar{:href => "/features/us-healthcare/"}
	.photo-container
	.title
		%h5.tag September 2015 Feature
		%h2.name Healing U.S. Healthcare
		%h3.sub-name How do we save an ailing system?
%a#disrupt.block.bar{:href => "/features/disrupt/"}
	.photo-container
	.video-container
		%video#disrupt-vid{autoplay: true, muted: true, loop: true, poster: "../images/features/disrupt/video_posters/section-5-top.jpg"}
			%source{src: '../videos/disrupt/section-5-top.mp4', type: 'video/mp4'}
			%source{src: '../videos/disrupt/section-5-top.webm', type: 'video/webm'}
	.title
		%h5.tag June 2015 Feature
		%h2.name Disrupt!
		%h3.sub-name Designing for Emerging Technologies
%a#from-bathroom-to-healthroom.block.bar{:href => "/features/from-bathroom-to-healthroom/"}
	.photo-container
	.title
		%h5.tag March 2015 Feature
		%h2.name From Bathroom to Healthroom
		%h3.sub-name How magical technology will revolutionize human health
%a#oral-history.block.bar{:href => "/features/an-oral-history/"}
	.photo-container
	.title
		%h5.tag December 2014 Feature
		%h2.name An Oral History of Involution Studios
%a#democracy.block.bar{:href => "/features/redesign-democracy/"}
	.photo-container
	.title
		%h5.tag October 2014 Feature
		%h2.name Redesign Democracy
		%h3.sub-name A better solution for the digital era

%a#ebola.block.bar{:href => "/features/ebola/"}
	.photo-container
	.title
		%h2.sub-name A Visual Guide
		%h2.name Understanding Ebola

%a#ebola-guide.block.bar{:href => "/features/ebola-care-guideline/"}
	.photo-container
	.title
		%h2.name Ebola Care Guideline
		%h2.sub-name An Illustrated Process on Personal Protective Equipment
				
%a#world-cup.block.bar{:href => "/features/the-10-best-nations-in-world-cup-history/"}	
	.photo-container
	.title
		%h5.tag August 2014 Feature
		%h2.name The 10 Best Nations in World Cup History
		%h3.sub-name 77 teams over 84 years