- content_for(:title) do
	= "Understanding Ebola: A Visual Guide"
- content_for(:page_head) do
	= stylesheet_link_tag "features/ebola"
	= stylesheet_link_tag "feature_links"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/
%header.nav-wrapper
	%a.nav-button{:href => "#"} T<small>able of </small>C<small>ontents</small>
	%nav.main-nav
		%a.one{:href => "#section1"} 1. Intro to Ebola
		%a.two{:href => "#section2"} 2. Cases by Year
		%a.three{:href => "#section3"} 3. Transmission
		%a.four{:href => "#section4"} 4. Symptoms
		%a.five{:href => "#section5"} 5. Diagnosis and Treatment
		%a.six{:href => "#section6"} 6. Prevention and Control
		%a.seven{:href => "#section7"} 7. Potential Spread
		%a.eight{:href => "#section8"} 8. References
%article#feature-article.ebola
	%header#section1
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-01.png"}
	%section#section2
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-02.png"}
	%section#section3
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-03.png"}
	%section#section4
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-04.png"}
	%section#section5
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-05.png"}
	%section#section6
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-06.png"}
	%section#section7
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-07.png"}
.social-buttons.centered
	%p Share this article:
	%a.fb{:href => "https://www.facebook.com/sharer/sharer.php?u=www.goinvo.com/features/ebola", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"} Facebook
	%a.twitter{:href => "https://twitter.com/home?status=www.goinvo.com/features/ebola"} Twitter
	%a.plus{:href => "https://plus.google.com/share?url=http%3A%2F%2Fgoinvo.com%2Ffeatures%2Fredesign-democracy%2F", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600);return false;"} Google+
	%a.in{:href => "https://plus.google.com/share?url=www.goinvo.com/features/ebola", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=1000');return false;"} LinkedIn
	%a.mail{:href => "mailto:?body=http%3A%2F%2Fgoinvo.com%2Ffeatures%2Febola%2F"} Mail
	.comments.centered
.fb-comments
	%p Comment on this article:
	.fb-comments{:data => {:href => "http://goinvo.com/ebola", :width => "100%", :numposts => "5", :colorscheme => "light"}}
		- # BEGIN Credits: Copy from this line.
#credits
	.author
		%img{:src => "../../images/team_photos/xinyu_liu.jpg", :alt => ""}/
		.author-content
			.author-header
				%h3 Author
				%h2 Xinyu Liu
			.author-bio
				%p Xinyu is a designer with a background in crafting physical objects, conducting research, and influencing human behavior. She leverages invisible sensing tech, composes emotional feedback loops, and creates just-in-time graphic communication. Xinyu is a graduate of the Beijing Institute of Technology and the Rhode Island School of Design.
	.contributors
		.contributor
			.image
				= image_tag 'features/democracy/contrib/emily.jpg'
			.info
				%h3 Editor
				%p Emily Twaddell<br><small><a href="http://twitter.com/mimitwaddell">@mimitwaddell</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/democracy/contrib/juhan.jpg'
			.info
				%h3 Contributing Author
				%p Juhan Sonin<br><small><a href="http://twitter.com/jsonin">@jsonin</a></small>
	.contributors.download-links
		.contributor <a href = "http://www.goinvo.com/features/ebola/files/Understanding_Ebola_part1.pdf">Download PDF - Part 1</a>
		%hr
		.contributor <a href = "http://www.goinvo.com/features/ebola/files/Understanding_Ebola_part2.pdf">Download PDF - Part 2</a>
		%hr
		.contributor <a href = "http://www.goinvo.com/features/ebola/files/Understanding_Ebola_ Reference.pdf">Download References PDF</a>
- # END Credits. Copy to this %%%%%line.
%article
	%section#section8
		%img.ebola-section{:src => "../../images/features/ebola/Ebola-08.png"}