- content_for(:title) do
	= "Partners GeneInsight..."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("partners-gene-insight")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("Partners GeneInsight")

#content-area.caseStudyContent
	.projectData
		%h1.client{style: "color: #{client.primary_color}"} Partners GeneInsight

		%h6.subheader Results

		%p Partners Healthcare was able to launch this new genetic reporting service as commercial-grade software, used across multiple hospital systems in the United States.

		%h6.subheader Details
		
		%p Redesigning an antiquated academic laboratory software to be commercially viable through a honed user experience.
		%ul
			%li Conducted usability reviews of current lab software
			%li Invo met with a spectrum of key stakeholders (over two dozen) to codify product and user experience goals
			%li Authored and designed the user manual beginners guide
			%li Crafted and delivered a production-ready user interface and workflow enhancements

		%h6.subheader Practice Areas
		%p.small-bottom-margin Healthcare IT, Academic Science

		%h6.subheader Project Type
		%p.small-bottom-margin Usability Analysis, UI Design, Facilitation

		%h6.subheader Process
		%p.small-bottom-margin Learning, Craft, Build

		%h6.subheader Price
		%p $100k &ndash; $200k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img{alt: "Care Cards", src: "../../images/clients/pgi/partners_report_draft.png"}

		%p The Partners HealthCare Center for Personalized Genetic Medicine (PCPGM) is dedicated to the accelerated integration of genetic knowledge into clinical care. Genomic-based decisions are making people’s lives healthier and better by transforming the practice of medicine through increased personalization.

		%p The PCPGM’s GeneInsight application assists clinical specialists in drafting patient-specific, molecular diagnostic test reports for geneticist review. From the software’s extensive knowledge database structure, reports are created based on a set of highly flexible, user-defined templates.

		%p In order to move GeneInsight out of the Partners Healthcare lab and into the commercial limelight, the Invo team delivered improved usability, general layout, interaction, and visual appeal of the software user interface, so that it could successfully survive outside their firewall in clinics around the planet.

		%div
			%img.with-caption{alt: "Care Cards card Move More.", src: "../../images/clients/pgi/partners_geneinsight_patient_report_p1.png"}/
		%p.caption Patient genetic reports are a critical component. In the previous build of the software, interpretations, recommendations, and comments were designed to be machine readable versus human scanable and readable. The updated data, layout, and emphasis drove for faster, better decision making.

		%div
			%img.with-caption{alt: "Care Cards featured in Patient Safety &amp; Quality Healthcare.", src: "../../images/clients/pgi/partners_search_documentation.png"}/
		%p.caption Invo created software guides and reference sheets to quickly inform new users regarding key functionality..

		%div
			%img.with-caption{alt: "Similar to a standard deck of cards, Care Cards fit into your pocket - and your life.", src: "../../images/clients/pgi/partners_geneinsight_variants.png"}/
		%p.caption Genetic variants, a mutation of the nucleotide sequence of the human genome, result in several different types of change in sequences (i.e. having no effect, altering the product of a gene, or preventing proper functioning). These variants need to be captured, cataloged, and validated by the commons (via a globally-accessible variant database and vetting process). GeneInsight streamlined this process for laboratory technicians and genetic research scientists.

#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
