- content_for(:title) do
	= "Designers and Engineers at Involution Studios"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/team"
	= javascript_include_tag 'studio'
	- meta = page_for_meta("team")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
.team
	%header.hero
		#video-bg
			<video autoplay loop muted preload><source type="video/webm" src="../../videos/studio_2.webmhd.webm"><source type="video/mp4" src="../../videos/studio_1.mp4"></video>
		.title
			%h2 Our Team
			%h3 We bring together the very best people and deploy them on your hardest digital problems.
	#content-area
		%section.team-cards.contractedcards
			- data.team.each do |person|
				- style = person.photo.nil? ? "" : "background: -moz-linear-gradient(left,  rgba(2,0,0,0.85) 0%, rgba(2,0,0,0.55) 24%, rgba(255,255,255,0.01) 68%, rgba(255,255,255,0) 69%),url(../../images/team_photos/#{person.photo}); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(2,0,0,0.85)), color-stop(24%,rgba(2,0,0,0.55)), color-stop(68%,rgba(255,255,255,0.01)), color-stop(69%,rgba(255,255,255,0))),url(../../images/team_photos/#{person.photo}); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left,  rgba(2,0,0,0.85) 0%,rgba(2,0,0,0.55) 24%,rgba(255,255,255,0.01) 68%,rgba(255,255,255,0) 69%),url(../../images/team_photos/#{person.photo}); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left,  rgba(2,0,0,0.85) 0%,rgba(2,0,0,0.55) 24%,rgba(255,255,255,0.01) 68%,rgba(255,255,255,0) 69%),url(../../images/team_photos/#{person.photo}); /* Opera 11.10+ */ background: -ms-linear-gradient(left,  rgba(2,0,0,0.85) 0%,rgba(2,0,0,0.55) 24%,rgba(255,255,255,0.01) 68%,rgba(255,255,255,0) 69%),url(../../images/team_photos/#{person.photo}); /* IE10+ */ background: linear-gradient(to right,  rgba(2,0,0,0.85) 0%,rgba(2,0,0,0.55) 24%,rgba(255,255,255,0.01) 68%,rgba(255,255,255,0) 69%),url(../../images/team_photos/#{person.photo}); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9020000', endColorstr='#00ffffff',GradientType=1 ),url(../../images/team_photos/#{person.photo}); /* IE6-9 */ background-size:cover;"
				.team-card{style: style, id: person.first_name}
					.stats
						%h1= person.first_name + " " + person.last_name
						%span.title= person.title
						%ul.social-icons
							- unless person.email.blank?
								%li.email= link_to(image_tag('icon-email.svg'), email_url_for(person.email) )
							- unless person.linkedin_url.blank?
								%li.linkedin= link_to(image_tag('icon-linkedin.svg'), person.linkedin_url )
							- unless person.twitter_username.blank?
								%li.twitter= link_to(image_tag('icon-twitter.svg'), twitter_url_for(person.twitter_username) )
							- unless person.github_username.blank?
								%li.github= link_to(image_tag('icon-github.svg'), github_url_for(person.github_username) )
							- unless person.flickr_username.blank?
								%li.flickr= link_to(image_tag('icon-flickr.svg'), flickr_url_for(person.flickr_username) )
							- unless person.dribbble_username.blank?
								%li.dribbble= link_to(image_tag('team/social-icons/dribbble.png'), dribbble_url_for(person.dribbble_username) )
							- unless person.tumblr_url.blank?
								%li.tumblr= link_to(image_tag('team/social-icons/tumblr.png'), person.tumblr_url )
							- unless person.lastfm_username.blank?
								%li.lastfm= link_to(image_tag('team/social-icons/lastfm.png'), lastfm_url_for(person.lastfm_username) )
							- unless person.pinterest_username.blank?
								%li.pinterest= link_to(image_tag('team/social-icons/pinterest.png'), pinterest_url_for(person.pinterest_username) )
						%div{style: "clear:both"}
						%p.bio= person.bio
					%div{style: "clear:both"}
					.character-sheet
						.content
							- unless person.mbti.blank?
								.myers-briggs
									MBTI
									%span.value= person.mbti
							- unless person.github_username.blank?
								.sparkline.github-commits
									.graph{"data-member-id" => person.id}
									%label
		%section.team-cards.expandedcards
			- data.team.each do |person|
				- style = person.photo.nil? ? "" : "background:url(../../images/team_photos/#{person.photo}); background-size:cover; "
				.team-card{style: style}
				.team-card-info
					.stats
						%h1.name= person.first_name + " " + person.last_name
						%span.title= person.title
						%ul.social-icons
							- unless person.email.blank?
								%li.email= link_to(image_tag('icon-email.svg'), email_url_for(person.email) )
							- unless person.linkedin_url.blank?
								%li.linkedin= link_to(image_tag('icon-linkedin.svg'), person.linkedin_url )
							- unless person.twitter_username.blank?
								%li.twitter= link_to(image_tag('icon-twitter.svg'), twitter_url_for(person.twitter_username) )
							- unless person.github_username.blank?
								%li.github= link_to(image_tag('icon-github.svg'), github_url_for(person.github_username) )
							- unless person.flickr_username.blank?
								%li.flickr= link_to(image_tag('icon-flickr.svg'), flickr_url_for(person.flickr_username) )
							- unless person.dribbble_username.blank?
								%li.dribbble= link_to(image_tag('team/social-icons/dribbble.png'), dribbble_url_for(person.dribbble_username) )
							- unless person.tumblr_url.blank?
								%li.tumblr= link_to(image_tag('team/social-icons/tumblr.png'), person.tumblr_url )
							- unless person.lastfm_username.blank?
								%li.lastfm= link_to(image_tag('team/social-icons/lastfm.png'), lastfm_url_for(person.lastfm_username) )
							- unless person.pinterest_username.blank?
								%li.pinterest= link_to(image_tag('team/social-icons/pinterest.png'), pinterest_url_for(person.pinterest_username) )
						%div{style: "clear:both"}
						%p.bio= person.bio
					%div{style: "clear:both"}
				.team-card-character
					.character-sheet
						.content
							- unless person.mbti.blank?
								.myers-briggs
									MBTI
									%span.value= person.mbti
							- unless person.github_username.blank?
								.sparkline.github-commits
									.graph{"data-member-id" => person.id}
									%label
		.sidebar.omega
			%section.code-of-ethics
				%h3 CODE <em>of</em><br> ETHICS
				%h4 Speak the Truth
				%p.caption We tell the truth to others, with the intention and in the way of trying to do the most possible good.
				%h4 Make the World<br>Useful, Beautiful<br>and Delightful
				%p.caption We exercise the discipline required to produce ideas and things that are useful to and beautiful in the world.
				%h4 Learn, Share<br>& Build
				%p.caption We are curious, open creators who welcome new ideas and the input of others.
				%h4 Be Vigilant
				%p.caption Identify and respond to inequality, protecting and serving the ideas, community and people in our world.
				%h4 Go Like Hell
				%p.caption We are driven and committed to what we do, putting in extra effort in our quest for exceptional results.
			.photo
				= link_to( image_tag('team/boston-user-experience-design.jpg'), 'https://www.flickr.com/photos/juhansonin/8027802346/in/photolist-fVfDah-deozXh-cSZHcm-bo8QV3-d1AVw7-fVfDks-fzStGh-deoB4i-cSZHq7-fgRwzH-d1AVHS-dbreBn-fTV2B6-h4dC12' )
				%h3 Dedicated + hyper-focused team
				%p.caption
					We carefully craft the best team to fit you and your project. The team we assemble is 100% committed to a single project, yours. You&rsquo;ll have direct access to the team designing your product. Sounds like common-sense but not all design studio&rsquo;s operate like us.
			.video
				.video-box
					%iframe{:src => "//player.vimeo.com/video/101925242?title=0&amp;byline=0&amp;portrait=0", :frameborder => "0", :allowfullscreen => ''}
				%h3 Making is in our DNA
				%p.caption
					There is always some new gadget or technology we&rsquo;re tinkering with. It could be a fun project but we&rsquo;re constantly thinking of how this technology can translate to something practical. This experimentation mindset is what our clients appreciate about us and the work we deliver.
			.photo
				= link_to( image_tag('team/user-interface-design-sketches.jpg'), 'https://www.flickr.com/photos/juhansonin/10162017593/in/photolist-hTTWo9-gtYZMT-cihiAN' )
				%h3 Thou must ship!
				%p.caption
					We&#39;re not in this field to just make pretty designs. We&rsquo;re looking to design highly functional products that have huge impact. We&rsquo;ll stretch your design thinking and push the bounds but our work is destined to ship, and beautifully.

= javascript_include_tag 'team'
