- content_for(:title) do
	= "Products"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/workpages"
	- meta = page_for_meta("products")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#products
	%header#article-header
		%h1.title Understanding the entire product lifecycle…<br>because we create our own products.
		%a{:href => "http://www.amazon.com/Designing-Emerging-Technologies-Genomics-Robotics/dp/1449370519/ref=sr_1_fkmr0_1?ie=UTF8&qid=1418396483&sr=8-1-fkmr0&keywords=designing+for+emerging+tech"}
			.button-h Buy our book
	.small-quote.small-bottom-padding We have funded, designed, built, marketed, managed, sold, and revised our own products. We know that pain, the struggle, the intensity.
	.small-quote.no-top-padding It’s a tough sell unless you’ve been there.
	.projects-row
		%a{:href => "/products/hgraph/"}
			.project-item
				.top-description Your Health in One Picture
				.image-wrapper
					%img{:src => "/images/products/hgraph.png"}
				.bottom-description hGraph is a visual representation of a patient's health status, designed to increase awareness of the individual's factors that can affect overall health.
				.company-name hGraph
		%a{:href => "/features/determinants-of-health/"}
			.project-item
				.top-description Determinants of Health
				.image-wrapper
					%img{:src => "/images/products/determinants-of-health.png"}
				.bottom-description A holistic measure of an individual's entire living situation and life experience.
				.company-name Determinants of Health
		%a{:href => "/products/care-cards/"}
			.project-item
				.top-description Healthy Habits
				.image-wrapper
					%img{:src => "/images/products/health-axioms.png"}
				.bottom-description Care Cards put you in touch with habits to improve your health, life, and well-being. Our sometimes surprising, always practical axioms nudge you toward the healthiest life possible.
				.company-name Care Cards
	.very-large-quote
		.quote-content “I wanted to reach out and say how fun the Care Cards you sent over were, merging simplicity of presentation and complex data representation.”
		.quote-author Mirar Bristol, MA. Director, Special Projects, Department of Medicine, Massachusetts General Hospital
	.open-source-projects
		.open-row
			%h1 Open Source Projects
		.open-row
			.item#open-hgraph
				%a{href: "http://hgraph.org/"}
					.icon
				.info
					%a.title{href: "http://hgraph.org/"} hGraph
					
					.description 
						%p An open source javascript-based web application for visualizing health data.
						%a{href: "http://www.hgraph.org"} www.hgraph.org
						%br
						%a{href: "https://github.com/goinvo/hGraph"} Download Code
			.item#open-doh
				%a{href: "/features/determinants-of-health/"}
					.icon
				.info
					%a.title{href: "/features/determinants-of-health/"} Determinants of Health
					.description
						%p A holistic measure of an individual's entire living situation and life experience.
						%a{href: "http://determinantsofhealth.org"} www.determinantsofhealth.org
						%br
						%a{href: "https://github.com/goinvo/HealthDeterminants"} Download Code
			.item#open-health-axioms
				%a{href: "http://carecards.me/"}
					.icon
				.info
					%a.title{href: "http://carecards.me/"} Care Cards
					.description 
						%p Care Cards put you in touch with habits to improve your health, life, and well-being. Our sometimes surprising, always practical axioms nudge you toward the healthiest life possible.
						%a{href: "http://carecards.me/"} www.carecards.me
						%br
						%a{href: "https://github.com/goinvo/CareCards"} Download Code
						%br
						%a{href: "https://itunes.apple.com/us/app/care-cards/id1163912103?mt=8"} iOS App
						%a{href: "https://github.com/goinvo/CareCardsStickers"} (Download Code)
		.open-row
			.item#open-ehr
				%a{href: "http://inspiredehrs.org/"}
					.icon
				.info
					%a.title{href: "http://inspiredehrs.org/"} Inspired EHRs
					.description
						%p The code repository for the prototypes included in the eBook <em>Inspired EHRs - Designing for Clinicians</em>.
						%a{href: "http://inspiredehrs.org/"} www.inspiredehrs.org
						%br
						%a{href: "https://github.com/goinvo/EHR"} Download Code
			.item#open-pain-trackr
				%a{href: "http://www.paintrackr.com/"}
					.icon
				.info
					%a.title{href: "http://www.paintrackr.com/"} PainTrackr
					.description
						%p An open-source app that monitors physical pain. It logs pain based on severity and location and stores this data so that it can be easily transmitted.
						%a{href: "http://www.paintrackr.com/"} www.paintrackr.com
						%br
						%a{href: "https://github.com/goinvo/PainTrackr"} Download Code
						%br
						%a{href: "https://itunes.apple.com/us/app/paintrackr-track-pain-chronic/id566170561?mt=8"} iOS App
			.item#open-hmixer
				%a{href: "http://www.hscoremixer.org/"}
					.icon
				.info
					%a.title{href: "https://github.com/goinvo/hMixer"} hMixer
					.description
						%p A tool for doctors to quantify how individual factors impact overall health.
						%a{href: "https://github.com/goinvo/hMixer"} Download Code
		.open-row
			.item#open-pearl
				%a{href: "http://openpearl.github.io/"}
					.icon
				.info
					%a.title{href: "http://openpearl.github.io/"} Pearl
					.description
						%p A conversational health assistant.
						%a{href: "http://openpearl.github.io/"} openpearl.github.io
						%br
						%a{href: "https://github.com/openpearl"} Download Code
			.item#open-pophealth
				%a{href: "https://github.com/goinvo/PopHealth"}
					.icon
				.info
					%a.title{href: "https://github.com/goinvo/PopHealth"} popHealth
					.description 
						%p A tool for analyzing the patient population for hospitals, leveraging CHIA hospital and provider data.
						%a{href: "https://github.com/goinvo/PopHealth"} Download Code
			.item#open-town-budget
				%a{href: "http://www.arlingtonvisualbudget.org/"}
					.icon
				.info
					%a.title{href: "http://www.arlingtonvisualbudget.org/"} Visual Town Budget
					.description
						%p An open-source budget visualization framework.
						%a{href: "http://www.arlingtonvisualbudget.org/"} www.arlingtonvisualbudget.org
						%br
						%a{href: "https://github.com/goinvo/Visual-Town-Budget"}
		.open-row
			.item#open-runnan
				%a{href: "http://www.runnanthegame.com/"}
					.icon
				.info
					%a.title{href: "http://www.runnanthegame.com/"} Runnan
					.description
						%p Runnan is simple but tough! You control a carrot with no arms who needs to navigate his way through an obstacle ridden universe of odd shapes, quirky people, and ambiguous looking foods.
						%a{href: "http://www.runnanthegame.com/"} www.runnanthegame.com
						%br
						%a{href: "https://github.com/goinvo/Runnan"} Download Code
						%br
						%a{href: "https://itunes.apple.com/us/app/runnan/id672915929?mt=8"} iOS App
			.item#open-design-axioms
				%a{href: "http://www.designaxioms.com/"}
					.icon
				.info
					%a.title{href: "http://www.designaxioms.com/"} Design Axioms
					.description
						%p The Design Axioms describe the minimal rule set for designing interfaces: the foundational concepts that are required knowledge for engineers and designers to create usable and elegant interfaces.
						%a{href: "http://www.designaxioms.com/"} www.designaxioms.com
						%br
						%a{href: "https://github.com/goinvo/DesignAxioms"} Download Code
			.item#open-playbook
				%a{href: "http://playbook.goinvo.com/"}
					.icon
				.info
					%a.title{href: "http://playbook.goinvo.com/"} Playbook
					.description
						%p A one stop guide to running projects at Invo.
						%a{href: "http://playbook.goinvo.com/"} playbook.goinvo.com
						%br
						%a{href: "https://github.com/goinvo/InvoPlaybook"} Download Code
	.projects-row.bottom-margin
		%a{:href => "/products/design-axioms"}
			.project-item
				.top-description Design Edu in a Box
				.image-wrapper
					%img{:src => "/images/products/design-axioms.png"}
				.bottom-description The Design Axioms describe the minimal rule set for designing interfaces: the 16 foundational concepts that are required knowledge for engineers and designers to create usable and elegant interfaces.
				.company-name Design Axioms
		%a{:href => "/products/visual-government/"}
			.project-item
				.top-description Government Transparency
				.image-wrapper
					%img{:src => "/images/products/visual-budget.png"}
				.bottom-description Government budgets can be tough to understand, but now the Town of Arlington, Massachusetts is providing the next generation of accessibility in financial information that allows citizens to view, engage with, and discuss.
				.company-name Visual Government
		%a{:href => "/products/paintrackr/"}
			.project-item
				.top-description Track Pain
				.image-wrapper
					%img{:src => "/images/products/paintrackr.png"}
				.bottom-description PainTrackr logs pain based on severity and location and stores this data so that it can be easily transmitted.
				.company-name PainTrackr
	.projects-row.bottom-margin
		%a{:href => "/products/staff-plan/"}
			.project-item
				.top-description Staff Planning
				.image-wrapper
					%img{:src => "/images/products/staffplan.png"}
				.bottom-description Our internal tool for project planning.
				.company-name StaffPlan
	.micro-hs-form
		%h4 Need help designing your next product? Get in touch.

		<script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
		<script>
		  hbspt.forms.create({
		    portalId: '356419',
		    formId: '7ed4769c-d25a-4da4-b741-5c77055470ec',
		css: '',
		  });
		</script>
	.runnan-video
		%a{href: "https://itunes.apple.com/us/app/runnan/id672915929?mt=8"}
			.button Download Runnan for iOS
			#video-bg
				<video autoplay loop muted preload><source type="video/webm" src="../../videos/products/runnan.webmhd.webm"><source type="video/mp4" src="../../videos/products/runnan.mp4"></video>
	.office-hours
		.small-title.white Want honest design feedback on your product?
		.small-title.blue <a href="/studio/open-office-hours">Sign up</a> for Open Office hours every Thursday 4-6p.
