- content_for(:title) do
	= "Products"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/workpages"
	- meta = page_for_meta("products")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#products
	%header#article-header
		%h1.title Understanding the entire product lifecycle…<br>because we create our own products.
		%a{:href => "http://www.amazon.com/Designing-Emerging-Technologies-Genomics-Robotics/dp/1449370519/ref=sr_1_fkmr0_1?ie=UTF8&qid=1418396483&sr=8-1-fkmr0&keywords=designing+for+emerging+tech"}
			.button-h Buy our book
	.quote.small-bottom-padding
		%h2.quote-content We have funded, designed, built, marketed, managed, sold, and revised our own products. We know that pain, the struggle, the intensity.
	.quote.no-top-padding
		%h2.quote-content It’s a tough sell unless you’ve been there.
	= partial("partials/project-row", locals: {projects: get_projects_by_id(['hgraph', 'visual-government', 'care-cards'])})
	.quote
		%h2.quote-content “I wanted to reach out and say how fun the Care Cards cards you sent over were, merging simplicity of presentation and complex data representation.”
		.quote-author Mirar Bristol, MA. Director, Special Projects, Department of Medicine, Massachusetts General Hospital
	.open-source-projects
		%h2 Open Source Projects
		= partial("partials/open-source-projects", locals: {projects: get_open_source_projects()})
	= partial("partials/project-row", locals: {projects: get_projects_by_id(['design-axioms', 'staff-plan', 'paintrackr']), row_class: "bottom-margin large-margin"})
	.micro-hs-form
		%h2 Need help designing your next product? Get in touch.

		<script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
		<script>
		  hbspt.forms.create({
		    portalId: '356419',
		    formId: '7ed4769c-d25a-4da4-b741-5c77055470ec',
		css: '',
		  });
		</script>
	.runnan-video
		%a{href: "https://itunes.apple.com/us/app/runnan/id672915929?mt=8"}
			.button Download Runnan for iOS
			#video-bg
				<video autoplay loop muted preload><source type="video/webm" src="../../videos/products/runnan.webmhd.webm"><source type="video/mp4" src="../../videos/products/runnan.mp4"></video>
	.office-hours
		%h2.font-thin Want honest design feedback on your product?
		%h2.font-thin <a href="/studio/open-office-hours">Sign up</a> for Open Office hours every Thursday 4-6p.
