- content_for(:title) do
	= "Segterra Inside Tracker: using blood analytics to improve health"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("segterra")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = get_project_by_id("segterra")

#content-area.caseStudyContent
	.projectData
		%h2.client.title-with-sub{style: "color: #{client.primary_color}; margin-bottom: 0px;"} InsideTracker
		%h5.client.title-with-sub{style: "color: #{client.primary_color}; font-weight: 100;"} Using Blood Analytics to Improve Health

		%p.quote <a href="http://news.discovery.com/human/life/insidetracker-is-like-having-a-dashboard-for-your-body.htm">Insidetracker is like having a dashboard for your body.</a>
		%p.caption
			%img{:src => "/images/news/discoverynews.png"}

		%p.quote <a href="http://www.wired.com/2012/06/insidetracker/">A service [...] pro and college athletes use to monitor nutrition, boost performance and hasten recovery</a>
		%p.caption
			%img{:src => "/images/news/logo-wired@2x.png"}

		%p.quote <a href="http://www.popsci.com/technology/article/2012-08/how-systems-biology-helping-athletes-improve-performance-inside-out">The test olympians use to improve their performance &#8211; on the inside.</a>
		%p.caption
			%img{:src => "/images/news/logo-popular-science.png"}
		%h6.subheader Practice Areas
		%p.small-bottom-margin Healthcare, Decision Support

		%h6.subheader Project Type
		%p.small-bottom-margin Design Acceleration, Strategic Consulting, Design Direction

		%h6.subheader Process
		%p.small-bottom-margin Learn, Envision, Craft

		%h6.subheader Price
		%p Under $50k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img{alt: "Segterra Bloodwork User Interface", src: "../../images/clients/segterra/segterra_one.png"}

		%p We’ve all had a blood test before, for one thing or another. Sometimes they answer an easy question, like whether we have a specific disease or not. Other times they provide us with a battery of data that we need a doctor’s help to parse: which one is the bad cholesterol again? What should my numbers be? I just heard it is OK to eat high cholesterol foods now, how do these test results impact that? That’s the way it has been since Karl Landsteiner identified that we have different blood types in 1901. InsideTracker wanted to do more: part of the mission was bringing clarity to the everyday results, such as the cholesterol example here. The other part is harnessing exploding technology: what we can learn from blood is increasing every day. The science is moving quickly. InsideTracker realized that taking a fresh approach to blood panel reporting could create a powerful health and wellness decision engine. And, they wanted GoInvo to help them figure it out.

		%div
			%img.with-caption{alt: "Segterra Cholesterol User Interface", src: "../../images/clients/segterra/segterra_two.png"}
		%p Given our background in providing great software and big data design for healthcare, biology, and genomics companies, InsideTracker saw Invo as a best-of-breed partner. Our task was to translate their cutting-edge vision, science, and engineering into a strong market and product strategies. After acquainting ourselves with InsiderTracker’s strategy and market space - we already know their customers well from our extensive healthcare experience - we made recommendations about the direction and nature of the product. Engaging the InsideTracker leadership in honest, hard, collaborative dialog, together we refined their strategic arcs and got into concepts for design architecture and systems to support those strategies. By working closely in an intensive, face-to-face way, we were able to rapidly get to progressive and vetted concepts that the InsideTracker team could carry forward within their internal product organization.
		%p While InsideTracker came to us for strategy and design, something else came out of our work together: shared vision. They already had strong strategic organization, but the very immersive, hard-charging, collaborative approach we bring to our Design Acceleration(R) practice gave Inside Tracker’s leaders a deeper sense of shared ownership over the ideas. Catalyzing this with the documents and deliverables that memorialized our work product, Inside Tracker’s internal product team had a strong path forward to apply their own skills and excellence to. Before long, not only did they have an outstanding suite of products, they had raised a $2.5MM A round of funding and were on their way to adding key customers like Olympic and professional athletes, healthcare professionals, and sports coaches and trainers.
		%div
			%img{alt: "Segterra Food Menu User Interface", src: "../../images/clients/segterra/segterra_three.png"}

#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%h1#next
