- content_for(:title) do
	= "Marketing optimization tool for Fortune 500 brands."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/
- client = client_for_name("Curl")

.row
	.medium-3.small-12.column
		%h1.client{style: "color: #{client.primary_color}"} DNC

		%h6.subheader Results
		%p.caption

		%h6.subheader Details
		%p.caption
		%ul
			%li

		%h6.subheader Practice Areas
		%p.caption

		%h6.subheader Project Type
		%p.caption

		%h6.subheader Process
		%p.caption

		%h6.subheader Price
		%p.caption

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.medium-9.small-12.column
		%div
			%img{alt: "A population graph powered by Curl's eyeDecide", src: "../../images/clients/curl/curl-gapminder-style-information-visualization-UI-design.jpg"}
		%p.caption Curl’s eyeDecide prototype illustrates how their proprietary technology handles hundreds of thousands of records in real-time as a seamless user experience.
		%p Curl invented “Rich Internet Applications”. In 1998 the company’s founders left MIT to build a proprietary RIA framework, well ahead of the Web 2.0 trend to follow. Targeting enterprise customers they helped their clients deploy powerful web-based applications at a time when most people still connected via dial-up.
		%p While Curl developed a solid customer base in the enterprise market – particularly in Japan – the company was geared up for the b2b market. As AJAX became a buzzword and Web 2.0 took off, Curl recognized the real advantages their software had over the most “cutting edge” of competitors, such as Adobe AIR and Microsoft Silverlight. In order to sell against those household names in a broader market, they needed a prototype that showcased the power and advantages they enjoy over the competition.
		%p Enter Involution Studios. Digging deep into the technology we helped the Curl team brainstorm the right app to create given their market plans and worked with their team to create the prototype. With Involution on the design and Curl on the development we created and deployed a gorgeous and powerful app less than 10 weeks after the first concept meeting. That prototype is the beachhead of Curl’s ongoing efforts to expand into new markets.
		%div
			%img{alt: "eyeDecide viewing mutliple datasets simultaneously.", src: "../../images/clients/curl/curl-information-visualization.jpg"}
		%p.caption eyeDecide doesn’t just handle massive data sets, it instantly displays them in high-density visualizations that interact dynamically with one another.
		%div
			%img{alt: "Multipulating datasets with eyeDecide", src: "../../images/clients/curl/curl-interaction-design.jpg"}
		%p.caption The interaction model for eyeDecide provides a variety of methods to manipulate data, providing the user an unprecedented breadth of options in their situation analysis.
		%div
			%img{alt: "Geographic views within eyeDecide", src: "../../images/clients/curl/curl-complex-data-design.jpg"}
		%p.caption To best illustrate the capacity of eyeDecide we incorporated geographic data similar to the wildly popular Gapminder. Comparing them side-by-side, the superiority of eyeDecide speaks for itself.
#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
