- content_for(:title) do
	= "Closing the SNAP gap for 760,000 MA residents."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("snap")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = get_project_by_id("snap")

%article#complex-case.snap
	%header.hero
		.medium-6.small-12.small-centered.columns
			.title
				.inner-title
					%h1 Closing the SNAP gap
					%h3 1 in 9 MA residents rely on SNAP everyday for food security.
	#mainContent
		%h2.no-top-margin No one should have to worry about affording their next meal in the 21st century.
		%p Beyond the impact to our immediate health, the psychological impacts of chronic stress of poverty have detrimental long term effects. Tragically, one out of ten of our households in Massachusetts is 'food insecure' (as reported by Project Bread).

		%p The United States government provides help during tough financial times. In Massachusetts, the Department of Transitional Assistance (DTA) helps helps nearly 800K MA residents afford food every month through a program called SNAP (Supplemental Nutrition Assistance Program). SNAP, formerly known as Food Stamps, is able to provide households with anywhere from $15 to $352 per month, and the DTA reports that "every dollar in new SNAP benefits results in $1.80 in total economic activity."

		%p <strong>Reaching all people in need is a difficult process</strong>, and even when a family has recognized their need and decided to look into options, the application pipeline is time consuming and emotionally taxing. There are three primary steps to receive SNAP benefits; 1. answer questions about your household, 2. perform a phone interview, and 3. submit paperwork to verify your answers. After receiving benefits, the snail-mail and paperwork continues in order to keep the monthly benefits. In 2017, getting past the very first step was dubious, as a two-person family was typically asked 90 questions.

		%p Our project aimed to make this first step welcoming rather than prohibitive through a redesign of the online application. The redesign, conducted by the trio of MA DTA, Conduent, and GoInvo, would focus on a mobile-first + friendly, accessible, handle translations, quick, and non-intimidating service. Although the application is just one part of the whole, it serves as a key entry way for those in need. The ultimate goal was to increase food security for MA residents by making the SNAP application process accessible and approachable for all.

		%p The outcome was an application that's fully compliant with WCAG and 508 accessibility standards, and <a href="https://dtaconnect.eohhs.mass.gov/">currently in use in Massachusetts</a>.

		%h2 SNAP Application Redesign Begins

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-application-before-design.jpg", :alt => "The original workflow of the screener, application, and account set up."}
			.caption The original workflow of the screener, application, and account set up.

		%h2 Design driven by understanding the user

		%p To reach our users most effectively, we spent time gathering and immersing ourselves in information about those applying as well as getting up to speed on the current lay of the SNAP land. 

		%p Before the project even began, we reached out to a colleague who had been on SNAP as an Americorps teacher (as Americorps teachers are encouraged to do in certain regions). This put a face to the project and shed light on a teacher’s perspective of SNAP. We gathered demographics data and reviewed research about designing government services for those of all language, age, skill, and stress levels. 

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-design-whiteboard-research.jpg", :alt => "Preliminary research for learn about SNAP."}

		%p We reached out to national experts on SNAP policy and civic design for guidance and design feedback. Through Dana Chisnel, Co-Director of Center for Civic Design, the mantra of the design became "linear and literal."

		.center-image-content.large
			%img{:src => "../../images/clients/snap/snap-experts.jpg", :alt => "Interviewed SNAP experts for advice."}

		%p We even got the chance to observe case workers performing phone interviews and assisting applicants and administrators with their paperwork at the DTA field office in Salem. We observed the stress, language barriers, and confusion that many applicants had throughout this process, and this drove us to design the application to be as friendly and streamlined as possible.

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-office-phone-interviews.jpg", :alt => "Observing phone conversations for SNAP applicants."}
			.caption Observing phone conversations for SNAP applicants.

		%h2 Re-phrasing and re-organizing the text of the application was an inseparable part of the redesign.

		%p Although we weren't originally tasked with updating the questions in the application, we took ownership to dramatically improve the experience. Immediate culprits stood out to us outsiders, such as questions phrased in an accusatory tone, two-in-one questions which are historically tricky, the lengthy and complex help text, and the sheer quantity of questions. Policies and politics which drove the phrasing decisions heaped on additional complexity. The policy team at the DTA worked tirelessly with us to move radically simplify the application questions.

		%p Not all of our efforts made the cut. Accommodating genders beyond the limited 'Male or Female' was not an option (trust us, we tried). Although whole the team could understand how this question may inhibit people from applying, the question couldn't be changed because it is tied to ingrained processes behind the scenes.

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-application-before-and-after.jpg", :alt => "Getting started - before and after. This example shows the amount of text that could be summarized and simplified down to one short screen."}
			.caption Getting started - before and after. This example shows the amount of text that could be summarized and simplified down to one short screen.

		%h2 Honing our approach

		%p Design isn't limited to what the design is but also how the design happens. As weeks went by, it became more difficult to gather detailed feedback from all of those involved who often had diverse perspectives. We found a way to foster rich discussion and capture each person's perspective by building a prototype of the SNAP application design and spending our meeting time in small groups. We pulled in laptops, ipads, and various sizes of mobile phones and gave everyone time to explore the design on their own. We focused on key questions in small groups and sometimes brought handouts to gather feedback from the individual members. This change in strategy propelled the design forward and gave us rich feedback from our client and stakeholders.

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-exerpts-feedback-session.jpg", :alt => "Feedback session with SNAP experts on the latest prototype."}
			.caption Feedback session with SNAP experts on the latest prototype.

		%h2 Delivering on time

		%p Behavior, interactions, feedback loops, and accessibility standards all ultimately manifest in code. In order to communicate how the software should perform, we built a reference implementation of the user interface for our engineering partners at Conduent. We built a fully functioning sandbox in React as well as many of the front end components used in the production environment. Throughout the production cycle, we consulted and QA’ed for the engineering effort, providing supporting materials such as outlines for Browser and Accessibility testing.

		%h2 The result

		%p <strong>Simple and accessible</strong><br>The design is optimized for screen readers, maintains WCAG 2.0 AAA contrast levels, and allows the user to translate the application. As smart phones are often more readily available than computers, the design is highly mobile friendly. The streamlined format minimizes visual burden and reduces missed information.

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-application-start.gif", :alt => "MA DTA SNAP application design"}

		%p <strong>Reduced question fatigue</strong><br>Bite sized sections: Grouping questions by topic into small portions helps users work through the application more efficiently and with less confusion.

		%p Questions decrease from ~ 90 to 40. By the end, we were able to cut the number of questions down from about 90 (for a 2 person household) to 40. The redesigned application used logic to continually cut out questions that were not relevant to the user and avoid duplicate questions.

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-application-about-me.gif", :alt => "MA DTA SNAP application design"}

		%p <strong>Contextual help</strong><br>Diagrams used at the beginning and end of the application help the user expect what comes next. Summaries help the user catch mistakes. Definitions and help text expand inline for easiest reading. The user can track their progress in the menu, as it doubles as a check list.

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-application-help.gif", :alt => "MA DTA SNAP application design"}

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-design-income.jpg", :alt => "MA DTA SNAP application design"}

		.center-image-content.large
			%img{:src => "../../images/clients/snap/ma-dta-snap-design-finish.jpg", :alt => "MA DTA SNAP application design"}

.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%h1#next
