- content_for(:title) do
	= "Understanding Zika"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/zika"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,700"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/zika/zika.js"

	- meta = page_for_meta("zika")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	%div.container
		%nav.inner
			%div.menu
				%ul
					%li#expand &equiv;
					%li#page-title ZIKA
					%li <a href="#what-is-zika">Overview</a>
					%li <a href="#where-is-zika">Infected Areas</a>
					%li <a href="#transmission">Transmission</a>
					%li <a href="#prevention">Prevention</a>
					%li <a href="#zika-symptoms">Symptoms</a>
					%li <a href="#treatments">Treatment</a>
					%li <a href="#action-plan">Action Plan</a>
					%li <a href="../../images/features/zika/understanding_zika.pdf" target="blank">Download</a>
					%li <a href="mailto:zika@goinvo.com?subject=Feedback for Understanding Zika">Feedback</a>
		%div.header
			%h1.title
				%span#title-understanding Understanding
				%span#title-zika Zika
			%div.header-note Images from USDA &amp; Felipe Dana/AP

		%div.article
			%div.row
				%div.column.one-half#what-is-zika
					%h2 What is Zika
					%p Zika is a <strong>virus</strong> spreading quickly throughout Latin America that is carried by <strong>mosquitoes</strong> and causes mild illness. There has been an unconfirmed link between Zika-infected <strong>pregnant women</strong> and a condition called <strong>microcephaly</strong>, in which babies are born with underdeveloped brains, as well as an autoimmune disease of the nervous system called Guillain-Barr&eacute; syndrome (GBS).<sup><a href="#ref-1">1</a></sup>
				%div.column.one-half#spread
					%h2 How it Spreads
					%div.row
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-mosquito.png", :alt => "person to mosquito to person"}
							%p Person <span class="arrow">&rarr;</span> mosquito <span class="arrow">&rarr;</span> person
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-mother.png", :alt => "mother to unborn child"}
							%p Mother <span class="arrow">&rarr;</span> unborn child
					%div.row
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-partner.png", :alt => "person to partner"}
							%p Person <span class="arrow">&rarr;</span> sexual partner
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-bloodbank.png", :alt => "person to partner"}
							%p Person <span class="arrow">&rarr;</span> blood bank <span class="arrow">&rarr;</span> person

			%div.row
				%div.column.one-half#overview-prevent
					%h2 How to Prevent it
					%ul
						%li#prevent-travel
							%div.image
								%img{:src => "../../images/features/zika/prevent-travel-2.png", :alt => "avoid travel"}
							%p.description Avoid travel to areas with confirmed Zika cases, especially if you are pregnant.
						%li#prevent-longsleeves
							%div.image
								%img{:src => "../../images/features/zika/emptywater.png", :alt => "longsleeved shirt"}
							%p.description Remove still water in flowerpots, buckets, animal water bowls, and kid pools to prevent potential mosquito breeding grounds.
						%li#prevent-bugspray
							%div.image
								%img{:src => "../../images/features/zika/prevent-bugspray.png", :alt => "bugspray"}
							%p.description Use insect repellents containing DEET or picaridin, or cover up with long-sleeved shirts and trousers. Apply sunscreen BEFORE applying insect repellent.
						%li#prevent-close
							%div.image
								%img{:src => "../../images/features/zika/prevent-close-2.png", :alt => "no open windows"}
							%p.description Keep doors and windows covered with screens or closed. Sleep with mosquito netting if exposed to the outdoors.
				%div.column.one-half#signs
					%h2 When to Tell Your Doctor
					%div.text
						%p If you have been exposed to a Zika-infected area, watch for these signs of Zika Disease.
						%p Incubation period is likely a few days to one week. Symptoms are usually mild and last several days to a week.
						%p Only about 1 in 5 infected people develop symptoms
						%img.scare-with-grid{:src => "../../images/features/zika/1in5.png", :alt => "1 in 5 infected people"}
					%div.signs-image
						%img.scare-with-grid{:src => "../../images/features/zika/zika-symptoms.png", :alt => "headache, fever, painful or red eyes, joint pain, itching/rash, muscle pain"}

			%div.row#timeline
				%h2 Zika Timeline
				%ul
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/1947-zika-forest.jpg", :alt => "Zika Forest in Uganda"}
						%span.year 1947
						%div.description
							%p The name comes from the Zika Forest in Uganda where the virus was first isolated. It was identified first in rhesus monkeys through a monitoring network of sylvatic yellow fever.<sup><a href="#ref-4">4</a>, <a href="#ref-9">9</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/1952-first-case-zika.png", :alt => "Zika Forest in Uganda"}
						%span.year 1952
						%div.description
							%p A paper was published confirming the first case of Zika virus in a human - a 10  year old Nigerian female. The research effort was initially studying an outbreak of jaundice suspected to be yellow fever.<sup><a href="#ref-4">4</a>, <a href="#ref-8">8</a>, <a href="#ref-13">13</a></sup>