- content_for(:title) do
	= "Understanding Zika"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/zika"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,700"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/zika/zika.js"

	- meta = page_for_meta("zika")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	%div.container
		%nav.inner
			%div.menu
				%ul
					%li#expand &equiv;
					%li#page-title ZIKA
					%li <a href="#what-is-zika">Overview</a>
					%li <a href="#where-is-zika">Infected Areas</a>
					%li <a href="#transmission">Transmission</a>
					%li <a href="#prevention">Prevention</a>
					%li <a href="#zika-symptoms">Symptoms</a>
					%li <a href="#treatments">Treatment</a>
					%li <a href="#action-plan">Action Plan</a>
					%li <a href="../../images/features/zika/understanding_zika.pdf" target="blank">Download</a>
					%li <a href="mailto:zika@goinvo.com?subject=Feedback for Understanding Zika">Feedback</a>
		%div.header
			%h1.title
				%span#title-understanding Understanding
				%span#title-zika Zika
			%div.header-note Images from USDA &amp; Felipe Dana/AP

		%div.article
			%div.row
				%div.column.one-half#what-is-zika
					%h2 What is Zika
					%p Zika is a <strong>virus</strong> spreading quickly throughout Latin America that is carried by <strong>mosquitoes</strong> and causes mild illness. There has been an unconfirmed link between Zika-infected <strong>pregnant women</strong> and a condition called <strong>microcephaly</strong>, in which babies are born with underdeveloped brains, as well as an autoimmune disease of the nervous system called Guillain-Barr&eacute; syndrome (GBS).<sup><a href="#ref-1">1</a></sup>
				%div.column.one-half#spread
					%h2 How it Spreads
					%div.row
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-mosquito.png", :alt => "person to mosquito to person"}
							%p Person <span class="arrow">&rarr;</span> mosquito <span class="arrow">&rarr;</span> person
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-mother.png", :alt => "mother to unborn child"}
							%p Mother <span class="arrow">&rarr;</span> unborn child
					%div.row
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-partner.png", :alt => "person to partner"}
							%p Person <span class="arrow">&rarr;</span> sexual partner
						%div.way_spread.column.one-half
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-bloodbank.png", :alt => "person to partner"}
							%p Person <span class="arrow">&rarr;</span> blood bank <span class="arrow">&rarr;</span> person

			%div.row
				%div.column.one-half#overview-prevent
					%h2 How to Prevent it
					%ul
						%li#prevent-travel
							%div.image
								%img{:src => "../../images/features/zika/prevent-travel-2.png", :alt => "avoid travel"}
							%p.description Avoid travel to areas with confirmed Zika cases, especially if you are pregnant.
						%li#prevent-longsleeves
							%div.image
								%img{:src => "../../images/features/zika/emptywater.png", :alt => "longsleeved shirt"}
							%p.description Remove still water in flowerpots, buckets, animal water bowls, and kid pools to prevent potential mosquito breeding grounds.
						%li#prevent-bugspray
							%div.image
								%img{:src => "../../images/features/zika/prevent-bugspray.png", :alt => "bugspray"}
							%p.description Use insect repellents containing DEET or picaridin, or cover up with long-sleeved shirts and trousers. Apply sunscreen BEFORE applying insect repellent.
						%li#prevent-close
							%div.image
								%img{:src => "../../images/features/zika/prevent-close-2.png", :alt => "no open windows"}
							%p.description Keep doors and windows covered with screens or closed. Sleep with mosquito netting if exposed to the outdoors.
				%div.column.one-half#signs
					%h2 When to Tell Your Doctor
					%div.text
						%p If you have been exposed to a Zika-infected area, watch for these signs of Zika Disease.
						%p Incubation period is likely a few days to one week. Symptoms are usually mild and last several days to a week.
						%p Only about 1 in 5 infected people develop symptoms
						%img.scare-with-grid{:src => "../../images/features/zika/1in5.png", :alt => "1 in 5 infected people"}
					%div.signs-image
						%img.scare-with-grid{:src => "../../images/features/zika/zika-symptoms.png", :alt => "headache, fever, painful or red eyes, joint pain, itching/rash, muscle pain"}

			%div.row#timeline
				%h2 Zika Timeline
				%ul
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/1947-zika-forest.jpg", :alt => "Zika Forest in Uganda"}
						%span.year 1947
						%div.description
							%p The name comes from the Zika Forest in Uganda where the virus was first isolated. It was identified first in rhesus monkeys through a monitoring network of sylvatic yellow fever.<sup><a href="#ref-4">4</a>, <a href="#ref-9">9</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/1952-first-case-zika.png", :alt => "Zika Forest in Uganda"}
						%span.year 1952
						%div.description
							%p A paper was published confirming the first case of Zika virus in a human - a 10  year old Nigerian female. The research effort was initially studying an outbreak of jaundice suspected to be yellow fever.<sup><a href="#ref-4">4</a>, <a href="#ref-8">8</a>, <a href="#ref-13">13</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/1951-map.png", :alt => "Global map with parts of Africa and Asia highlighted"}
						%span.year 1951-1981
						%div.description
							%p The virus spread throughout a narrow equatorial belt from Africa to Asia, but reported cases were rare.<sup><a href="#ref-4">4</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/2007-yap-island-outbreak.jpg", :alt => "Air Force photo - Mark Duffy interviews family on Yap Island investigaing Zika outbreak"}
						%span.year 2007
						%div.description
							%p In April of 2007, Zika made it outside of Africa and Asia for the first time when it spread to Yap Island in Micronesia. There were 49 confirmed cases, 59 unconfirmed cases, no hospitalizations, and no deaths. The virus spread throughout neighboring islands over the next few years.<sup><a href="#ref-4">4</a>, <a href="#ref-21">21</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/2014-world-cup.jpg", :alt => "Miguel Discart - 2014 world cup fans gather in the street"}
						%span.year 2014
						%div.description
							%p The virus spread across pacific ocean to French Polynesia (where its link with Guillain-Barr&eacute; Syndrome first arose) and other neighboring islands in the largest outbreak to date. It is believed that the 2014 Soccer World Cup, drawing a multitude of international fans, was responsible for the spread of Zika to Brazil.<sup><a href="#ref-19">19</a>, <a href="#ref-23">23</a>, <a href="#ref-24">24</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/2015-zika-mosquitoes.jpg", :alt => "IAEA Imagebank - Zika-carrying mosquitoes are studied in Brazil"}
						%span.year 2015
						%div.description
							%p In April of 2015, Zika spread from the ongoing outbreak in Brazil to Mexico, Central America, Caribbean, and South America where it reached pandemic levels.<sup><a href="#ref-4">4</a>, <a href="#ref-25">25</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/level2alert.png", :alt => "level 2 alert"}
						%span.year 15 Jan 2016
						%div.description
							%p CDC issued a Level 2 travel alert for travelers to affected countries and guidelines for pregnant women to consult their doctors before traveling to a Zika-infected area.<sup><a href="#ref-3">3</a>, <a href="#ref-4">4</a>, <a href="#ref-12">12</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/2016-minister-gaviria.jpg", :alt => "Health Minister Alejandro Gaviria, one leader from Columbia who suggests a delay in pregnancy"}
						%span.year 23 Jan 2016
						%div.description Five South American countries advised women to postpone getting pregnant until more is known about the risks, prompting criticism from women's health organizations and general public.<sup><a href="#ref-5">5</a>, <a href="#ref-26">26</a></sup>
					%li
						%div.timeline-image
							%img.scare-with-grid{:src => "../../images/features/zika/2016-sexual-travel-cases.jpg", :alt => "zika test tube"}
						%span.year 2 Feb 2016
						%div.description
							%p 31 isolated cases in the US, in 11 states and DC. These were all travel associated cases with the exception of one case of sexual transmission in Dallas, TX. Travel-related cases were also reported in Spain, the UK, Ireland, and others.<sup><a href="#ref-3">3</a>, <a href="#ref-12">12</a>, <a href="#ref-20">20</a>, <a href="#ref-27">27</a></sup>
			%div.row#where-is-zika
				%div#traveled
					%h2 Zika Virus Cases<sup><a href="#ref-17">17</a>, <a href="#ref-18">18</a>, <a href="#ref-22">22</a></sup>
					%img.scare-with-grid{:src => "../../images/features/zika/map.png", :longdesc => "Uganda in 1947, Gabon in 1975, Senegal in 1988, Malaysia in 1969, Yap Island in 2007, Cambodia in 2010, French Polynesia in 2014, Mexico in 2015, Brazil in 2015, and Texas in 2016"}
				%div#now
					%div#where-list
						%h2 <span class="no-caps">There are an estimated</span> 1.6 Million <span class="no-caps">cases of Zika virus in </span>33 Countries<sup><a href="#ref-30">30</a></sup>
						%div.row
							%div#americas.columns.eight
								%h3 Americas
								%ul.columns.three
									%li Barbados
									%li Bolivia
									%li Brazil**
									%li Colombia**
									%li Costa Rica
									%li Curacao
									%li Dominican Republic
								%ul.columns.three
									%li Ecuador
									%li El Salvador**
									%li French Guiana
									%li Guadeloupe
									%li Guatemala
									%li Guyana
									%li Haiti
								%ul.columns.three
									%li Honduras
									%li Jamaica
									%li Martinique
									%li Mexico
									%li Nicaragua
									%li Guyana
									%li Paraguay
								%ul.columns.three
									%li Puerto Rico
									%li Saint Martin
									%li Suriname**
									%li U.S Virgin Islands
									%li Venezuela**
									%li United States*
							%div#pacific.columns.two
								%h3 Oceania/Pacific Is.
								%ul
									%li American Samoa
									%li Samoa
									%li Tonga
							%div#africa.columns.two
								%h3 Africa
								%ul
									%li Cape Verde
						%div.row
							%p *35 travel-associated Zika disease cases in the U.S. have been reported
							%p **Also report having significant increase in cases of microcephaly and/or GBS
							%p.updated Last Updated 8.Feb.2016<sup><a href="#ref-3">3</a></sup>

			%div.row
				%div.column#transmission
					%h2 Transmission
					%p The Zika virus is not yet fully understood. However, there are 4 known ways to transmit the Zika virus.
					%div.row
						%div.way_spread.columns.three
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-mosquito.png", :alt => "person to mosquito to person"}
							%h3 Person <span class="arrow">&rarr;</span> mosquito <span class="arrow">&rarr;</span> person
							%p Zika is most commonly transmitted from person to person by the Aedes mosquito, which live in urban areas and are active during the day (usually mornings and late afternoons).<sup><a href="#ref-1">1</a>, <a href="#ref-3">3</a></sup>
						%div.way_spread.columns.three
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-mother.png", :alt => "mother to unborn child"}
							%h3 Mother <span class="arrow">&rarr;</span> unborn child
							%p Zika virus can spread from an infected mother to the placenta and their unborn baby. The virus will not infect infants conceived after the virus has cleared from the blood.<sup><a href="#ref-2">2</a></sup> There is no evidence suggesting a risk for future birth defects.<sup><a href="#ref-1">1</a></sup>
						%div.way_spread.columns.three
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-partner.png", :alt => "person to partner"}
							%h3 Person <span class="arrow">&rarr;</span> sexual partner
							%p Transmission of Zika during sex is possible but rare. If an infected male partner has the virus in their blood stream, their semen can be contagious. It is unknown how long Zika can live in semen. Infected individuals should abstain from sex or use a condom for 6 months after the infection.<sup><a href="#ref-10">10</a></sup>
						%div.way_spread.columns.three
							%div.image
								%img.scare-with-grid{:src => "../../images/features/zika/spread-bloodbank.png", :alt => "person to partner"}
							%h3 Person <span class="arrow">&rarr;</span> blood bank <span class="arrow">&rarr;</span> person
							%p There may also be a chance of transmission through blood transfusions, but no conclusive evidence has been found.<sup><a href="#ref-10">10</a></sup>

			%div.row
				%div.column.nine.columns#prevention
					%h2 Prevention
					%p#vaccinations Currently no vaccinations exist to prevent Zika. The best way to prevent infection is to avoid mosquito bites.
					%div.mosquito#mosquito-1
					%div.mosquito#mosquito-2
					%div.mosquito#mosquito-3
					%div.row
						%div.column.one-third#prevent-travel-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-travel-2.png", :alt => "avoid travel"}
							%p Avoid travel to areas with confirmed Zika cases, especially if you are pregnant. See above for Zika-infected areas.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-bugspray-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-bugspray-2.png", :alt => "apply spray every 2-3 hours"}
							%p Apply insect repellent every few hours. Do not spray repellent on the skin under clothing. If you are also using sunscreen, apply it first before repellent. Follow instructions on the label. Insect repellent is safe for pregnant women.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-spray-clothes
							%div.image
								%img{:src => "../../images/features/zika/emptywater.png", :alt => "empty water"}
							%p Remove still water in flowerpots, buckets, animal water bowls, and kid pools to prevent potential mosquito breeding grounds.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
					%div.row
						%div.column.one-third#prevent-longsleeves-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-longsleeves-2.png", :alt => "longsleeve shirt and pants"}
							%p Wear long-sleeve shirts and pants to avoid mosquito bites.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-close-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-close-2.png", :alt => "close door and windows"}
							%p Choose lodging that is air-conditioned, has screens on the doors and windows, or purchase a mosquito bed net.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-baby-net
							%div.image
								%img{:src => "../../images/features/zika/wearcondom_360.png", :alt => "condom"}
							%p If you have traveled to a Zika-infected area, wear a condom during sex or abstain from sex for 6 months.<sup><a href="#ref-10">10</a></sup>
					%div.row
						%div.column.one-third#prevent-net
							%div.image
								%img{:src => "../../images/features/zika/prevent-net.png", :alt => "put mosqiuto netting on beds"}
							%p Choose a WHOPES-approved bed net with 156 holes per square inch that is long enough to tuck under the mattress. Permethrin-treated nets help kill mosquitoes; do not wash them or expose them to sunlight.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-directions
							%div.image
								%img{:src => "../../images/features/zika/prevent-directions.png", :alt => "follow directions"}
							%p Follow directions on the label when applying insect repellent to children. Spray repellent onto hands first to apply to a child’s face. Avoid applying repellent to the child’s hands, mouth, eyes, or open wounds.<sup><a href="#ref-2">2</a>, <a href="#ref-3">3</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-baby-net
							%div.image
								%img{:src => "../../images/features/zika/prevent-baby-net.png", :alt => "put mosquito netting on carriers"}
							%p DO NOT apply insect repellent to babies younger than 2 months old. Instead, dress them in long sleeves and cover the stroller or carrier with mosquito netting.<sup><a href="#ref-2">2</a>, <a href="#ref-3">3</a>, <a href="#ref-14">14</a></sup>
					%div.row
						%div.column.one-third#prevent-spray-clothes
							%div.image
								%img{:src => "../../images/features/zika/prevent-spray-clothes.png", :alt => "spray clothes with bugspray"}
							%p Mosquitoes can bite through thin clothing. Treat clothing and gear (boots, pants, socks, tents) with an insecticide called permethrin. Follow directions on label and DO NOT apply directly to the skin.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>

				%div.column.three.columns#right-spray
					%h2 Choosing the right bug spray
					%p Use an insect repellent with one of these active ingredients:
					%div.sprays#deet
						%h3 DEET
						%ul
							%li.spray-off
								%img.scare-with-grid{:src => "../../images/features/zika/off.png", :alt => "off bug spray logo"}
							%li.spray-sawyer
								%img.scare-with-grid{:src => "../../images/features/zika/Sawyer-logo1.jpg", :alt => "sawyer logo"}
						%ul
							%li.spray-off
								%img.scare-with-grid{:src => "../../images/features/zika/cutter.png", :alt => "cutter logo"}
							%li.spray-ultrathon
								%img.scare-with-grid{:src => "../../images/features/zika/ultrathon_logo.png", :alt => "ultrathon logo"}
					%div.sprays#picaridin
						%h3 Picaridin, KBR 3023, Bayrepel, or icaridin
						%ul
							%li.spray-sss
								%img.scare-with-grid{:src => "../../images/features/zika/sss.png", :alt => "sss logo"}
							%li.spray-autan
								%img.scare-with-grid{:src => "../../images/features/zika/autan_logo_m.png", :alt => "autan logo"}
					%div.sprays#eucalyptus
						%h3 Oil of lemon eucalyptus (OLE) or para-menthane-diol (PMD)
						%ul
							%li.spray-repel
								%img.scare-with-grid{:src => "../../images/features/zika/repel-logo.png", :alt => "repel logo"}
					%div.sprays#ir3535
						%h3 IR3535
						%ul
							%li.spray-sss
								%img.scare-with-grid{:src => "../../images/features/zika/sss.png", :alt => "sss logo"}
							%li.spray-skinsmart
								%img.scare-with-grid{:src => "../../images/features/zika/skinsmart.png", :alt => "skinsmart logo"}
					%p The EPA has not yet evaluated common natural insect repellents for effectiveness. The CDC recommends using repellents containing proven safe and effective ingredients. Examples used in unregistered insect repellents are: citronella oil, cedar oil, geranium oil, peppermint oil, soybean oil, and pure oil of lemon eucalyptus.<sup><a href="#ref-14">14</a></sup> Visit <a href="www.cdc.gov/features/StopMosquitoes" target="blank">www.cdc.gov/features/StopMosquitoes</a> for more information.