- content_for(:title) do
	= "Understanding Zika"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/zika"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,700"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/zika/zika.js"

	- meta = page_for_meta("zika")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	%div.container
		%nav.inner
			%div.menu
				%ul
					%li#expand &equiv;
					%li#page-title ZIKA
					%li <a href="#what-is-zika">Overview</a>
					%li <a href="#where-is-zika">Infected Areas</a>
					%li <a href="#transmission">Transmission</a>
					%li <a href="#prevention">Prevention</a>
					%li <a href="#zika-symptoms">Symptoms</a>
					%li <a href="#guillain-barre-syndrome">Guillain Barr&eacute Syndrome</a>
					%li <a href="#treatments">Treatment</a>
					%li <a href="#action-plan">Action Plan</a>
					%li <a href="../../images/features/zika/understanding_zika.pdf" target="blank">Download</a>
					%li <a href="mailto:zika@goinvo.com?subject=Feedback for Understanding Zika">Feedback</a>
		%div.header
			%h1.title
				%span#title-understanding Understanding
				%span#title-zika Zika
			%div.header-note Images from USDA &amp; Felipe Dana/AP

		%div.article
			%div.row
				%div.column.one-half#what-is-zika
					%h2 What is Zika
					%p Zika is a <strong>virus</strong> spreading quickly throughout Latin America that is carried by <strong>mosquitoes</strong> and causes mild illness. There has been an unconfirmed link between Zika-infected <strong>pregnant women</strong> and a condition called <strong>microcephaly</strong>, in which babies are born with underdeveloped brains, as well as an autoimmune disease of the nervous system called Guillain-Barr&eacute; syndrome (GBS).<sup><a href="#ref-1">1</a></sup>
				%div.column.one-half#spread
					%h2 How it Spreads
					%div.row
						%div.way_spread.column.one-half
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-mosquito.png", :alt => "person to mosquito to person"}
							%p Person <span class="arrow">&rarr;</span> mosquito <span class="arrow">&rarr;</span> person
						%div.way_spread.column.one-half
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-mother.png", :alt => "mother to unborn child"}
							%p Mother <span class="arrow">&rarr;</span> unborn child
					%div.row
						%div.way_spread.column.one-half
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-partner.png", :alt => "man to partner"}
							%p Man <span class="arrow">&rarr;</span> sexual partner
						%div.way_spread.column.one-half
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-bloodbank.png", :alt => "person to bloodbank to person"}
							%p Person <span class="arrow">&rarr;</span> blood bank <span class="arrow">&rarr;</span> person

			%div.row
				%div.column.one-half#overview-prevent
					%h2 How to Prevent it
					%ul
						%li#prevent-travel
							%div.image
								%img{:src => "../../images/features/zika/prevent-travel-2.png", :alt => "avoid travel"}
							%p.description Avoid travel to areas with confirmed Zika cases, especially if you are pregnant.
						%li#prevent-longsleeves
							%div.image
								%img{:src => "../../images/features/zika/emptywater.png", :alt => "longsleeved shirt"}
							%p.description Remove still water in flowerpots, buckets, animal water bowls, and kid pools to prevent potential mosquito breeding grounds.
						%li#prevent-bugspray
							%div.image
								%img{:src => "../../images/features/zika/prevent-bugspray.png", :alt => "bugspray"}
							%p.description Use insect repellents containing DEET or picaridin, or cover up with long-sleeved shirts and trousers. Apply sunscreen BEFORE applying insect repellent.
						%li#prevent-close
							%div.image
								%img{:src => "../../images/features/zika/prevent-close-2.png", :alt => "no open windows"}
							%p.description Keep doors and windows covered with screens or closed. Sleep with mosquito netting if exposed to the outdoors.
				%div.column.one-half#signs
					%h2 When to Tell Your Doctor
					%div.text
						%p If you have been exposed to a Zika-infected area, watch for these signs of Zika Disease.
						%p Incubation period is likely a few days to one week. Symptoms are usually mild and last several days to a week.
						%p Only about 1 in 5 infected people develop symptoms
						%img.scale-with-grid{:src => "../../images/features/zika/1in5.png", :alt => "1 in 5 infected people"}
					%div.signs-image
						%img.scale-with-grid{:src => "../../images/features/zika/zika-symptoms.png", :alt => "headache, fever, painful or red eyes, joint pain, itching/rash, muscle pain"}

			%div.row#timeline
				%h2 Zika Timeline
				%ul
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/1947-zika-forest.jpg", :alt => "Zika Forest in Uganda"}
						%span.year 1947
						%div.description
							%p The name comes from the Zika Forest in Uganda where the virus was first isolated. It was identified first in rhesus monkeys through a monitoring network of sylvatic yellow fever.<sup><a href="#ref-4">4</a>, <a href="#ref-9">9</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/1952-first-case-zika.png", :alt => "Zika Forest in Uganda"}
						%span.year 1952
						%div.description
							%p A paper was published confirming the first case of Zika virus in a human - a 10  year old Nigerian female. The research effort was initially studying an outbreak of jaundice suspected to be yellow fever.<sup><a href="#ref-4">4</a>, <a href="#ref-8">8</a>, <a href="#ref-13">13</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/1951-map.png", :alt => "Global map with parts of Africa and Asia highlighted"}
						%span.year 1951-1981
						%div.description
							%p The virus spread throughout a narrow equatorial belt from Africa to Asia, but reported cases were rare.<sup><a href="#ref-4">4</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/2007-yap-island-outbreak.jpg", :alt => "Air Force photo - Mark Duffy interviews family on Yap Island investigaing Zika outbreak"}
						%span.year 2007
						%div.description
							%p In April of 2007, Zika made it outside of Africa and Asia for the first time when it spread to Yap Island in Micronesia. There were 49 confirmed cases, 59 unconfirmed cases, no hospitalizations, and no deaths. The virus spread throughout neighboring islands over the next few years.<sup><a href="#ref-4">4</a>, <a href="#ref-21">21</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/2014-world-cup.jpg", :alt => "Miguel Discart - 2014 world cup fans gather in the street"}
						%span.year 2014
						%div.description
							%p The virus spread across pacific ocean to French Polynesia (where its link with Guillain-Barr&eacute; Syndrome first arose) and other neighboring islands in the largest outbreak to date. It is believed that the 2014 Soccer World Cup, drawing a multitude of international fans, was responsible for the spread of Zika to Brazil.<sup><a href="#ref-19">19</a>, <a href="#ref-23">23</a>, <a href="#ref-24">24</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/2015-zika-mosquitoes.jpg", :alt => "IAEA Imagebank - Zika-carrying mosquitoes are studied in Brazil"}
						%span.year 2015
						%div.description
							%p In April of 2015, Zika spread from the ongoing outbreak in Brazil to Mexico, Central America, Caribbean, and South America where it reached pandemic levels.<sup><a href="#ref-4">4</a>, <a href="#ref-25">25</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/level2alert.png", :alt => "level 2 alert"}
						%span.year 15 Jan 2016
						%div.description
							%p CDC issued a Level 2 travel alert for travelers to affected countries and guidelines for pregnant women to consult their doctors before traveling to a Zika-infected area.<sup><a href="#ref-3">3</a>, <a href="#ref-4">4</a>, <a href="#ref-12">12</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/2016-minister-gaviria.jpg", :alt => "Health Minister Alejandro Gaviria, one leader from Columbia who suggests a delay in pregnancy"}
						%span.year 23 Jan 2016
						%div.description 
							%p Five South American countries advised women to postpone getting pregnant until more is known about the risks, prompting criticism from women's health organizations and general public.<sup><a href="#ref-5">5</a>, <a href="#ref-26">26</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/who.png", :alt => "representative from the w.h.o."}
						%span.year 1 Feb 2016
						%div.description
							%p Based on advice from the Emergency Committee about the potential association of Zika virus with microcephaly, GBS, and other neurological disorders, the Director-General of the World Health Organization declared a Public Health Emergency of International Concern (PHEIC) on 1 February 2016.<sup><a href="#ref-1">1</a>, <a href="#ref-41">41</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/2016-sexual-travel-cases.jpg", :alt => "zika test tube"}
						%span.year 2 Feb 2016
						%div.description
							%p 31 isolated cases in the US, in 11 states and DC. These were all travel associated cases with the exception of one case of sexual transmission in Dallas, TX. Travel-related cases were also reported in Spain, the UK, Ireland, and others.<sup><a href="#ref-3">3</a>, <a href="#ref-12">12</a>, <a href="#ref-20">20</a>, <a href="#ref-27">27</a></sup>
					%li
						%div.timeline-image
							%img.scale-with-grid{:src => "../../images/features/zika/white-house.jpg", :alt => "white-house"}
						%span.year 8 Feb 2016
						%div.description
							%p The White House announced that it is asking Congress for more than $1.8 billion in emergency funding to enhance ongoing efforts to prepare for and respond to the Zika virus, both domestically and internationally.<sup><a  href="#ref-42">42</a></sup>
			%div.row#where-is-zika
				%div#traveled
					%h2 Zika Virus Cases<sup><a href="#ref-17">17</a>, <a href="#ref-18">18</a>, <a href="#ref-22">22</a></sup>
					%img.map.scare-with-grid{:src => "../../images/features/zika/map.png", :longdesc => "Uganda in 1947, Gabon in 1975, Senegal in 1988, Malaysia in 1969, Yap Island in 2007, Cambodia in 2010, French Polynesia in 2014, Mexico in 2015, Brazil in 2015, and Texas in 2016"}
				%div#now
					%div#where-list
						%h2 <span class="no-caps">There are an estimated</span> 1.6 Million <span class="no-caps">cases of Zika virus in </span>33 Countries<sup><a href="#ref-30">30</a></sup>
						%div.row
							%div#americas.columns.seven
								%h3 Americas
								%ul.columns.three
									%li Aruba
									%li Barbados
									%li Bonaire
									%li Bolivia
									%li Brazil**
									%li Colombia**
									%li Costa Rica
									%li Curacao
								%ul.columns.three
									%li Dominican Republic
									%li Ecuador
									%li El Salvador**
									%li French Guiana
									%li Guadeloupe
									%li Guatemala
									%li Guyana
									%li Haiti
								%ul.columns.three
									%li Honduras
									%li Jamaica
									%li Martinique
									%li Mexico
									%li Nicaragua
									%li Panama
									%li Paraguay
									%li Puerto Ricofwe don
								%ul.columns.three
									%li Saint Martin
									%li Saint Vincent & the Grenadines
									%li Sint Martin
									%li Suriname**
									%li Trinidad and Tobago
									%li U.S Virgin Islands
									%li Venezuela**
							%div#pacific.columns.two
								%h3 Oceania/Pacific Is.
								%ul
									%li American Samoa
									%li Marshall Islands
									%li New Caledonia
									%li Samoa
									%li Tonga
							%div#africa.columns.two
								%h3 Africa
								%ul
									%li Cape Verde
						%div.row
							%p *35 travel-associated Zika disease cases in the U.S. have been reported
							%p **Also report having significant increase in cases of microcephaly and/or GBS
							%p.updated Last Updated 8.Feb.2016<sup><a href="#ref-3">3</a></sup>

			%div.row
				%div.column#transmission
					%h2 Transmission
					%p The Zika virus is not yet fully understood. However, there are 4 known ways to transmit the Zika virus.
					%div.row
						%div.way_spread.columns.three
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-mosquito.png", :alt => "person to mosquito to person"}
							%h3 Person <span class="arrow">&rarr;</span> mosquito <span class="arrow">&rarr;</span> person
							%p Zika is most commonly transmitted from person to person by the Aedes mosquito, which live in urban areas and are active during the day (usually mornings and late afternoons).<sup><a href="#ref-1">1</a>, <a href="#ref-3">3</a></sup>
						%div.way_spread.columns.three
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-mother.png", :alt => "mother to unborn child"}
							%h3 Mother <span class="arrow">&rarr;</span> unborn child
							%p Zika virus can spread from an infected mother to the placenta and their unborn baby. The virus will not infect infants conceived after the virus has cleared from the blood.<sup><a href="#ref-2">2</a></sup> There is no evidence suggesting a risk for future birth defects.<sup><a href="#ref-1">1</a></sup>
						%div.way_spread.columns.three
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-partner.png", :alt => "man to partner"}
							%h3 Man <span class="arrow">&rarr;</span> sexual partner
							%p Transmission of Zika during sex is possible but rare. If an infected male partner has the virus in their blood stream, their semen can be contagious. It is unknown how long Zika can live in semen. Infected individuals should abstain from sex or use a condom for 6 months after the infection.<sup><a href="#ref-10">10</a></sup>
						%div.way_spread.columns.three
							%div.image
								%img.scale-with-grid{:src => "../../images/features/zika/spread-bloodbank.png", :alt => "person to bloodbank to person"}
							%h3 Person <span class="arrow">&rarr;</span> blood bank <span class="arrow">&rarr;</span> person
							%p There may also be a chance of transmission through blood transfusions, but no conclusive evidence has been found.<sup><a href="#ref-10">10</a></sup>

			%div.row
				%div.column.nine.columns#prevention
					%h2 Prevention
					%p#vaccinations Currently no vaccinations exist to prevent Zika. The best way to prevent infection is to avoid mosquito bites.
					%div.mosquito#mosquito-1
					%div.mosquito#mosquito-2
					%div.mosquito#mosquito-3
					%div.row
						%div.column.one-third#prevent-travel-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-travel-2.png", :alt => "avoid travel"}
							%p Avoid travel to areas with confirmed Zika cases, especially if you are pregnant. See above for Zika-infected areas.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-bugspray-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-bugspray-2.png", :alt => "apply spray every 2-3 hours"}
							%p Apply insect repellent every few hours. Do not spray repellent on the skin under clothing. If you are also using sunscreen, apply it first before repellent. Follow instructions on the label. Insect repellent is safe for pregnant women.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-spray-clothes
							%div.image
								%img{:src => "../../images/features/zika/emptywater.png", :alt => "empty water"}
							%p Remove still water in flowerpots, buckets, animal water bowls, and kid pools to prevent potential mosquito breeding grounds.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
					%div.row
						%div.column.one-third#prevent-longsleeves-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-longsleeves-2.png", :alt => "longsleeve shirt and pants"}
							%p Wear long-sleeve shirts and pants to avoid mosquito bites.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-close-2
							%div.image
								%img{:src => "../../images/features/zika/prevent-close-2.png", :alt => "close door and windows"}
							%p Choose lodging that is air-conditioned, has screens on the doors and windows, or purchase a mosquito bed net.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-baby-net
							%div.image
								%img{:src => "../../images/features/zika/wearcondom_360.png", :alt => "condom"}
							%p If you have traveled to a Zika-infected area, wear a condom during sex or abstain from sex for 6 months.<sup><a href="#ref-10">10</a></sup>
					%div.row
						%div.column.one-third#prevent-net
							%div.image
								%img{:src => "../../images/features/zika/prevent-net.png", :alt => "put mosquito netting on beds"}
							%p Choose a WHOPES-approved bed net with 156 holes per square inch that is long enough to tuck under the mattress. Permethrin-treated nets help kill mosquitoes; do not wash them or expose them to sunlight.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-directions
							%div.image
								%img{:src => "../../images/features/zika/prevent-directions.png", :alt => "follow directions"}
							%p Follow directions on the label when applying insect repellent to children. Spray repellent onto hands first to apply to a child’s face. Avoid applying repellent to the child’s hands, mouth, eyes, or open wounds.<sup><a href="#ref-2">2</a>, <a href="#ref-3">3</a>, <a href="#ref-14">14</a></sup>
						%div.column.one-third#prevent-baby-net
							%div.image
								%img{:src => "../../images/features/zika/prevent-baby-net.png", :alt => "put mosquito netting on carriers"}
							%p DO NOT apply insect repellent to babies younger than 2 months old. Instead, dress them in long sleeves and cover the stroller or carrier with mosquito netting.<sup><a href="#ref-2">2</a>, <a href="#ref-3">3</a>, <a href="#ref-14">14</a></sup>
					%div.row
						%div.column.one-third#prevent-spray-clothes
							%div.image
								%img{:src => "../../images/features/zika/prevent-spray-clothes.png", :alt => "spray clothes with bugspray"}
							%p Mosquitoes can bite through thin clothing. Treat clothing and gear (boots, pants, socks, tents) with an insecticide called permethrin. Follow directions on label and DO NOT apply directly to the skin.<sup><a href="#ref-2">2</a>, <a href="#ref-14">14</a></sup>

				%div.column.three.columns#right-spray
					%h2 Choosing the right bug spray
					%p Use an insect repellent with one of these active ingredients:
					%div.sprays#deet
						%h3 DEET
						%ul
							%li.spray-off
								%img.scale-with-grid{:src => "../../images/features/zika/off.png", :alt => "off bug spray logo"}
							%li.spray-sawyer
								%img.scale-with-grid{:src => "../../images/features/zika/Sawyer-logo1.jpg", :alt => "sawyer logo"}
						%ul
							%li.spray-off
								%img.scale-with-grid{:src => "../../images/features/zika/cutter.png", :alt => "cutter logo"}
							%li.spray-ultrathon
								%img.scale-with-grid{:src => "../../images/features/zika/ultrathon_logo.png", :alt => "ultrathon logo"}
					%div.sprays#picaridin
						%h3 Picaridin, KBR 3023, Bayrepel, or icaridin
						%ul
							%li.spray-sss
								%img.scale-with-grid{:src => "../../images/features/zika/sss.png", :alt => "sss logo"}
							%li.spray-autan
								%img.scale-with-grid{:src => "../../images/features/zika/autan_logo_m.png", :alt => "autan logo"}
					%div.sprays#eucalyptus
						%h3 Oil of lemon eucalyptus (OLE) or para-menthane-diol (PMD)
						%ul
							%li.spray-repel
								%img.scale-with-grid{:src => "../../images/features/zika/repel-logo.png", :alt => "repel logo"}
					%div.sprays#ir3535
						%h3 IR3535
						%ul
							%li.spray-sss
								%img.scale-with-grid{:src => "../../images/features/zika/sss.png", :alt => "sss logo"}
							%li.spray-skinsmart
								%img.scale-with-grid{:src => "../../images/features/zika/skinsmart.png", :alt => "skinsmart logo"}
					%p The EPA has not yet evaluated common natural insect repellents for effectiveness. The CDC recommends using repellents containing proven safe and effective ingredients. Examples used in unregistered insect repellents are: citronella oil, cedar oil, geranium oil, peppermint oil, soybean oil, and pure oil of lemon eucalyptus.<sup><a href="#ref-14">14</a></sup> Visit <a href="www.cdc.gov/features/StopMosquitoes" target="blank">www.cdc.gov/features/StopMosquitoes</a> for more information.

			%div.row#zika-symptoms
				%div.column.one-half
					%h2 Symptoms of Zika Disease<sup><a href="#ref-1">1</a></sup>
					%div.para
						%img.scale-with-grid{:src => "../../images/features/zika/1in5.png", :alt => "1 in 5 infected people"}
						%p About 1 in 5 people infected with Zika virus actually become ill.<sup><a href="#ref-3">3</a></sup>
					%div.para
						%img.scale-with-grid#incubation{:src => "../../images/features/zika/incubation.png", :alt => "1 in 5 infected people"}
						%p Incubation period is unknown but is likely a few days to one week. Symptoms are usually mild and last several days to a week.<sup><a href="#ref-3">3</a></sup>
					%p Hospitalization is uncommon. Zika is not known to be deadly, but those with preexisting health problems can have fatal complications.<sup><a href="#ref-3">3</a></sup> There have also been cases of Guillain-Barr&eacute; Syndrome following suspected Zika infection, but the relationship is not known.<sup><a href="#ref-4">4</a></sup>
				%div.column.one-half.signs-image
					%div.warning If you have been to a Zika-infected area and have at least 2 symptoms, contact your doctor.
					%img.scale-with-grid{:src => "../../images/features/zika/zika-symptoms.png", :alt => "headache, fever, painful or red eyes, joint pain, itching/rash, muscle pain"}

			%div.row#symptoms-microcephaly
				%div.column.one-half.microceph-image
					%div.warning If you have been to a Zika-infected area and are pregnant or recently gave birth, contact your doctor.
					%img.scale-with-grid{:src => "../../images/features/zika/symptoms-microcephalacy.png", :alt => "seizures,small head size, coordination difficulties, dwarfism/short stature, backward-sloping forehead, hyperactivity, facial distortions, delays in speech and movement"}
				%div.column.one-half
					%h2 Symptoms of Microcephaly
					%p There is an unconfirmed link between birth complications such as microcephaly and Zika infection during pregnancy.<sup><a href="#ref-3">3</a></sup>
					%p There have been over 4,700 reported cases of microcephaly in newborns in Brazil since October 2015.<sup><a href="#ref-15">15</a></sup>
					%p Brazil saw 20 times more cases of microcephaly in 2015 than past years.<sup><a href="#ref-28">28</a></sup>
					%div.graph
						%h3 Suspected Cases of Microcephaly in Brazil 2010-2015
						%img.scale-with-grid{:src => "../../images/features/zika/microcephaly_cases_brazil.png", :alt => "153 in 2010, 139 in 2011, 175 in 2012, 167 in 2013, 147 in 2014, and 3174 in 2015"}

			%div.row#guillain-barre-syndrome
				%div.column.one-half
					%h2 Symptoms of Zika Disease<sup><a href="#ref-1">1</a></sup>
					%div.para
						%p Guillain-Barr&eacute Syndrome (GBS) is an uncommon illness of the nervous system in which the person’s own immune system damages nerve cells. It usually occurs after an infection.<sup><a href="#ref-36">36</a></sup>
						%p There is strong evidence of a possible causal link between Zika virus infection GBS. During 2013-14 outbreak in French Polynesia, 42 out of 8,750 suspected Zika cases presented GBS (a 20-fold increase from previous 4 years). 41 of the 42 GBS cases also showed antibodies against Zika virus.<sup><a href="#ref-37">37</a>, <a href="#ref-38">38</a></sup>
						%p A number of Latin American countries with current Zika outbreaks have started reporting higher prevalence of GBS cases.<sup><a href="#ref-37">37</a></sup> Between April and July of 2015, Salvador, Brazil saw a seven-fold increase in rates of GBS, and Columbia has already seen 3 GBS-related deaths.<sup><a href="#ref-40">40</a></sup> More information is needed to determine if this is due to higher surveillance.<sup><a href="#ref-37">37</a></sup>
						%p Symptoms last a few weeks to several months. Most people fully recover from GBS, but some have permanent damage, and 1 out of 20 cases have led to death.<sup><a href="#ref-36">36</a>, <a href="#ref-39">39</a></sup>
				%div.column.one-half.signs-image
					%div.warning If you have been to a Zika-infected area and have at least 2 symptoms, contact your doctor.
					%img.scale-with-grid{:src => "../../images/features/zika/gbs_symptoms.png", :alt => "difficulty moving eyes or, choking on, symmetrical muscle weakness and lack of co, slowness or shortness of breath, abnormal or fast heart rate, paralysis, pins and needles that begin in feet, hands, or"}

			%div.row#treatments
				%div.column.one-half#treatment-adults
					%div.treatment-header
						%h2 Treatment for Adults
						%div.treatment-image
							%img{:src => "../../images/features/zika/treatment-adults.png", :alt => "adult"}
					%div.treatment-plan
						%p If you have Zika symptoms within 2 weeks of traveling to a Zika-infected area:<sup><a href="#ref-2">2</a></sup>
						%ul
							%li Contact your doctor
							%li Take medicine (acetaminophen or paracetamol) to relieve fever and pain.
							%li To reduce the risk of bleeding, do NOT take aspirin, aspirin products, or other non-steroidal anti-inflammatory drugs such as ibuprofen until Dengue can be ruled out.
							%li Get rest and drink plenty of fluids.
							%li Prevent additional mosquito bites to avoid spreading the disease.
				%div.column.one-half#treatment-pregnant
					%div.treatment-header
						%div.treatment-image
							%img{:src => "../../images/features/zika/treatment-pregnant.png", :alt => "pregnant woman"}
						%h2 Treatment for Pregnant Women
					%div.treatment-plan
						%p There is no cure for Zika virus.<sup><a href="#ref-1">1</a></sup> If you are pregnant, your doctor will treat you for the virus, while also monitoring your baby. The next steps will most likely be:<sup><a href="#ref-11">11</a>, <a href="#ref-16">16</a></sup>
						%ul
							%li An ultrasound to test for microcephaly or calcium deposits in your baby’s brain
							%li You may get an amniocentesis (also called amnio) to check the amniotic fluid that surrounds your baby in the womb for Zika.
							%li The placenta and umbilical cord may also be tested after birth.
							%li Your baby’s growth should be monitored by ultrasound every 3-4 weeks. You may be referred to a maternal-fetal medicine specialist.

			%div.row#flavivirus
				%div.column
					%h2 One of Many Flaviviruses
					%p Zika, like dengue, yellow fever, and others, is part of the flavivirus family. Flaviviruses are arboviruses, which means they are spread via infected arthropod vectors such as ticks and mosquitoes. Zika, yellow fever, and dengue grow very well in the human body, and easily reinfect mosquitoes. Flaviviruses enter the bloodstream, infect cells in the immune system, travel to the lymph nodes and target different organs.<sup><a href="#ref-31">31</a></sup>
					%div.row
						%div.column.columns.five
							%div#flavivirus-zika
								%h3 Zika
								%p Zika induces fever, rash, joint and muscle pain, and red eyes. Fatal cases are rare and are usually due to complications from pre-existing health conditions. There is no vaccine for zika.<sup><a href="ref-31">31</a></sup>
							%div#flavivirus-yellow
								%h3 Yellow Fever
								%p Yellow Fever infects the liver. It can cause fever, headache, nausea, and vomiting, and in serious cases may cause fatal heart, liver, and kidney conditions. The yellow fever vaccine has been in use for several decades.<sup><a href="#ref-31">31</a>, <a href="#ref-32">32</a></sup>
							%div#flavivirus-dengue
								%h3 Dengue
								%p Dengue can cause high fever, rash, and muscle and joint pain, and in serious cases may cause fatal shock and hemorrhage within the body. Dengue is one of the fastest spreading vector-born viral diseases and has increased by 30 times in the past 50 years.<sup><a href="#ref-34">34</a></sup> A vaccine for all four variations of dengue was recently developed and licensed in Brazil, the Philippines, and Mexico, but not in the U.S.<sup><a href="#ref-31">31</a>, <a href="#ref-32">32</a>, <a href="#ref-35">35</a></sup>
						%div.column.columns.seven.graph
							%img.scale-with-grid{:src => "../../images/features/zika/FlavivirusGraph_v3.png", :alt => "Prevalence of Zika, Yellow Fever, &amp; Dengue Virus Cases. dengue at 1.2 million in 2008, 3+ million in 2013. zika at 5,000 in 2007, 20,000 in 2013, and 1.6 million in 2016. Yellow fever remains around 0.2 million from 2007-2016"}
							%p *Yellow fever value of 200,000 cases based on yearly estimate by WHO<sup><a href="#ref-32">32</a></sup>

			%div.row#dont-know
				%div.column
					%h2 What We Still Don't Know
					%div.columns.three
						%img.scale-with-grid{:src => "../../images/features/zika/dontknow.png", :alt => "?"}
					%div.columns.nine
						%p We don’t know for sure if Zika is the cause of the increase microcephaly in Brazil.<sup><a href="#ref-28">28</a></sup>
						%p We don’t know for sure how many of the more than 4,700 cases reported cases of microcephaly in Brazil are related to Zika, as it is difficult to diagnose and can have other causes.
						%p Though we know that Zika was the cause of a Guillain-Barr&eacute Syndrome surgence in French Polynesia in 2013-14, we don’t yet know definitively if the current Zika outbreak is the cause of the increase of GBS in South American countries.<sup><a href="#ref-28">28</a>, <a href="#ref-36">36</a></sup>
						%p The possible connection of Zika with microcephaly and GBS suggest mutation in the virus to become more pathogenic to humans. We don’t know what exactly has changed about Zika virus and why.<sup><a href="#ref-28">28</a></sup>

			%div.row#action-plan
				%div.column
					%h2 The <em>Who</em> Action Plan<sup><a href="#ref-8">8</a></sup>
					%div.row
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/PrioritizeResearch.png", :alt => "spyglass with droplet"}
								%p Prioritize research into Zika virus disease by convening experts.
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/EnhanceSurveillance.png", :alt => "airplanes"}
								%p Enhance surveillance of Zika virus and potential complications.
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/communication.png", :alt => "speech bubble with nodes"}
								%p Strengthen risk communication to help countries meet  International Health Regulations.
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/ClinicalMgmt.png", :alt => "doctors"}
								%p Provide training on clinical management, diagnosis and vector control at WHO Collaborating Centres.
					%div.row
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/StrengethenLabs.png", :alt => "microscope"}
								%p Strengthen the capacity of laboratories to detect the virus.
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/CurbSpread.png", :alt => "culture"}
								%p Support health authorities in curbing spread of infected mosquitoes by providing larvicide to treat standing water sites.
						%div.columns.three
							%div.action-item
								%div.image
									%img.scale-with-grid{:src => "../../images/features/zika/ClinicalCare.png", :alt => "doctors"}
								%p Collaborate with other health agencies to prepare recommendations for clinical care and follow-up of people with Zika virus.

			%div.row#references
				%div.column
					%h2 References
					%ol
						%li#ref-1
							%span.li-color Roberts, M. (2016. Feb, 1). "<a href="http://www.bbc.com/news/health-35459797" target="blank">Zika-linked condition: WHO declares global emergency</a>." BBC News Online.
						%li#ref-2
							%span.li-color Gallagher, J. (2015, Feb, 5). "<a href="http://www.bbc.com/news/health-35441675" target="blank">Zika outbreak: Travel advice</a>" BBC News Online.
						%li#ref-3
							%span.li-color Centers for Disease Control and Prevention (2016). "<a href="http://www.cdc.gov/zika/" target="blank">Zika Virus</a>."
						%li#ref-4
							%span.li-color Wikipedia (2016) "<a href="https://en.wikipedia.org/wiki/Zika_virus" target="blank">Zika Virus</a>."
						%li#ref-5
							%span.li-color "<a href="http://www.bbc.com/news/world-latin-america-35388842" target="blank">Zika virus triggers pregnancy delay calls</a>." (2016. Jan, 23).
						%li#ref-6
							%span.li-color "<a href="http://www.mayoclinic.org/diseases-conditions/microcephaly/basics/symptoms/con-20034823" target="blank">Microcephaly</a>." (2016). Mayo Clinic.
						%li#ref-7
							%span.li-color Centers for Disease Control and Prevention (2016). "<a href="http://www.cdc.gov/zika/hc-providers/clinicalevaluation.html" target="blank">Zika virus: clinical evaluation &amp; disease</a>".
						%li#ref-8
							%span.li-color World Health Organization. (2016. Jan). "<a href="http://www.who.int/mediacentre/factsheets/zika/en/" target="blank">Zika virus</a>."
						%li#ref-9
							%span.li-color Swails, B., McKenzie, D. (2016. Feb, 3). "<a href="http://www.cnn.com/2016/02/02/health/zika-forest-viral-birthplace/" target="blank">Uganda's Zika Forest, birthplace of the Zika virus</a>."
						%li#ref-10
							%span.li-color Szabo, Liz. (2016. Feb, 5). "<a href="http://www.usatoday.com/story/news/2016/02/03/zika-q-and-a/79751476/" target="blank">Zika Q&amp;A: What you need to know about sex, saliva, sperm banks</a>."
						%li#ref-11
							%span.li-color March of Dimes. (2016. Feb). "<a href="http://www.marchofdimes.org/complications/zika-virus-and-pregnancy.aspx" target="blank">Zika virus and pregnancy</a>."
						%li#ref-12
							%span.li-color "<a href="http://www.bbc.com/news/uk-35391712" target="blank">Zika virus: Three Britons infected, say health officials</a>." (2016. Jan, 23). BBC News.
						%li#ref-13
							%span.li-color Dick, GWA, et. al. (1952). "Zika virus isolations and serological specificity." Trans R Soc Trop Med Hyg (1952) 46 (5): 509-520. doi: 10.1016/0035-9203(52)90042-4
						%li#ref-14
							%span.li-color Centers for Disease Control and Prevention (2016). "<a hrefe="http://www.cdc.gov/zika/prevention/index.html" target="blank">Zika virus: prevention</a>".
						%li#ref-15
							%span.li-color Carless, W. (2016. Feb, 3). "<a href="http://www.usatoday.com/story/news/world/2016/02/03/brazil-zika-birth-defect-drop-hospital-microcephaly/79791768/" target="blank">On Brazil's Zika front lines, cases of microcephaly are actually dropping</a>." USA Today.
						%li#ref-16
							%span.li-color Centers for Disease Control and Prevention (2016). "<a href="http://www.cdc.gov/mmwr/volumes/65/wr/mm6502e1.htm" target="blank">Interim Guidelines for Pregnant Women During a Zika Virus Outbreak — United States, 2016</a>."
						%li#ref-17
							%span.li-color Phillips, s. (2016. Feb, 4). "<a href="http://fox5sandiego.com/2016/02/04/blood-bank-rejecting-donors-who-visited-zika-areas/" target="blank">Blood bank rejecting donors who visited Zika areas</a>." Fox5 San Diego News.
						%li#ref-18
							%span.li-color Withnall, A. (2016. Jan, 28). "<a href="http://www.independent.co.uk/life-style/health-and-families/health-news/zika-how-virus-spread-around-world-a6839101.html" target="blank">How the Zika virus spread around the world</a>." Independent.
						%li#ref-19 
							%span.li-color Musso, D., (2015). "Zika Virus Transmission from French Polynesia to Brazil." Emerg Infect Dis. 2015 Oct; 21(10): 1887. doi:  10.3201/eid2110.151125
						%li#ref-20
							%span.li-color Fox, M. (2016. Feb, 2). "<a href="http://www.nbcnews.com/storyline/zika-virus-outbreak/zika-virus-can-spread-sexual-contact-health-officials-dallas-confirm-n510076" target="blank">Dallas Reports First Case of Sexual Transmission of Zika Virus</a>."
						%li#ref-21
							%span.li-color Wilcox, E. (2010). <a href="http://www.wpafb.af.mil/news/story.asp?id=123219950" target="blank">"Lt Col Mark Duffy of USAF School of Aerospace Medicine Receives the 2010 James H. Nakano Citation for the Article ‘Zika Virus Outbreak on Yap Island, Federated States of Micronesia.’"</a>
						%li#ref-22
							%span.li-color Parry, L. (2016. Feb, 2)."'<a href="http://www.dailymail.co.uk/health/article-3428938/Game-changing-Zika-virus-scary-gets-warns-expert.html" target="blank">Game-changing' Zika virus is about as scary as it gets, warns expert</a>." Daily Mail, UK.
						%li#ref-23
							%span.li-color Seibel, M. (2016. Feb, 4). "<a href="http://www.star-telegram.com/news/nation-world/world/article58432243.html" target="blank">French researcher says Zika link to Guillain-Barr&eacute Syndrome is ‘almost certain’</a>."
						%li#ref-24
							%span.li-color Photo by <a href="https://www.flickr.com/photos/miguel_discart/14277835198/in/photolist-nKFCYo-nP7mSE-nKFDRA-nKFxqb-o3aYkK-nKGkM6-o5C7hb-o5MLFq-o5U33D-o6iALK-nQkEjG-o1GHhg-odQhcb-ocwyAx-nYyX5w-iM51KQ-nYsCxL-p6MRxa-nYPw55-o8o3UZ-o28ycW-f57byo-nPfKEA-dkULi9-nZiRMw-jJ2yZn-nNUwQj-pH6vQb-p3Gi3e-nJcLbJ-pXkmPj-oRNZJG-dkUNjN-oDPBzR-oaA85i-o5U2uz-o3Rzas-o5U22k-oiGbnm-o21QXk-qf7GTa-odAyNb-okRozr-nXbJw1-o4mMDk-nG1xTF-nrbBtj-o7wXiK-nNpnAf-nNpzZx" target="blank">Miguel Discart</a>.
						%li#ref-25
							%span.li-color Photo by <a href="https://www.flickr.com/photos/iaea_imagebank/24407404799/in/photolist-DbNk78-fvEXR4-fvETn6-DBk3Nc-DKAirB-Dc6SmP-DBk1g8-Dc6RbT-CXf3aW-8VnCcF-DHW6bX-CLqAjf-DzEWzc-CLqzU7-DzEW4H-DHW4P8-CLqyBs-CLqy9o-DgPpTb-Dxwh3S-BCimRP-C2e22m-CbP14k-BCihNP-C2dWWs-pAKfpe-C2e3L3-oppw9W-oyv588-dcAVdB-oydVZx-DKhGPp-CMTRsk-DGYfro-DGYeey-DiaXvy-AVqThX-92EMis-92EMdC-92EM3U-92BDEH-92BDuX-92ELmm-92BCE4-92EKF7-92EKtN-D9vKBM-4Y9VRz-AT9SQE-AjM4wi" target="blank">IAEA Imagebank</a>.
						%li#ref-26
							%span.li-color Image retrieved from <a href="https://panampost.com/panam-staff/2015/02/25/colombias-price-controls-a-cure-worse-than-the-disease/" target="blank">Panam Post</a>.
						%li#ref-27
							%span.li-color Image retrieved from <a href="https://publichealthwatch.wordpress.com/2016/02/03/texas-reports-first-case-of-sexually-transmitted-zika-virus-in-u-s/" target="blank">Public Health Watch</a>.
						%li#ref-28
							%span.li-color Roeder, A., (2016). "<a href="http://www.hsph.harvard.edu/news/features/zika-virus-in-brazil-may-be-mutated-strain/?utm_source=Twitter&utm_medium=Social&utm_campaign=Chan-Twitter-General" target="blank">Zika virus in Brazil may be mutated strain</a>." Harvard T.H. Chan School of Public Health.
						%li#ref-29
							%span.li-color Wapps, J. (2016. Feb, 5). "<a href="http://www.cidrap.umn.edu/news-perspective/2016/02/who-local-zika-cases-33-nations-gbs-numbers-climb" target="blank">WHO: Local Zika cases in 33 nations as GBS numbers climb</a>." University of Minnesota Center for Infectious Disease Research and Policy.
						%li#ref-30
							%span.li-color "<a href="https://en.wikipedia.org/wiki/Zika_virus_outbreak_(2015%E2%80%93present)" target="blank">Zika virus outbreak (2015–present)</a>." Wikipedia.
						%li#ref-31
							%span.li-color Mackenzie, J. (2016. Feb, 4). "<a href="http://theconversation.com/zika-dengue-yellow-fever-what-are-flaviviruses-53969" target="blank">Zika, dengue, yellow fever: what are flaviviruses?</a>" The Conversation.
						%li#ref-32
							%span.li-color "<a href="http://www.who.int/mediacentre/factsheets/fs100/en/" target="blank">Yellow Fever</a>." (2014. March). World Health Organization.
						%li#ref-33
							%span.li-color "<a href="http://www.who.int/mediacentre/factsheets/fs117/en/" target="blank">Dengue and severe dengue</a>."  (2015. May). World Health Organization.
						%li#ref-34
							%span.li-color "<a href="http://www.foxnews.com/health/2013/01/16/dengue-is-fastest-spreading-tropical-disease-who-says.html" target="blank">Dengue is fastest-spreading tropical disease, WHO says</a>." (2013) Fox News Health.
						%li#ref-35
							%span.li-color World Economic Forum (2015. Jan, 4). "<a href="http://www.weforum.org/agenda/2016/01/how-close-are-we-to-beating-dengue" target="blank">How close are we to beating dengue?</a>"
						%li#ref-36
							%span.li-color Centers for Disease Control and Prevention (2016). "<a href="http://www.cdc.gov/zika/qa/gbs-qa.html" target="blank">Zika virus: Guillain-Barr&eacute syndrome Q & A</a>."
						%li#ref-37
							%span.li-color World Health Organization. (2016. Mar 7). "<a href="http://www.who.int/csr/don/7-march-2016-gbs-french-polynesia/en/" target="blank"> Guillain-Barr&eacute syndrome – France - French Polynesia."</a>
						%li#ref-38
							%span.li-color European Centre for Disease Prevention and Control. (2015. Dec 10). <a href="http://ecdc.europa.eu/en/publications/Publications/zika-virus-americas-association-with-microcephaly-rapid-risk-assessment.pdf" target="blank">"Zika virus epidemic in the Americas: potential association with microcephaly and Guillain-Barr&eacute syndrome."</a>
						%li#ref-39
							%span.li-color "<a href="http://www.mayoclinic.org/diseases-conditions/guillain-barre-syndrome/basics/symptoms/con-20025832" target="blank">Guillain-Barr&eacute syndrome</a>." Mayo Clinic (2016)
						%li#ref-40
							%span.li-color Sifferlin, A. (2016. Feb 8). "<a href="http://time.com/4209612/zika-guillain-barre-syndrome-cdc/" target="blank">Here’s the Other Zika Problem Experts Are Worried About</a>." Time.
						%li#ref-41
							%span.li-color World Health Organization. (2016. Feb 1). "<a href="http://www.who.int/mediacentre/news/statements/2016/1st-emergency-committee-zika/en/" target="blank">WHO statement on the first meeting of the International Health Regulations (2005) (IHR 2005) Emergency Committee on Zika virus and observed increase in neurological disorders and neonatal malformations."</a>
						%li#ref-42
							%span.li-color <a href="https://www.whitehouse.gov/the-press-office/2016/02/08/fact-sheet-preparing-and-responding-zika-virus-home-and-abroad" target="blank">https://www.whitehouse.gov/the-press-office/2016/02/08/fact-sheet-preparing-and-responding-zika-virus-home-and-abroad</a>

		%div.footer <span>Licensed under Creative Commons Attribution v3 | Created by <a href="http://www.goinvo.com" target="blank">Goinvo</a> | Send us <a href="mailto:zika@goinvo.com?subject=Feedback for Understanding Zika">Feedback</a> | Check out the <a href="https://github.com/goinvo/InvoUnderstandingZika/" target="blank">GitHub Repo</a></span>