- content_for(:title) do
	= "Real-time decision engine for marketing investments."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("dataxu")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("DataXu")

#content-area.caseStudyContent
	.projectData
		%h1.client{style: "color: #{client.primary_color}"} DataXu

		%h6.subheader Results
		%p DataXu had a unique vision to be a leader in the big data game. Thanks to the Invo redesign that data now gives their clients many recommendations and methods to forecast, in real time, anytime.

		%p DataXu also made significant revenue strides for the second year running, growing from <a href="http://www.adexchanger.com/online-advertising/inc-revenue-survey-mediamath-topped-300m-in-2013-dataxu-118m/">$87 million in 2012 to $118.4 million in 2013</a>.
		
		%p.quote <a href="http://www.businesswire.com/news/home/20140327005894/en/DataXu-Simplifies-Programmatic-Marketing-Software-Console#.U5tYSJRdWps">At any given moment, our team is managing hundreds of different campaigns, so how we use our time is critical. With this new console, DataXu has made a huge leap forward for programmatic ease of use.</a>
		%p.caption Joel Nierman, VP, media and digital strategy, Liquidus

		%h6.subheader Details
		%p Real-time decision engine for marketing investments.
		%ul
			%li Envision next generation user experience and suite user interface design
			%li Leapfrog competitors in the advertising analytics space
			%li Design, engineer, and launch production software

		%h6.subheader Practice Areas
		%p Ad Tech, Marketing Optimization

		%h6.subheader Project Type
		%p UI Design, Engineering

		%h6.subheader Process
		%p Learning, Envision, Blueprint, Craft, Build, Support

		%h6.subheader Price
		%p $200k &ndash; $500k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img.with-caption{alt: "DataXu Campaign Dashboard Advertising Optimization Software", src: "../../images/clients/dataxu/dataxu-campaign-dashboard-user-interface.jpg"}
		%p.caption &ldquo;Programmatic can be a challenge if it&rsquo;s not simple to navigate, but DataXu makes campaign management seamless and the new user interface just extends its commitment to creating a positive user experience that leads to better campaign results.&rdquo; - Juli Johnson, associate media director and trading desk head, BSSP
		%div
			%img.with-caption{alt: "User experience group session with DataXu", src: "../../images/clients/dataxu/dataxu-group-design-session.jpg"}/
		%p.caption Group design session with DataXu team to define user profiles.
		%div
			%img.with-caption{alt: "Exploration of many concepts for various parts of the software", src: "../../images/clients/dataxu/dataxu-ux-concept-sketches.jpg"}/
		%p.caption Sketches allowed us to explore the possibilities and push the boundaries of the user experience.
		%div
			%img.with-caption{alt: "Information visualization for understanding the health of a campaign.", src: "../../images/clients/dataxu/dataxu-information-visualization.jpg"}/
		%p.caption Information visualization for understanding the health of a campaign.
.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
