- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "vendor/jquery.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/tab.js"
	= javascript_include_tag "features/careplans/svg.js"
	= javascript_include_tag "features/careplans/careplans-scroll.js"

	- meta = page_for_meta("careplans-part1")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article.intro
	%img.hero-image{:src => "../../images/features/careplans/home_hero.jpg"}
	%header.nav-wrapper.stuck.intro
		%nav.main-nav
			%a{:href => "/features/careplans/part-1.html"} <span>Part1</span><h4>Overview</h4>
			%a{:href => "/features/careplans/part-2.html"} <span>Part2</span><h4>Landscape</h4>
			%a{:href => "/features/careplans/part-3.html"} <span>Part3</span><h4>Future</h4>
	%header.nav-wrapper.scroll-nav.intro
		%nav.main-nav
			%a{:href => "/features/careplans/part-1.html"} P1. Overview
			%a{:href => "/features/careplans/part-2.html"} P2. Landscape
			%a{:href => "/features/careplans/part-3.html"} P3. Future
			%a{:href => "../../images/features/careplans/CarePlans_Whitepaper_Involution_Studios.pdf", :target => "_blank"} 
				%img{:src => "../../images/features/careplans/intro_icons/book_white.png"}

	.part 
		%a.download-ebook{:href => "../../images/features/careplans/CarePlans_Whitepaper_Involution_Studios.pdf", :target => "_blank"}
			%img{:src => "../../images/features/careplans/intro_icons/book_dark.png"}
			%p Download<br/>eBook
		%h1 The Care Plan Series
		%p Overwhelmed. It is how most patients feel at one point or another as they leave that sterile-smelling, fluorescent-lit doctor’s office. They have just spent 10-25 minutes being hastily examined, diagnosed, and, if they are lucky, educated about how to address their medical problem. They either leave the office empty-handed, or they walk out holding a generic pamphlet, which will likely end up under an unmanageable pile of papers or in the trash. Unless there was a major change in their treatment plan, many patients go home, forget what the doctor ordered, and continue on their usual journey of whatever harmful behaviors landed them at the doctor’s office in the first place. And without a clear, tangible plan for how to better their health, how are they supposed to behave any differently?
		%p There is a loose, under-utilized semblance of a "plan of care" in most health data sets. You'll find them in the standard CCD, FHIR, and mentioned in CMS's recent chronic care management code, but somehow, no one really knows what you're talking about when you says the words "care" and "plan" together in a sentence. So we set out to understand everything we could about care plans and documented that information in a 3-part feature series. With the help of designers and engineers at Involution and field experts, we examined how the concept of a care plan came to be and our understanding of it today (see <a href="/features/careplans/part-1.html"><strong>Part One</strong></a>), the current care planning process and limitations, and existing care plan-related services (see <a href="/features/careplans/part-2.html"><strong>Part Two</strong></a>), and finally, what all of that means for the future of care plans and our shifting healthcare system (Part Three coming March 11th!)
		%p Beth Herlin, MPD<br/>Product Designer at Involution Studios
	.part 
		%h1 Want to Work Together?
		%p Want to take your healthcare or care plan product to the next level? Contact the authors at Involution Studios:
		%a.btn.btn-primary{:type => "button", :href => "mailto:info@goinvo.com"} 
			%img{:src => "../../images/features/careplans/intro_icons/email.png"} careplans@goinvo.com
		.container-fluid
			.row
				.col-sm-6 
					%img{:src => "../../images/features/careplans/work_together.jpg"}
					%p At Involution Studios, we’re known for our unique, industry-leading approach to healthcare user experience. We design, build, and ship beautiful software for companies of all sizes, from the market leaders of today — including Apple, Johnson and Johnson, Partners HealthCare, and Walgreens — to the micro startups that will create the markets of the future.
					%p Founded in 2004, we specialize in design for genomics, healthcare IT, mHealth, wearables, and other emerging technologies. We’ve produced high- quality, usable, beautiful applications that are used every day by over 150 million users.
				.col-sm-6
					%img{:src => "../../images/features/careplans/work_together.jpg"}
					%div.clearfix
						%img{:src => "../../images/features/careplans/intro_icons/email.png"}
						%p info@goinvo.com
					%div.clearfix
						%img{:src => "../../images/features/careplans/intro_icons/phone.png"}
						%p 617-803-7043
					%div.clearfix
						%img{:src => "../../images/features/careplans/intro_icons/address.png"}
						%p 661 Massachusetts Ave, 3rd Floor, Arlington MA, 02476


	.credit-wrapper
		#credits
			%h1 Authors
			.authors.container-fluid
				.row
					.author.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/beth.jpg'}
						.info
							%p Involution Studios
							%p.name Beth Herlin, MPD<br><small><a href="https://twitter.com/beth11herlin" target="_blank">@beth11herlin</a></small>
							%p.bio Beth is designer, product strategist, and researcher. She concentrates on designing beautiful and surprising health services and systems from the skintop to celltop to desktop. She holds bachelors of arts in psychology and studio art from Rice University and a master of product development from Carnegie Mellon University. She has worked on design and service strategy for companies such as Seniorlink, Johnson & Johnson, and Updox Patient Portals.
					.author.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/edwin.jpg'}
						.info
							%p Involution Studios
							%p.name  Edwin Choi, MA
							%p.bio Edwin is a biologist turned designer. Combining the sciences and art, he orchestrates healthcare software experiences to be beautiful and clinically refined. Edwin is a graduate of Washington University, and has a masters in biomedical design from Johns Hopkins University. He has worked on projects for companies including Partners Healthcare and Notovox.
			%h1 Contributors
			.contributors.container-fluid
				.row
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/yanyang.jpg'}
						.info
							%p Web Designer & Developer
							%p.name Yanyang Zhou
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/jenn.jpg'}
						.info
							%p Web Designer & Developer
							%p.name Jennifer Patel<br><small><a href="https://twitter.com/catamariface" target="_blank">@catamariface</a></small>
				.row
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/juhan.jpg'}
						.info
							%p Involution Studios, MIT
							%p.name Juhan Sonin<br><small><a href="http://twitter.com/jsonin" target="_blank">@jsonin</a></small>
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/jeffbelden.jpg'}
						.info
							%p University of Missouri | <a href="http://toomanyclicks.com" target="_blank">toomanyclicks.com</a>
							%p.name Jeff Belden, MD<br><small><a href="https://twitter.com/jeffbelden">@jeffbelden</a></small>
				.row
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/joycelee.jpeg'}
						.info
							%p University of Michigan
							%p.name ​​Joyce Lee, MD, MPH<br><small><a href="https://twitter.com/joyclee">@joyclee</a></small>
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/janesarasohnkahn.jpg'}
						.info
							%p THINK-Health | Health Populi blog | Huffington Post
							%p.name ​​Jane Sarasohn-Kahn, MA, MHSA<br><small><a href="https://twitter.com/healthythinker">@healthythinker</a></small>
				.row
					.contributor.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/harrysleeper.jpg'}
						.info
							%p Healthcare Provocateur
							%p.name ​​Harry Sleeper<br><small><a href="https://twitter.com/harrysleeper">@harrysleeper</a></small>