- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"

	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "vendor/jquery.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/tab.js"
	= javascript_include_tag "features/careplans/svg.js"
	= javascript_include_tag "features/careplans-scroll.js"

	- meta = page_for_meta("careplans")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	.overall-header
		/ %video#bgVideo{:preload => "true", :autoplay => "true", :loop => "true"}
		/ 	%source{:src => "../../images/careplans/FeatureBanner_v02_slow.mp4", :type => "video/mp4"}
		.title
			Care Plans: Part 1
	/ .small-screen-cover
	/ 	%img.desktop{:src => ""}
	/ 	%img.mobile{:src => ""}
	%header.nav-wrapper.stuck
		%nav.main-nav
			%a.one{:href => "#one"} What are they?
			%a.two{:href => "#two"} What's in them?
			%a.three{:href => "#three"} How do they work?
			%a.four{:href => "#four"} How did they start?
	%header.nav-wrapper.scroll-nav
		%nav.main-nav
			%a.one{:href => "#one"} What are they?
			%a.two{:href => "#two"} What's in them?
			%a.three{:href => "#three"} How do they work?
			%a.four{:href => "#four"} How did they start?
	.part.one#one
		%p
			A
			%strong care plan
			is a
			%strong synthesis
			of all plans of care produced by you and your providers to manage your health
			%strong day to day
			=". It serves as a continuous, conceptual"
			%strong framework
			shared by all of your care team members to
			%strong guide
			your care.
	.part.two#two
		.component-chart
			%p Care plans usually consist of these universal components:
			.container-fluid#components
				.row#summary
					.col-md-3
						%h6 Patient Summary
					.col-md-9
						%p Summarized history includes basic information such as demographics (name, age, contact info, ethnic or religious beliefs), health metrics (weight, blood pressure, etc), allergies, or medications and therapies. It can also contain past health history such as past hospitalizations.
				.row
					.col-md-2.col
						%h6 Health Concerns
						%p These can include a variety of issues such as medical, surgical, behavioral, cognition, mood, environmental factors, financial, and more.
					.col-md-3.col
						%h6 Goals
						%p Goals are used to measure progress. They give a care plan direction and are the first indicator of what path a patient is taking to manage their health concerns. Care plans are typically made up of a few high level goals that consist of many smaller short-term goals.
					.col-md-5.col
						%h6 Instructions & Interventions
						%p Information or directions given to you and your other providers make up the instructions of your care plan. This can include how to care for a condition, what to do at home, when to call for help, or changes to the medication. Interventions are actions taken, most often by you, to work toward achieving care plan goals. This can include symptom and medication management, community/social services, and removal of barriers to success.
					.col-md-2.col
						%h6 Review
						%p You and your provider evaluate the effectiveness of the care plan, and make adjustments where appropriate.
				.row#care-team
					.col-md-3
						%h6 Care Team
					.col-md-9
						%p Your care team is everyone who manages or provides care, including yourself. Medical practitioners, nurses, social workers, and caregivers are just a few examples.
			%p#bottom While a general consensus is being reached on the universal components of a care plan, the actual content that these components address is still largely unstandardized. In the future, there will be always-evolving care plan templates with evidence-based content for the full spectrum of human conditions. For now, we can categorize the areas of concern into commonly used categories.
		.content-carousel
			-cards = data.features.careplans.care_cards
			#care-cards.carousel.slide
				%ol.card-carousel-indicators
					%li.active{:data=>{:target=>"#care-cards", :slide=>{:to=>"0"}}}
						%img.svg{:src=>cards[0].icon}
					-(1..8).each do |i|
						%li{:data=>{:target=>"#care-cards", :slide=>{:to=>"#{i}"}}}
							%img.svg{:src=>cards[i].icon}
				.carousel-inner{:role=>"listbox"}
					.item.active
						.container-fluid
							.row
								.col-md-4
									%img.care-card-img{:src=>cards[0].img}
								.col-md-8
									%h5=cards[0].header
									%p=cards[0].content
					-(1..8).each do |j|
						.item
							.container-fluid
								.row
									.col-md-4
										%img.care-card-img{:src=>cards[j].img}
									.col-md-8
										%h5=cards[j].header
										%p=cards[j].content
					%a.left.control{:href=>"#care-cards", :role=>"button", :data=>{:slide=>"prev"}}
						%span <
					%a.right.control{:href=>"#care-cards", :role=>"button", :data=>{:slide=>"next"}}
						%span >

	.part.three#three
		%p A care plan applies the different areas of concern (i.e. physical activity, nutrition, etc.) across the universal components (i.e. goals, instructions, etc.). There is a baseline care plan that exists for general healthy living, and this baseline becomes more customized to a person as more information is collected. Factors such as sex, age, ethnicity, activities, conditions, etc. influence what content goes in a care plan, and how important those areas are to the person.
		%p Explore how the care plan changes these factors across the three individuals below.
		.careplan-diagram
			%ul.nav.nav-tabs#tabs
				%li.active{:role=> "presentation"}
					%a{:href=> "#1", :data=> {:toggle=> "tab"}}
						= partial("features/careplans/profile_tab", :locals => {:index=>0} )
				%li{:role=> "presentation"}
					%a{:href=> "#2", :data=> {:toggle=> "tab"}}
						= partial("features/careplans/profile_tab", :locals => {:index=>1} )
				%li{:role=> "presentation"}
					%a{:href=> "#3", :data=> {:toggle=> "tab"}}
						= partial("features/careplans/profile_tab", :locals => {:index=>2} )
			.tab-content
				.tab-pane.active{:id=> "1"}
					= partial("features/careplans/diagram_0", :locals => {:index=>0} )
				.tab-pane{:id=> "2"}
					= partial("features/careplans/diagram_1", :locals => {:index=>1} )
				.tab-pane{:id=> "3"}
					= partial("features/careplans/diagram_2", :locals => {:index=>2} )
	.part.four#four
		//main content
		%h5 How did they start?
		%ul.history-items
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#fff" stroke-width="2" fill="white"/></svg> 31st BC-15th Century
				%p.history-item__content Much of medical history was focused in reactive care, rather than taking preventative measures for the individual’s health. In the middle ages especially, the idea of preventative care could also have been stunted by the explanations of medical phenomena connected to spirituality and religious belief systems. Preceding modern medicine, most of the care regimens provided to patients were focused on either external symptoms, or a spiritual or magical basis.
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#fff" stroke-width="2" fill="white"/></svg> 6th-19th Century
				%p.history-item__content The 16th to 19th century was a period of heavy scientific discovery, leading to the transition of supernatural explanations to natural explanations for disease and illness. People began to see illness as something that could eventually be eradicated, and saw health as a natural state of the body that should be maintained and protected, further stepping away from traditional notions of supernatural explanations or divine punishment.
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#fff" stroke-width="2" fill="white"/></svg> 1930s
				%p.history-item__content The 1930s marked the entry of clinically driven care plans into the <span id="nursing_span" class="clickable_span">nursing<span id="nursing_popup" class="popup_content"><span class="popup_triangle_shadow"></span><span class="popup_triangle"></span><img class="popup_img" src="../../../images/careplans/nursing_img.jpg"></img><span class="popup_text_header">Nursing</span><span class="popup_text_content">Virginia Henderson, “The Nightingale of Modern Nursing”, was a clinically recognized nurse and instructor in the 1900s. She designed the basic nursing curriculum for the National League for Nursing that taught a patient- centered approach focused on nursing problems rather than medical diagnoses.</span></span></span> field. When stays in the hospital were longer, there was time to implement written plans. Nursing team leads would also use care plans as a guide for the less-educated members of the team.
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#fff" stroke-width="2" fill="white"/></svg> 1970s
				%p.history-item__content There were many fields involved in the emergence of<span id="life_care_planning_span" class="clickable_span">life care planning<span id="life_care_planning_popup" class="popup_content"><span class="popup_triangle_shadow"></span><span class="popup_triangle"></span><img class="popup_img" src="../../../images/careplans/life_care_planning_img.jpg"></img><span class="popup_text_header">Life Care Planning</span><span class="popup_text_content">Life care plans started to develop in the 1970s after the convergence of research within several fields. Catastrophic disability research in the mid 70s paved the way for the modern life care plan.</span></span></span>during this time. The converging principles of the fields of experimental analysis of behavior<span id="EAB_span" class="clickable_span">(EAB)<span id="EAB_popup" class="popup_content"><span class="popup_triangle_shadow"></span><span class="popup_triangle"></span><img class="popup_img" src="../../../images/careplans/EAB_img.jpg"></img><span class="popup_text_header">Experimental Analysis of Behavior</span><span class="popup_text_content">This subspecialty of psychology provided research in charting behavioral changes over long periods of time. These behaviors could then be deconstructed into discrete actions that could be analyzed by the researcher. The technique of charting provided the case management professional with a tool in identifying individual components of care for a specific patient.</span></span></span>,<span id='developmental_psychology_span' class="clickable_span">developmental psychology<span id="developmental_psychology_popup" class="popup_content"><span class="popup_triangle_shadow"></span><span class="popup_triangle"></span><img class="popup_img" src="../../../images/careplans/developmental_psychology_img.jpg"></img><span class="popup_text_header">Developmental Psychology</span><span class="popup_text_content">Developmental psychology provided a practical role in the development of life care planning. Through conducting research on children with cerebral palsy, it was discovered that the overwhelming complexity of the needs of the patient required that a structured reference tool be provided as a roadmap of care. This provided the beginning of the framework for life care planning.</span></span></span>, and<span id="case_management_span" class="clickable_span">case management<span id="case_management_popup" class="popup_content"><span class="popup_triangle_shadow"></span><span class="popup_triangle"></span><img class="popup_img" src="../../../images/careplans/case_management_img.jpg"></img><span class="popup_text_header">Case Management</span><span class="popup_text_content">Case management is the collaborative process of assessing, planning, implementing, and evaluating the options and services for a person’s health needs. In the early 1970s, the case management field began seeing the value of a detailed life care plan and became more involved with providing integrated services for those with long-term medical needs.</span></span></span>established life care planning factors: a summative statement, communication tool, preventative planning, basic components, individualized plans, and needs come first ideology.
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#3fff" stroke-width="2" fill="white"/></svg> 1980s
				%p.history-item__content Starting in the 1980s and in the following decades, life care planners were involved in consultations with insurance carriers and also with attorneys involved in litigation. Life care planning played a huge initial role in the field of <span id="litigation_span" class="clickable_span">litigation<span id="litigation_popup" class="popup_content"><span class="popup_triangle_shadow"></span><span class="popup_triangle"></span><img class="popup_img" src="../../../images/careplans/litigation_img.jpg"></img><span class="popup_text_header">Litigation</span><span class="popup_text_content">Virginia Henderson, “The Nightingale of Modern Nursing”,  	was a clinically recognized nurse and instructor in the 1900s. She designed the basic nursing   	 	curriculum for the National League for Nursing that taught a patient- centered approach focused 	on nursing problems rather than medical diagnoses.</span>   </span></span>. It has since expanded into elder care, chronic illness and discharge planning. It has also expanded the number and types of professions who can each be involved in a part of care planning.
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#fff" stroke-width="2" fill="white"/></svg> 2000s
				%p.history-item__content The breadth of professionals and care providers within life care planning expanded, with individuals coming from rehabilitation counseling, rehabilitation nursing, physiatry, and case management professions. Both paper based and digital technology based care plans were regularly being used by patients and their care providers. A proliferation of digital technology based care plans also began to take hold in later years. Healthtap, Amwell, Better., HelloDoctor, HealthKit, My Chart, Practice Fusion, Health Vault, AskMD, Happify, and Healarium are all more well known examples.
			%li.history-item
				.history-item__title <svg height="17" width="30"><circle cx="9" cy="9" r="7" stroke="#fff" stroke-width="2" fill="white"/></svg> Where are care plans now?
				%p.history-item__content Check back next month for part II of our care plan series:
				%p.history-item__content#next_article Care Plans: The Current Landscape
	.credit-wrapper
		.row
		%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		%script(src="../../../javascripts/features/careplans/case_studies.js")
			- # BEGIN Credits: Copy from this line.
		#credits
			.contributors
				.contributor
					.image
						= image_tag 'features/digital-healthcare/contrib/beth.jpg'
					.info
						%h3 Contributing Author & Illustrator
						%p Beth Herlin<br><small><a href="https://twitter.com/beth11herlin">@beth11herlin</a></small>
				%hr
				.contributor
					.image
						= image_tag 'features/digital-healthcare/contrib/jon.jpg'
					.info
						%h3 Contributing Author
						%p Jon Follett<br><small><a href="https://twitter.com/jonfollett">@jonfollett</a></small>
				%hr
				.contributor
					.image
						= image_tag 'features/digital-healthcare/contrib/courtney.jpg'
					.info
						%h3 Web Developer & Designer
						%p Courtney McGorrill<br><small><a href="http://twitter.com/court_mcgort">@court_mcgort</a></small>
				%hr
				.contributor
					.image
						= image_tag 'features/democracy/contrib/juhan.jpg'
					.info
						%h3 Contributing Author
						%p Juhan Sonin<br><small><a href="http://twitter.com/jsonin">@jsonin</a></small>
		- # END Credits. Copy to this %%%%%line.
