- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "vendor/jquery.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/tab.js"
	= javascript_include_tag "features/careplans-scroll.js"
	= javascript_include_tag "invo-time-feature"
	= javascript_include_tag "vendor/responsiveslides.min.js"
	
	- meta = page_for_meta("careplans")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	.overall-header 
		/ %video#bgVideo{:preload => "true", :autoplay => "true", :loop => "true"}
		/ 	%source{:src => "../../images/careplans/FeatureBanner_v02_slow.mp4", :type => "video/mp4"}
		.title 
			Care Plans: Part 1
	/ .small-screen-cover
	/ 	%img.desktop{:src => ""}
	/ 	%img.mobile{:src => ""}
	%header.nav-wrapper.stuck
		%nav.main-nav
			%a.one{:href => "#"} What are they?
			%a.two{:href => "#"} What's in them?
			%a.three{:href => "#"} How do they work?
			%a.four{:href => "#"} How did they start?
	%header.nav-wrapper.scroll-nav
		%nav.main-nav
			%a.one{:href => "#"} What are they?
			%a.two{:href => "#"} What's in them?
			%a.three{:href => "#"} How do they work?
			%a.four{:href => "#"} How did they start?
	.part.one			
		%h1 What are they?
	.part.two			
		%h1 What's in them?
		.component-chart
			%h4 A chart will live here. 
			.container-fluid
				.row
					.col-md-12
						%span See,
				.row
					.col-md-4
						%span I
					.col-md-4
						%span am
					.col-md-4
						%span a
				.row
					.col-md-12
						%span chart.
		.content-carousel
			-cards = data.features.careplans.care_cards
			#care-cards.carousel.slide{:data=>{:ride=>"carousel"}}
				%ol.card-carousel-indicators
					%li.active{:data=>{:target=>"#care-cards", :slide=>{:to=>"0"}}}
						%object.icon{:type=>"image/svg+xml", :data=>cards[0].icon}
					-(1..8).each do |i|
						%li{:data=>{:target=>"#care-cards", :slide=>{:to=>"#{i}"}}}
							%object.icon{:type=>"image/svg+xml", :data=>cards[i].icon}
				.carousel-inner{:role=>"listbox"}
					.item.active
						.container-fluid
							.row
								.col-md-6
									%img.care-card-img{:src=>cards[0].img}
								.col-md-6
									%h5=cards[0].header
					-(1..8).each do |j|
						.item
							.container-fluid
								.row
									.col-md-6
										%img.care-card-img{:src=>cards[j].img}
									.col-md-6
										%h5=cards[j].header

	.part.three			
		%h1 How do they work?
		.careplan-diagram
			%ul.nav.nav-tabs#tabs
				%li.active{:role=> "presentation"}
					%a{:href=> "#1", :data=> {:toggle=> "tab"}}
						= partial("features/careplans/profile_tab", :locals => {:index=>0} )
				%li{:role=> "presentation"}
					%a{:href=> "#2", :data=> {:toggle=> "tab"}}
						= partial("features/careplans/profile_tab", :locals => {:index=>1} )
				%li{:role=> "presentation"}
					%a{:href=> "#3", :data=> {:toggle=> "tab"}}
						= partial("features/careplans/profile_tab", :locals => {:index=>2} )
			.tab-content
				.tab-pane.active{:id=> "1"}
					= partial("features/careplans/diagram", :locals => {:index=>0} )
				.tab-pane{:id=> "2"}
					= partial("features/careplans/diagram", :locals => {:index=>1} )
				.tab-pane{:id=> "3"}
					= partial("features/careplans/diagram", :locals => {:index=>2} )
	.part.four			
		%h1 How did they start?
	.credit-wrapper
		.row
			- # BEGIN Credits: Copy from this line.
		#credits
			.contributors
				.contributor
					.image
						= image_tag 'features/digital-healthcare/contrib/beth.jpg'
					.info
						%h3 Contributing Author & Illustrator
						%p Beth Herlin<br><small><a href="https://twitter.com/beth11herlin">@beth11herlin</a></small>
				%hr
				.contributor
					.image
						= image_tag 'features/digital-healthcare/contrib/jon.jpg'
					.info
						%h3 Contributing Author
						%p Jon Follett<br><small><a href="https://twitter.com/jonfollett">@jonfollett</a></small>
				%hr
				.contributor
					.image
						= image_tag 'features/digital-healthcare/contrib/courtney.jpg'
					.info
						%h3 Web Developer & Designer
						%p Courtney McGorrill<br><small><a href="http://twitter.com/court_mcgort">@court_mcgort</a></small>	
				%hr
				.contributor
					.image
						= image_tag 'features/democracy/contrib/juhan.jpg'
					.info
						%h3 Contributing Author
						%p Juhan Sonin<br><small><a href="http://twitter.com/jsonin">@jsonin</a></small>
		- # END Credits. Copy to this %%%%%line.