- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/careplans-scroll.js"
	= javascript_include_tag "features/careplans/careplanII.js"

	- meta = page_for_meta("careplans")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	%div.hero
		%div.title
			%p.big-title
				CARE 
			%p.big-title
				PLANS
			%p.sub-title
				PART II: THE CURRENT LANDSCAPE
		%div.background
		%div.midground
		%div.foreground
	%header.nav-wrapper.stuck
		%nav.main-nav
			%a.one{:href => "javascript:void(0)"} Process
			%a.two{:href => "javascript:void(0)"}  Product
			%a.three{:href => "javascript:void(0)"} Barriers
			%a.four{:href => "javascript:void(0)"} Next Steps
	%header.nav-wrapper.scroll-nav
		%nav.main-nav
			%a.one{:href => "javascript:void(0)"} Process
			%a.two{:href => "javascript:void(0)"} Product
			%a.three{:href => "javascript:void(0)"} Barriers
			%a.four{:href => "javascript:void(0)"} Next Steps
	.part.one
		%p This piece is a continuation of the Care Plan series. While <a href="/features/careplans/">Part I</a> focused on what care plans are and how they came about, this article will explore how care plans are currently being used in the health space.
	.part.journey
		.text
			%h1 The Process of a Care Plan
			%p There is not yet any clinically recognized universal standard for care plan creation and implementation. But using elements derived from CMS’s Meaningful Use Stage 2 requirements,<span class='superscript'>1,2</span> the Coordinated Care Plan documentation from the Ontario Medical Association,<span class='superscript'>3</span> the traditional nursing care plan structure,<span class='superscript'>4</span> and the Care Plan Glossary from the ONC’s Standards and Interoperability Framework,<span class='superscript'>5</span> we have created a generalized care plan journey map below.
			%p The journey begins with a patient visiting his primary care doctor.
		.process.desktop
			%img{:src => "../../images/features/careplans/part2/careplan_journey_health_history_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_identify_health_concerns_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_set_goals_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_instruct_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_care_team_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_specify_review_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_live_care_plan_web.png"}
			%div.process-box.process-box1
				%h6 Understand Health History
				%p The beginning of any care plan process, whether creation or review, requires an understanding of the patient’s health history. This should be summative in nature, and include basic information such as demographics, care team, vitals, problems, allergies, medications, therapies, notable encounters or procedures, and an indication of whether an advance care plan is in place. It is important to keep a patient summary up to date so that any care professional can reference it in an emergency.
				%div.circle.circle1 1
			%div.connect-box.connect-box1
			%div.process-box.process-box2
				%h6 Identify Health Concerns
				%p The next step is to identify what the current problems or health concerns are. This can involve reviewing symptomology, eating habits, physical activity, sleep habits, psychological issues, management of medication, sexual health, cessation of bad habits, management of any other daily activity, or any social or environmental factors on health. Collection of vitals might also be involved in the identification of health concerns.
			%div.connect-box.connect-box2
			%div.circle.circle2 2
			%div.process-box.process-box3
				%h6 Set Goals
				%p Goals are set to improve or resolve the identified health problems by the next review period. SMART goals (specific, measurable, achievable, realistic, time oriented) help break down goals into smaller specific steps. Goals should also be measured in a way that’s quantifiable so that changes can be seen over a pratice timeframe. These can include both patient defined goals such as longevity, function, comfort, etc., and clinician defined goals.
			%div.connect-box.connect-box3
			%div.circle.circle3 3
			%div.process-box.process-box4
				%h6 Instruct and Intervene
				%p After the desired outcomes are specified, the interventions and instructions on how to acheive those goals can be delivered. Instructions are educational directions to the patient/other providers about how to care for the patient's condition, what to do at home, when to call for help, additional appointments, testing, medication changes/instructions, among others. Interventions are specified actions taken as steps toward achieving care plan goals. This can include adminstration of physical treatment, creation or adjustment to the medication plan, prescribed activities or community/social services, or removal of barriers to success.
			%div.connect-box.connect-box4
			%div.circle.circle4 4
			%div.process-box.process-box5
				%h6 Enlist Care Team
				%p A team of individuals should be enlisted in the care of the patient. The care team includes both professional parties who manage and/or provide care, including medical practitioners, nurses, allied health practitioners (physiotherapist, speech therapist psychologist, pharmacist, etc.), social workers, and care managers; as well as non-professional members such as caregivers, family, friends, and the patient themselves. It should be determined by the patient which care team members are granted access to his or her health information.
			%div.connect-box.connect-box5
			%div.circle.circle5 5
			%div.process-box.process-box6
				%h6 Specify Outcomes to Review
				%p It is important to set a specfic time for review of the care plan to determine whether patient needs are being met and if adjustments need to be made. Low level, relatively healthy individuals may only need an annual review of the care plan, whereas those with more severe chronic illnesses may need a much more frequent checkup. Specific metrics for followup should be determined based on the health concerns and goals set.
			%div.connect-box.connect-box6
			%div.circle.circle6 6
			%div.process-box.process-box7
				%h6 Live the Care Plan
				%p The most important part of the care plan process is how the patient implements it. They must translate guidance from their brief interactions with clinicians into sustained lifestyle behaviors to improve their own health. Self care makes up over 99% of healthcare, and it is only successful with a good care plan.
			%div.tail
				%img{:src => "../../images/features/careplans/part2/careplan_journey_arrow.png"}
				%p The process is a cycle. Patients live the care plan until the next medical encounter.
			%div.tail-connect
			%div.circle.circle7 7
		.process.mobile
			%div.process-box
				%div.circle 1
				%h6 Understand Health History
				%img{:src => "../../images/features/careplans/part2/careplan_journey_health_history_mobile.png"}
				%p The beginning of any care plan process, whether creation or review, requires an understanding of the patient’s health history. This should be summative in nature, and include basic information such as demographics, care team, vitals, problems, allergies, medications, therapies, notable encounters or procedures, and an indication of whether an advance care plan is in place. It is important to keep a patient summary up to date so that any care professional can reference it in an emergency.
			%div.process-box
				%div.circle 2
				%h6 Identify Health Concerns
				%img{:src => "../../images/features/careplans/part2/careplan_journey_identify_health_concerns_mobile.png"}
				%p The next step is to identify what the current problems or health concerns are. This can involve reviewing symptomology, eating habits, physical activity, sleep habits, psychological issues, management of medication, sexual health, cessation of bad habits, management of any other daily activity, or any social or environmental factors on health. Collection of vitals might also be involved in the identification of health concerns.
			%div.process-box
				%div.circle 3
				%h6 Set Goals
				%img{:src => "../../images/features/careplans/part2/careplan_journey_set_goals_mobile.png"}
				%p Goals are set to improve or resolve the identified health problems by the next review period. SMART goals (specific, measurable, achievable, realistic, time oriented) help break down goals into smaller specific steps. Goals should also be measured in a way that’s quantifiable so that changes can be seen over a pratice timeframe. These can include both patient defined goals such as longevity, function, comfort, etc., and clinician defined goals.
			%div.process-box
				%div.circle 4
				%h6 Instruct and Intervene
				%img{:src => "../../images/features/careplans/part2/careplan_journey_instruct_mobile.png"}
				%p After the desired outcomes are specified, the interventions and instructions on how to acheive those goals can be delivered. Instructions are educational directions to the patient/other providers about how to care for the patient's condition, what to do at home, when to call for help, additional appointments, testing, medication changes/instructions, among others. Interventions are specified actions taken as steps toward achieving care plan goals. This can include adminstration of physical treatment, creation or adjustment to the medication plan, prescribed activities or community/social services, or removal of barriers to success.
			%div.process-box
				%div.circle 5
				%h6 Enlist Care Team
				%img{:src => "../../images/features/careplans/part2/careplan_journey_care_team_mobile.png"}
				%p A team of individuals should be enlisted in the care of the patient. The care team includes both professional parties who manage and/or provide care, including medical practitioners, nurses, allied health practitioners (physiotherapist, speech therapist psychologist, pharmacist, etc.), social workers, and care managers; as well as non-professional members such as caregivers, family, friends, and the patient themselves. It should be determined by the patient which care team members are granted access to his or her health information.
			%div.process-box
				%div.circle 6
				%h6 Specify Outcomes to Review
				%img{:src => "../../images/features/careplans/part2/careplan_journey_specify_review_mobile.png"}
				%p It is important to set a specfic time for review of the care plan to determine whether patient needs are being met and if adjustments need to be made. Low level, relatively healthy individuals may only need an annual review of the care plan, whereas those with more severe chronic illnesses may need a much more frequent checkup. Specific metrics for followup should be determined based on the health concerns and goals set.
			%div.process-box
				%div.circle 7
				%h6 Live the Care Plan
				%img{:src => "../../images/features/careplans/part2/careplan_journey_live_care_plan_mobile.png"}
				%p The most important part of the care plan process is how the patient implements it. They must translate guidance from their brief interactions with clinicians into sustained lifestyle behaviors to improve their own health. Self care makes up over 99% of healthcare, and it is only successful with a good care plan.
			%div.process-box.tail
				%img{:src => "../../images/features/careplans/part2/careplan_journey_arrow_mobile.png"}
				%p The process is a cycle. Patients live the care plan until the next medical encounter.
	.part.two.desktop
		.text
			%h1 The Care Plan Product Landscape
			%p As of January 2015, CMS transitioned Medicare to the more quality-based practice of reinbursing for care management of eligible patients with 2 or more chronic conditions. Now, physicians, certified nurse specialists, nurse practitioners, and physician assistants are incentivized to perform 20 minutes of non-face-to-face care coordination services for every Medicare-qualifying patient each month. This can include tasks such as recording and coordinating patient health information (even from outside their own practice), managing care transitions (such as discharge from a hospitalization), coordinating clinical home or community services, systematic assessments of patient needs, and finally, the creation and review of a perpetually accessible comprehensive care plan. Now that Medicare has begun this transition, other private insurance companies are beginning to follow suit to prioritize consistent, preventative care facilitated by patient-accessible care plans. As a result, many care planning services have emerged to address the software needs of care management.
			%p This matrix aims to explore the effectiveness of current care plan services based on defined criteria. Each service was scored based on the percentage of criteria met in each of the eleven topic areas. A 0 means that none of the criteria points were fulfilled. Click on each criteria at the top of the matrix to break down what subcriteria were used for scoring. The final score, out of 100, is the average of the service’s scores in each criteria area.
		.product-matrix 
			%table.table.table-bordered.table-striped
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_wellframe.png"}
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Interoperability" data-content='+ "Clinicians communicate with their patients through a HIPAA-compliant channel from Wellframe’s web-based Clinician Dashboard"'>50</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="History" data-content='+ "Tracks amount of tasks and instructions completed."'>50</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Education" data-html="true" data-content='+ "Customized to individual populations based on gender, age, cultural and socio-economic factors" <br> + Updated relevant health news tailored towards patient. <br> + Customized content for patient, sent from care provider professional. <br> + Checklist of tasks. <br> + Short term goals available, such as "walk for 5 minutes".'>80</span>  
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Goal Setting" data-html="true" data-content='+ "a care manager can make adjustments to the care plan in order to maximize patient adherence" using biometric data, which is automatically reported to care managers. <br> + Daily health checklists which dynamically adjust based on patient adherence. <br> - Lacking information about how patients can more directly engage with their own goals. Lots of emphasis on professional care providers ability to access and change patient plans.'>60</span>   
					%td <span>25</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dynamic Intervention" data-html="true" data-content='• "providing clinicians with real-time alerts, allowing them to prioritize patient interventions." <br> • "Clinicians receive real time alerts, allowing them to prioritize interventions."'>50</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Access" data-html="true" data-content='+ iOS & android app <br> + Patients can view care plan, tasks, reminders, and health data, etc. <br> + Health information is updated by care manager and/or patient <br> - no mention of exporting health record'>75</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Professional Care team communication" data-html="true" data-content='+ "Clinicians communicate with their patients through a HIPAA-compliant channel from Wellframe’s web-based Clinician Dashboard"'>43</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Non-Professional Care team communication" data-html="true" data-content='- No mention of non-professional care team communication'>0</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Clinical Validity" data-html="true" data-content='+ Many highly clinically trained professionals behind Wellframe development. <br> + Clinical trials conducted using Wellframe.'>100</span>
					%td <span>50</span> 
					%td 53.00
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_healarium.png"}
					%td <span>33</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="History" data-content='+/- "Care managers" manage your health data.'>25</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-html="true" title="Education" data-html="true" data-content='+ "Patients can also learn what specific indices or measurements (such as blood pressure and weight) affect their risk factors, what each piece of data means, what needs to be improved, and how it can be done." <br> + "Videos and additional articles also help round out the comprehensive picture." <br> - Connects patients with pre made treatment plans. Not clear how customizable these are afterwards.'>60</span>  
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Goal Setting" data-html="true" data-content='+ Gamification of tasks. <br> + List of tasks, both short term and long term. <br> + "A plan is a set of recommendations that guide day-to-day activities, helping patients adopt a healthier lifestyle." <br> + "Each health plan recommendation is translated into actionable tasks that tell patients exactly what to do to progress with the plan."'>80</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Vitals Tracking" data-html="true" data-content='+ "Graphics that show a patient's history and trends help visually demonstrate changes over time and show the direction in which the patient is heading."'>50</span>    
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dynamic Intervention" data-html="true" data-content='+ "lets coaches/care managers quickly focus on high need members/patients through automated messaging, alerts, and management-by-exception processes." <br> - Actionable interventions is managed and viewed by "health coaches" (what are these?) and secondarily, physicians'>50</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Access" data-html="true" data-content='+ iOS & android app <br> + Patients can view care plan, tasks, reminders, and health data, etc. <br> + Health information is updated by care manager and/or patient <br> - no mention of exporting health record'>75</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Professional Care team communication" data-html="true" data-content='- No mention of ability to easily contact professional care providers.'>0</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Non-Professional Care team communication" data-html="true" data-content='- No mention of non-professional care team communication'>0</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Clinical Validity" data-html="true" data-content='+ Healarium developed in conjunction with help from the Mayo Clinic. <br> + Healarium published in American Heart Journal. <br> + Healarium used in studies for cardiac rehabilitation. <br> - Patient health is managed and viewed by "health coaches" (what are these?) and secondarily, physicians.'>75</span>
					%td <span>75</span> 
					%td 47.55
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_healthtap.png"}
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Interoperability" data-content='+ HIPAA compliant text messaging.'>20</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="History" data-content='+ Ability to create personal and private health profile.'>25</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Education" data-html="true" data-content='+ Health related current events provided by physicians. <br> + + Access to Q&A community curated and edited by physicians. <br> + Recommendations of other health apps by physicians. <br> + Physician curated reviews and ratings of medications and procedures. <br> + Follow-reminders for activities and goals. <br> - Healthtap appears more like a community health content space rather than a personalized care plan platform.'>60</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Goal Setting" data-html="true" data-content='+ Short term and long term goal setting by physicians. <br> + List of tasks, both short term and long term. <br> + Award/gamified system for following goals and instructions. <br> + Positive reinforcement to follow goals via encouraging messages.'>80</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Vitals Tracking" data-html="true" data-content='- Healthtap is not a vitals tracking application.'>0</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dynamic Intervention" data-html="true" data-content='+ "Doctor-prescribed checklists and reminders"'>0</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Access" data-html="true" data-content='+ Ability to store and privately share health records, photos, documents with doctors. <br> + Ability to create private health profile. <br> + iOS, Android, web app <br> - no connection to EHR or other health devices'>75</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Professional Care team communication" data-html="true" data-content='+ "Talk with a top doctor using our Virtual Consult experience via high-definition video, voice, or text. Get help anywhere, 24/7, via the web or your mobile device, securely and privately. Share photos or test results, and get immediate answers, treatment, and referrals." <br> + "Connect with your personal doctors - both primary care and specialists"'>86</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Non-Professional Care team communication" data-html="true" data-content='+ Ability for medical students to review health questions from Healthtap community, which are reviewed by professional care providers. <br> + Ability to contribute to user driven community health content about lifestyle, tips, etc. Ability to gain credit from physicians.'>17</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Clinical Validity" data-html="true" data-content='+ Directly contacting professional care providers. <br> + Healarium published in American Heart Journal. <br> + System for vetting care professionals. <br> + Expertise and quality of content given by physicians is recognized.'>50</span>
					%td <span>100</span> 
					%td 46.64
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_amwell.png"}
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Interoperability" data-content='+ "During or after a visit, providers can send prescriptions and recommendations for over-the-counter (OTC) medications to a pharmacy of your choice."'>40</span> 
					%td <span>75</span>
					%td <span>20</span>
					%td <span>0</span>
					%td <span>25</span>
					%td <span>0</span>
					%td <span>75</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Professional Care team communication" data-html="true" data-content='+ "live, on-demand visits online or by phone." <br> + 24/7 communication availability of care provider professionals.'>71</span>   
					%td <span>0</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Clinical Validity" data-html="true" data-content='+ "physicians are U.S. trained, board-certified, licensed and credentialed." <br> + Can view physician background information, including experience, training, etc.'>75</span>
					%td <span>100</span> 
					%td 43.73
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_carezone.png"}
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Interoperability" data-content='+ "HIPAA-compliant platform people use daily." <br> + Meaningful Use 2 Compliant'>20</span> 
					%td <span>50</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Education" data-html="true" data-content='+ "Receive helpful, timely information and tips on health topics relevant to you and your family."'>0</span>  
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Goal Setting" data-html="true" data-content='+ Ability to choose who to share appointment and medication information with. '>40</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Vitals Tracking" data-html="true" data-content='+ "Track blood glucose, pain, and other important health vitals"'>0</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dynamic Intervention" data-html="true" data-content='+ "Get reminders when it's time to take a med or refill a prescription"'>0</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Access" data-html="true" data-content='+ Access to all patient-generated data, sharing <br> + iOS, Android, web app <br> - no connection to EHR or other health devices <br> - no good way to export data'>50</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Professional Care team communication" data-html="true" data-content='+ "Organize and share important numbers and emails—including doctors, pharmacies, and insurance providers." <br> - No method to contact care provider professionals.'>14</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Non-Professional Care team communication" data-html="true" data-content='+ "Document symptoms for easy reference during medical appointments and share updates privately with family members."'>66</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Clinical Validity" data-html="true" data-content='- No medical professional appears to be part of the product design team.'>0</span>
					%td 30
					%td 24.55
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_caresync.png"}
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Interoperability" data-content='+ Meets CCM requirements <br> + Ability to request medical records from all providers. <br> - No CQM certifications'>80</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="History" data-content='+ "View, filter, and share a comprehensive Health Timeline" <br> + "Carry your complete healthcare record" <br> + "Meaningful summaries of each past medical visit" <br> + "collection of all your medical records from all of your providers"'>100</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Education" data-html="true" data-content='+ Can keep track of tasks such as checking glucose levels, going to appointments like dental exams, eye exams. It appears as though you have to insert tasks manually. <br> - There is information from providers via appointment notes, but it doesn't appear to be very well organized for the patient standpoint. They must parse through the information manually.'>20</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Goal Setting" data-html="true" data-content='+ Non-professional care team can help encourage patient as he follows tasks. <br> - Goals must be set by the patient themselves.'>40</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Vitals Tracking" data-html="true" data-content='+ "Track how you’re feeling on a daily basis" <br> + "Health tracking with Journal, Pain Scale, and integration with wearables and vitals tracking devices" <br> + Can use a glucometer that is connected with CareSync to record glucose levels. <br> + "Integration with wearables and vitals tracking devices"'>50</span> 
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dynamic Intervention" data-html="true" data-content='• No method for the care team to intervene or offer advice in any way. This is merely a platform to collect personal medical records in one place. '>0</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Access" data-html="true" data-content='+ "Carry your complete healthcare record"; Ability to view provider notes and documentation for previous office visits. <br> + iOS, Android, web app <br> + Health information can be updated by care manager and/or patient <br> + Share/export health record '>100</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Professional Care team communication" data-html="true" data-content='+/- CareSync staff makes medical appointments for you by calling care provider professionals.'>29</span>
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Non-Professional Care team communication" data-html="true" data-content='+ "Collaborative access with customizable sharing" <br> + "Add your family and other caregivers, and let them help record observations and document questions for the doctor."'>83</span>   
					%td <span tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Clinical Validity" data-html="true" data-content='+ Medical professionals are part of the development team.'>25</span>
					%td 100
					%td 57.00
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_caringinplace.png"}
					%td 0
					%td 50
					%td 20
					%td 80
					%td 0
					%td 0
					%td 75
					%td 0
					%td 100
					%td 25
					%td 30
					%td 34.55
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_bridge.png"}
					%td 100
					%td 75
					%td 40
					%td 20
					%td 0
					%td 0
					%td 75
					%td 57
					%td 0
					%td 50
					%td 70
					%td 44.27
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_inxite.png"}
					%td 40
					%td 100
					%td 25
					%td 20
					%td 0
					%td 0
					%td 75
					%td 29
					%td 0
					%td 0
					%td 70
					%td 32.64
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_medfusionplus.png"}
					%td 80
					%td 75
					%td 40
					%td 0
					%td 25
					%td 0
					%td 50
					%td 43
					%td 0
					%td 0
					%td 70
					%td 34.82
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_intelichart.png"}
					%td 80
					%td 50
					%td 0
					%td 0
					%td 25
					%td 0
					%td 75
					%td 29
					%td 0
					%td 50
					%td 80
					%td 35.36
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_healthvault.png"}
					%td 80
					%td 50
					%td 20
					%td 60
					%td 100
					%td 0
					%td 100
					%td 29
					%td 0
					%td 50
					%td 100
					%td 53.55
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_askmd.png"}
					%td 0
					%td 25
					%td 40
					%td 0
					%td 25
					%td 50
					%td 75
					%td 29
					%td 0
					%td 0
					%td 80
					%td 29.45
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_patientFusion.png"}
					%td 83
					%td 75
					%td 20
					%td 20
					%td 25
					%td 0
					%td 100
					%td 29
					%td 0
					%td 50
					%td 70
					%td 42.91
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_mychart.png"}
					%td 60
					%td 50
					%td 0
					%td 0
					%td 50
					%td 0
					%td 75
					%td 29
					%td 0
					%td 0
					%td 70
					%td 30.36
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_happify.png"}
					%td 0
					%td 0
					%td 60
					%td 60
					%td 25
					%td 0
					%td 50
					%td 0
					%td 0
					%td 25
					%td 10
					%td 20.91
				%tr
					%td
						%img{:src => "../../images/features/careplans/part2/careplan_matrix_healthkit.png"}
					%td 33
					%td 25
					%td 0
					%td 0
					%td 75
					%td 0
					%td 50
					%td 0
					%td 0
					%td 0
					%td 100
					%td 25.73
		.text
			%p There is a clear distinction between patient portal services (Bridge, Patient Fusion, Intelichart) focused on data interoperability, health history, and professional care team communication; and the less clinical services (CareZone, Healthtap, Wellframe, Healarium) focused on patient engagement, goal setting, and non-professional care team communication. Wellframe, CareSync, and HealthVault are the few services that attempt to bridge the gap between those two focuses, putting them at the top of ranking as the more successful care plan services.
			%p However, certain deficits seem to be shared by almost all of these services. While interoperability is a growing focus, there still seems to be trouble in adopting a universal data standard for content and holding services to consistent clinical quality metrics. Many services successfully incorporate data tracking and visualizations, though there is virtually no presence of actual insight from this data. Users are not receiving projected outcomes or recommendatons for behavior change based on collected data. Similarly, while users can access all of their health data, they rarely get to ‘own’ it. This means being presented the raw data for export, sharing, and personal documentation.
			%p These limitations, and others collected through secondary literature research are explored further below.
	.part.three
	.part.four
		.text
			%h1 The Next Steps for Care Plans
			%p Care plans have come a long way since their conception. We have created a somewhat systematic approach to a patient health guide, yet have not standardized it for consistant communication and delivery of care. We have established appropriate intervention steps for a variety of diagnosed conditions, yet have not mastered the format and delivery of these steps so that they are effective and engaging to patients. We have figured out collect massive amounts of crucial patient health data, yet we have not offered to the patient to carry with them and share throughout their diverse medical encounters. We are only on the cusp of health technology wave, and care plans have a bright future ahead of them. Want a glimpse? Check out our next feature.
	.part.coming-soon
		%h6.blue Coming soon!
		.row
			%a{:href => "/features/careplans/index.html"}
				%div.coming-soon-box.col-md-2
					%div.coming-soon-content
						%p.title Care Plans PI
						%p.subtitle An Overview
					%img.col-md-2{:src => "../../images/features/careplans/donna_norm.png"}
			%a{:href => "/features/careplans/part-2.html"}
				%div.coming-soon-box.row.col-md-4
					%div.coming-soon-content.col-md-2
						%p.title Care Plans
						%p.subtitle PIII: The Future
						%p The third and final feature will explore what opportunitues for improvement and innovation exist in the future of care planning.
					%img.col-md-2{:src => "../../images/features/careplans/careplan-journey_care-team_feature-preview.png"}
	.credit-wrapper
		.row
		%script(src="../../../javascripts/features/careplans/case_studies.js")
			- # BEGIN Credits: Copy from this line.
		#credits
			%h1 Authors
			.authors.container-fluid
				.row
					.author.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/beth.jpg'}
						.info
							%p Involution Studios
							%p.name Beth Herlin, MPD<br><small><a href="https://twitter.com/beth11herlin" target="_blank">@beth11herlin</a></small>
							%p.bio Beth is designer, product strategist, and researcher. She concentrates on designing beautiful and surprising health services and systems from the skintop to celltop to desktop. She holds bachelors of arts in psychology and studio art from Rice University and a master of product development from Carnegie Mellon University. She has worked on design and service strategy for companies such as Seniorlink, Johnson & Johnson, and Updox Patient Portals.
					.author.col-md-6
						.image
							%img{:src =>'../../images/features/careplans/contrib/edwin.jpg'}
						.info
							%p Involution Studios
							%p.name  Edwin Choi, MA
							%p.bio Edwin is a biologist turned designer. Combining the sciences and art, he orchestrates healthcare software experiences to be beautiful and clinically refined. Edwin is a graduate of Washington University, and has a masters in biomedical design from Johns Hopkins University. He has worked on projects for companies including Partners Healthcare and Notovox.
			%h1 Contributors
			.contributors.container-fluid
				.row
					.contributor.col-md-4
						.image
							%img{:src =>'../../images/features/careplans/contrib/yanyang.jpg'}
						.info
							%p Web Designer & Developer
							%p.name Yanyang Zhou
					.contributor.col-md-4
						.image
							%img{:src =>'../../images/features/careplans/contrib/jenn.jpg'}
						.info
							%p Web Designer & Developer
							%p.name Jennifer Patel<br><small><a href="https://twitter.com/catamariface" target="_blank">@catamariface</a></small>
					.contributor.col-md-4
						.image
							%img{:src =>'../../images/features/careplans/contrib/juhan.jpg'}
						.info
							%p Involution Studios, MIT
							%p.name Juhan Sonin<br><small><a href="http://twitter.com/jsonin" target="_blank">@jsonin</a></small>
				.row
					.contributor.col-md-4
						.image
							%img{:src =>'../../images/features/careplans/contrib/jeffbelden.jpg'}
						.info
							%p University of Missouri | toomanyclicks.com 
							%p.name ​Jeff Belden MD<br><small><a href="https://twitter.com/jeffbelden" target="_blank">@jeffbelden</a></small>
					.contributor.col-md-4
						.image
							%img{:src =>'../../images/features/careplans/contrib/joycelee.jpeg'}
						.info
							%p University of Michigan
							%p.name ​​Joyce Lee, MD, MPH<br><small><a href="https://twitter.com/joyclee">@joyclee</a></small>
					.contributor.col-md-4
						.image
							%img{:src =>'../../images/features/careplans/contrib/janesarasohnkahn.jpg'}
						.info
							%p THINK-Health | Health Populi blog | Huffington Post
							%p.name ​​Jane Sarasohn-Kahn, MA, MHSA<br><small><a href="https://twitter.com/healthythinker">@healthythinker</a></small>
			.reference
				%h1 References
				%ul
					%li#reference1
						%span 1.
						%a{:href => "https://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/downloads/Stage2_EPCore_15_SummaryCare.pdf"}“Stage 2 Meaningful Use Core Measures”.
						%span (2015, August). Retrieved from https://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/downloads/Stage2_EPCore_15_SummaryCare.pdf
					%li#reference2
						%span 2. United States, Department of Health and Human Services.
						%a{:href => "https://www.cms.gov/Outreach-and-Education/Medicare-Learning-Network-MLN/MLNProducts/Downloads/ChronicCareManagement.pdf"}“Chronic Care Management Services”.
						%span S(2015, May). Centers for Medicare and Medicaid Services. Retrieved from https://www.cms.gov/Outreach-and-Education/Medicare-Learning-Network-MLN/MLNProducts/Downloads/ChronicCareManagement.pdf
					%li#reference3
						%span 3.
						%a{:href => "https://www.oma.org/Resources/Documents/CoordinatedCarePlan_June2014.pdf"}“Key Elements to Include in a Coordinated Care Plan”.
						%span OMA. (2014, June). Retrieved November/December, 2015, from https://www.oma.org/Resources/Documents/CoordinatedCarePlan_June2014.pdf
					%li#reference4
						%span 4.
						%a{:href => "http://www.nhs.uk/Planners/Yourhealth/Pages/Careplan.aspx"}“NHS Guide to long-term conditions and self care: What is a care plan?”
						%span (n.d.). Retrieved December 21, 2015, from http://www.nhs.uk/Planners/Yourhealth/Pages/Careplan.aspx
					%li#reference5
						%span 5.
						%a{:href => "http://wiki.siframework.org/LCC Longitudinal Care Plan (LCP) SWG "}General Information.
						%span (n.d.). Retrieved December 25, 2015, from http://wiki.siframework.org/LCC Longitudinal Care Plan (LCP) SWG
					%li#reference6
						%span 6.
						%a{:href => "https://www.ipc.on.ca/images/Resources/circle-of-care.pdf"}Circle of Care.
						%span (2015, August). Retrieved December 25, 2015, from https://www.ipc.on.ca/images/Resources/circle-of-care.pdf
					%li#reference7
						%span 7. Palmieri, J. J., & Stern, T. A. (2009). Lies in the Doctor-Patient Relationship. Prim. Care Companion J. Clin. Psychiatry The Primary Care Companion to The Journal of Clinical Psychiatry,11(4), 163-168
					%li#reference8
						%span 8.
						%a{:href => "https://med.stanford.edu/news/all-news/2014/12/better-communication-between-caregivers-reduces-medical-errors.html"}Better communication between caregivers reduces medical errors, study finds.
						%span (n.d.). Retrieved December 20, 2015, from https://med.stanford.edu/news/all-news/2014/12/better-communication-between-caregivers-reduces-medical-errors.html
					%li#reference9
						%span 9.
						%a{:href => "https://www.hl7.org/fhir/careplan.html"}Resource Careplan.
						%span (n.d.). Retrieved December 20, 2015, from https://www.hl7.org/fhir/careplan.html
					%li#reference10
						%span 10.
						%a{:href => "http://www.brainline.org/content/2009/06/how-to-deal-with-conflicting-advice-from-healthcare-professionals.html"}How to Deal with Conflicting Advice from Healthcare Professionals.
						%span (n.d.). Retrieved January 25, 2016, from http://www.brainline.org/content/2009/06/how-to-deal-with-conflicting-advice-from-healthcare-professionals.html
					%li#reference11
						%span 11. Garson, A., Green, D. M., Rodriguez, L., Beech, R., & Nye, C. (2012). A New Corps Of Trained Grand-Aides Has The Potential To Extend Reach Of Primary Care Workforce And Save Money. Health Affairs, 31(5), 1016-1021.
					%li#reference12
						%span 12.
						%a{:href => "http://www.wellframe.com/"}Wellframe.
						%span (n.d.). Retrieved December 19, 2015, from http://www.wellframe.com/
					%li#reference13
						%span 13.
						%a{:href => "http://www.healarium.com/"}Healarium.
						%span  (n.d.). Retrieved December 15, 2015, from http://www.healarium.com/
					%li#reference14
						%span 14.
						%a{:href => "https://www.healthtap.com/"}HealthTap.
						%span (n.d.). Retrieved December 17, 2015, from https://www.healthtap.com/
					%li#reference15
						%span 15.
						%a{:href => "https://amwell.com/"}Amwell.
						%span (n.d.). Retrieved December 21, 2015, from https://amwell.com/
					%li#reference16
						%span 16.
						%a{:href => "https://carezone.com/home"}CareZone | Easily organize health information in one place.
						%span (n.d.). Retrieved December 22, 2015, from https://carezone.com/home
					%li#reference17
						%span 17.
						%a{:href => "http://www.caresync.com/"}Caresync.
						%span (n.d.). Retrieved December 20, 2015, from http://www.caresync.com/
					%li#reference18
						%span 18.
						%a{:href => "http://caringinplace.com/website/index.html"}Caring in Place.
						%span  (n.d.). Retrieved December 20, 2015, from http://caringinplace.com/website/index.html
					%li#reference19
						%span 19.
						%a{:href => "http://www.bridgepatientportal.com/"}Patient Portal Software for Hospitals and Physicians :: Bridge Patient Portal.
						%span (n.d.). Retrieved December 19, 2015, from http://www.bridgepatientportal.com/
					%li#reference20
						%span 20.
						%a{:href => "https://www.inxitehealth.com/"}Inxite Health Systems.
						%span (n.d.). Retrieved December 20, 2015, from https://www.inxitehealth.com/
					%li#reference21
						%span 21.
						%a{:href => "http://www.journeyforward.org/planning-tools/my-care-plan"}My Care Plan.
						%span (n.d.). Retrieved December 17, 2015, from http://www.journeyforward.org/planning-tools/my-care-plan
					%li#reference22
						%span 22.
						%a{:href => "http://www.intelichart.com/"}Online Patient Portal Software - InteliChart.
						%span (n.d.). Retrieved December 22, 2015, from http://www.intelichart.com/
					%li#reference23
						%span 23.
						%a{:href => "https://www.healthvault.com/us/en"}Microsoft HealthVault.
						%span (n.d.). Retrieved December 20, 2015, from https://www.healthvault.com/us/en
					%li#reference24
						%span 24.
						%a{:href => "https://www.patientfusion.com/"}Patient Fusion.
						%span  (n.d.). Retrieved December 18, 2015, from https://www.patientfusion.com/
					%li#reference25
						%span 25.
						%a{:href => "https://www.epic.com/software-phr.php"}Epic: Mobile Applications and Portals.
						%span  (n.d.). Retrieved December 20, 2015, from https://www.epic.com/software-phr.php
					%li#reference26
						%span 26.
						%a{:href => "https://www.sharecare.com/askmd/get-started"}AskMD.
						%span  (n.d.). Retrieved December 28, 2015, from https://www.sharecare.com/askmd/get-started
					%li#reference27
						%span 27.
						%a{:href => "http://www.medfusion.com/solutions/medfusion-plus/"}Medfusion Plus - Medfusion.
						%span (n.d.). Retrieved December 21, 2015, from http://www.medfusion.com/solutions/medfusion-plus/

/ - # END Credits. Copy to this %%%%%line.
