- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "vendor/jquery.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/careplans-scroll.js"
	= javascript_include_tag "features/careplans/careplanII.js"

	- meta = page_for_meta("careplans")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	%div.hero
		%div.title
			%p.big-title
				CARE 
			%p.big-title
				PLANS
			%p.sub-title
				PART II: THE CURRENT LANDSCAPE
		%div.background
		%div.midground
		%div.foreground
	%header.nav-wrapper.stuck
		%nav.main-nav
			%a.one{:href => "javascript:void(0)"} Process
			%a.two{:href => "javascript:void(0)"} Barriers
			%a.three{:href => "javascript:void(0)"} Product Landscape
			%a.four{:href => "javascript:void(0)"} Next Steps
	%header.nav-wrapper.scroll-nav
		%nav.main-nav
			%a.one{:href => "javascript:void(0)"} Process
			%a.two{:href => "javascript:void(0)"} Barriers
			%a.three{:href => "javascript:void(0)"} Product Landscape
			%a.four{:href => "javascript:void(0)"} Next Steps
	.part.one
		%p This piece is a continuation of the Care Plan series. While <a href="/features/careplans/">Part I</a> focused on what care plans are and how they came about, this article will explore how care plans are currently being used in the health space.
	.part.two
		.text
			%h1 The Process of a Care Plan
			%p There is not yet any clinically recognized universal standard for care plan creation and implementation. But using elements derived from CMS’s Meaningful Use Stage 2 requirements, the Coordinated Care Plan documentation from the Ontario Medical Association, the traditional nursing care plan structure, and the Care Plan Glossary from the ONC’s Standards and Interoperability Framework, we have created a generalized care plan journey map below.
			%p The journey begins with a patient visiting his primary care doctor.
		.process
			.section1
			.section2
	.credit-wrapper
		.row
		%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		%script(src="../../../javascripts/features/careplans/case_studies.js")
			- # BEGIN Credits: Copy from this line.
		#credits
			.contributors
				%h1 Authors
				.contributor
					.image
						%img{:src =>'../../images/features/careplans/contrib/beth.jpg'}
					.info
						%p Contributing Author & Illustrator
						%p.name Beth Herlin<br><small><a href="https://twitter.com/beth11herlin" target="_blank">@beth11herlin</a></small>
				.contributor
					.image
						%img{:src =>'../../images/features/careplans/contrib/edwin.jpg'}
					.info
						%p Contributing Author & Illustrator
						%p.name Edwin Choi
				.contributor
					.image
						%img{:src =>'../../images/features/careplans/contrib/yanyang.jpg'}
					.info
						%p Web Designer & Developer
						%p.name Yanyang Zhou
				.contributor
					.image
						%img{:src =>'../../images/features/careplans/contrib/juhan.jpg'}
					.info
						%p Contributing Author
						%p.name Juhan Sonin<br><small><a href="http://twitter.com/jsonin" target="_blank">@jsonin</a></small>
			.reference
				%h1 References
				%ul
					%li
						%a{:href => "https://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/downloads/ Stage2_EPCore_15_SummaryCare.pdf", :target=>"_blank"} https://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/downloads/ Stage2_EPCore_15_SummaryCare.pdf
					%li
						%a{:href => "https://www.cms.gov/Outreach-and-Education/Medicare-Learning-Network-MLN/MLNProducts/Downloads/ ChronicCareManagement.pdf", :target=>"_blank"} https://www.cms.gov/Outreach-and-Education/Medicare-Learning-Network-MLN/MLNProducts/Downloads/ ChronicCareManagement.pdf
					%li
						%a{:href => "http://www.nhs.uk/Planners/Yourhealth/Pages/Careplan.aspx", :target=>"_blank"} http://www.nhs.uk/Planners/Yourhealth/Pages/Careplan.aspx
					%li
						%a{:href => "https://www.oma.org/Resources/Documents/CoordinatedCarePlan_June2014.pdf", :target=>"_blank"} https://www.oma.org/Resources/Documents/CoordinatedCarePlan_June2014.pdf
					%li
						%a{:href => "https://www.nimh.nih.gov/health/topics/depression/index.shtml#part_145399", :target=>"_blank"} https://www.nimh.nih.gov/health/topics/depression/index.shtml#part_145399
					%li
						%a{:href => "https://www.nami.org/Learn-More/Mental-Health-Conditions/Depression/Treatment", :target=>"_blank"} https://www.nami.org/Learn-More/Mental-Health-Conditions/Depression/Treatment
					%li
						%a{:href => "http://www.mayoclinic.org/diseases-conditions/depression/basics/lifestyle-home-remedies/con-20032977", :target=>"_blank"} http://www.mayoclinic.org/diseases-conditions/depression/basics/lifestyle-home-remedies/con-20032977
					%li
						%a{:href => "http://www.everydayhealth.com/hs/major-depression-living-well/fight-depression-fatigue/", :target=>"_blank"} http://www.everydayhealth.com/hs/major-depression-living-well/fight-depression-fatigue/
					%li
						%a{:href => "http://www.medicinenet.com/emotional_eating/page4.htm", :target=>"_blank"} http://www.medicinenet.com/emotional_eating/page4.htm
					%li
						%a{:href => "http://www.kcbj.com/2013/10/knee-motion-machine-do-you-need-it-after-surgery/", :target=>"_blank"} http://www.kcbj.com/2013/10/knee-motion-machine-do-you-need-it-after-surgery/
					%li
						%a{:href => "http://www.emoryhealthcare.org/acl-program/surgical-recovery/acl-rehab-expectations.html", :target=>"_blank"} http://www.emoryhealthcare.org/acl-program/surgical-recovery/acl-rehab-expectations.html
					%li
						%a{:href => "http://www.moveforwardpt.com/symptomsconditionsdetail.aspx? cid=d8e73ca8-71f4-48a7-92f8-675bca38232c#.VmtPJBorLa4", :target=>"_blank"} http://www.moveforwardpt.com/symptomsconditionsdetail.aspx? cid=d8e73ca8-71f4-48a7-92f8-675bca38232c#.VmtPJBorLa4
					%li
						%a{:href => "http://www.diabetes.org/", :target=>"_blank"} http://www.diabetes.org/
					%li
						%a{:href => "http://diabetes.niddk.nih.gov/dm/pubs/medicines_ez/", :target=>"_blank"} http://diabetes.niddk.nih.gov/dm/pubs/medicines_ez/
					%li
						%a{:href => "http://ndep.nih.gov/i-have-diabetes/manageyourdiabetes.aspx", :target=>"_blank"} http://ndep.nih.gov/i-have-diabetes/manageyourdiabetes.aspx
					%li
						%a{:href => "http://www.mayoclinic.org/diseases-conditions/obesity/basics/treatment/con-20014834", :target=>"_blank"} http://www.mayoclinic.org/diseases-conditions/obesity/basics/treatment/con-20014834
					%li
						%a{:href => "http://www.mayoclinic.org/healthy-lifestyle/weight-loss/multimedia/low-calorie-foods/sls-20076175?s=1", :target=>"_blank"} http://www.mayoclinic.org/healthy-lifestyle/weight-loss/multimedia/low-calorie-foods/sls-20076175?s=1
					%li
						%a{:href => "http://www.cdc.gov/healthyschools/obesity/facts.htm", :target=>"_blank"} http://www.cdc.gov/healthyschools/obesity/facts.htm
					%li
						%a{:href => "http://carecards.me", :target=>"_blank"} carecards.me
					%li
						%a{:href => "http://www.heart.org/HEARTORG/", :target=>"_blank"} http://www.heart.org/HEARTORG/
					%li
						%a{:href => "http://www.aafp.org/afp/2005/0201/p469.html", :target=>"_blank"} http://www.aafp.org/afp/2005/0201/p469.html
					%li
						%a{:href => "http://www.mayoclinic.org/diseases-conditions/high-blood-pressure/basics/risk-factors/con-20019580", :target=>"_blank"} http://www.mayoclinic.org/diseases-conditions/high-blood-pressure/basics/risk-factors/con-20019580
					%li
						%a{:href => "http://www.cdc.gov/std/tg2015/chlamydia.htm", :target=>"_blank"} http://www.cdc.gov/std/tg2015/chlamydia.htm
					%li
						%a{:href => "http://www.caregiving.org/wp-content/uploads/2010/01/Catalyzing-Technology-to-Support-Family-Caregiving_FINAL.pdf", :target=>"_blank"} http://www.caregiving.org/wp-content/uploads/2010/01/Catalyzing-Technology-to-Support-Family-Caregiving_FINAL.pdf
					%li
						%a{:href => "http://www.pewinternet.org/files/old-media/Files/Reports/2012/PIP_Family_Caregivers_Online.pdf", :target=>"_blank"} http://www.pewinternet.org/files/old-media/Files/Reports/2012/PIP_Family_Caregivers_Online.pdf
					%li
						%a{:href => "http://www.webmd.com/hypertension-high-blood-pressure/guide/hypertension-home-monitoring", :target=>"_blank"} http://www.webmd.com/hypertension-high-blood-pressure/guide/hypertension-home-monitoring
					%li
						%a{:href => "http://www.mayoclinic.org/diseases-conditions/dementia/basics/definition/con-20034399? utm_source=Google&utm_medium=abstract&utm_content=Dementia&utm_campaign=Knowledge-panel", :target=>"_blank"} http://www.mayoclinic.org/diseases-conditions/dementia/basics/definition/con-20034399? utm_source=Google&utm_medium=abstract&utm_content=Dementia&utm_campaign=Knowledge-panel
					%li
						%a{:href => "https://www.nia.nih.gov/health/publication/sexuality-later-life", :target=>"_blank"} https://www.nia.nih.gov/health/publication/sexuality-later-life
					%li
						%a{:href => "http://www.alz.org/alzheimers_disease_10429.asp", :target=>"_blank"} http://www.alz.org/alzheimers_disease_10429.asp
					%li
						%a{:href => "https://www.alzheimers.org.uk/site/scripts/documents_info.php?documentID=149", :target=>"_blank"} https://www.alzheimers.org.uk/site/scripts/documents_info.php?documentID=149
					%li
						%a{:href => "http://www.webmd.com/children/tc/growth-and-development-ages-11-to-14-years-when-to-call-a-doctor", :target=>"_blank"} http://www.webmd.com/children/tc/growth-and-development-ages-11-to-14-years-when-to-call-a-doctor
					%li
						%a{:href => "http://teens.webmd.com/girls/facts-about-puberty-girls", :target=>"_blank"} http://teens.webmd.com/girls/facts-about-puberty-girls
					%li
						%a{:href => "http://www.livestrong.com/article/429657-diet-exercise-plan-for-a-30-year-old-male/", :target=>"_blank"} http://www.livestrong.com/article/429657-diet-exercise-plan-for-a-30-year-old-male/
					%li
						%a{:href => "http://www.ahrq.gov/patients-consumers/patient-involvement/healthy-men/healthy-men.html", :target=>"_blank"} http://www.ahrq.gov/patients-consumers/patient-involvement/healthy-men/healthy-men.html
					%li
						%a{:href => "https://en.wikipedia.org/wiki/Activities_of_daily_living", :target=>"_blank"} https://en.wikipedia.org/wiki/Activities_of_daily_living
					%li
						%a{:href => "http://www.cdc.gov/healthyschools/physicalactivity/guidelines.htm", :target=>"_blank"} http://www.cdc.gov/healthyschools/physicalactivity/guidelines.htm
					%li
						%a{:href => "https://my.clevelandclinic.org/childrens-hospital/health-info/ages-stages/adolescence/hic-Teen-Issues-and-Preventive- Health-Care", :target=>"_blank"} https://my.clevelandclinic.org/childrens-hospital/health-info/ages-stages/adolescence/hic-Teen-Issues-and-Preventive- Health-Care
					%li
						%a{:href => "https://www.healthychildren.org/English/ages-stages/teen/nutrition/Pages/A-Teenagers-Nutritional-Needs.aspx", :target=>"_blank"} https://www.healthychildren.org/English/ages-stages/teen/nutrition/Pages/A-Teenagers-Nutritional-Needs.aspx
					%li
						%a{:href => "https://www.healthychildren.org/English/ages-stages/teen/fitness/Pages/How-Teens-Can-Stay-Fit.aspx", :target=>"_blank"} https://www.healthychildren.org/English/ages-stages/teen/fitness/Pages/How-Teens-Can-Stay-Fit.aspx
					%li
						%a{:href => "http://www.webmd.com/parenting/vitamins-for-kids-do-healthy-kids-need-vitamins", :target=>"_blank"} http://www.webmd.com/parenting/vitamins-for-kids-do-healthy-kids-need-vitamins
					%li
						%a{:href => "https://sleepfoundation.org/how-sleep-works/how-much-sleep-do-we-really-need", :target=>"_blank"} https://sleepfoundation.org/how-sleep-works/how-much-sleep-do-we-really-need
					%li
						%a{:href => "http://www.webmd.com/parenting/raising-fit-kids/recharge/reduce-teen-screen-time?page=3", :target=>"_blank"} http://www.webmd.com/parenting/raising-fit-kids/recharge/reduce-teen-screen-time?page=3
					%li
						%a{:href => "http://www.cdc.gov/vaccines/schedules/hcp/imz/child-adolescent-shell.html", :target=>"_blank"} http://www.cdc.gov/vaccines/schedules/hcp/imz/child-adolescent-shell.html
					%li
						%a{:href => "http://www.cdc.gov/healthyschools/physicalactivity/toolkit/youth_pa_guidelines_communities.pdf", :target=>"_blank"} http://www.cdc.gov/healthyschools/physicalactivity/toolkit/youth_pa_guidelines_communities.pdf
					%li
						%a{:href => "http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3267340/", :target=>"_blank"} http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3267340/
					%li
						%a{:href => "http://www.webmd.com/alzheimers/tc/dementia-medications", :target=>"_blank"} http://www.webmd.com/alzheimers/tc/dementia-medications
					%li
						%a{:href => "http://www.mayoclinic.org/diseases-conditions/dementia/basics/definition/con-20034399? utm_source=Google&utm_medium=abstract&utm_content=Dementia&utm_campaign=Knowledge-panel", :target=>"_blank"} http://www.mayoclinic.org/diseases-conditions/dementia/basics/definition/con-20034399? utm_source=Google&utm_medium=abstract&utm_content=Dementia&utm_campaign=Knowledge-panel
					%li
						%a{:href => "http://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/dash-diet/art-20048456", :target=>"_blank"} http://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/dash-diet/art-20048456
					%li
						%a{:href => "http://www.health.harvard.edu/blog/checking-blood-pressure-at-home-pays-off-201307036436", :target=>"_blank"} http://www.health.harvard.edu/blog/checking-blood-pressure-at-home-pays-off-201307036436

/ - # END Credits. Copy to this %%%%%line.
