- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/careplans-scroll.js"
	= javascript_include_tag "features/careplans/careplanIII.js"

	- meta = page_for_meta("careplans-part3")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	.hero-bg
		%p How can mobile phones and other technology make us healthier?
	%button.see-the-future{:type => "button", :class => "btn btn-primary"} SEE THE FUTURE
	.part.one.featureIII
		%h1 Digital is Better
		.carousel.slide#carousel-part1
			.carousel-inner{:role=>"listbox"}
				.item.active.container-fluid
					%div.row
						%div.col-sm-6
							%img{:src => "../../images/features/careplans/part3/part1_slide1.png"}
						%div.col-sm-6
							%p The “Magic Mirror” on the wall is not just a fantasy anymore. Using facial recogition and mood sensing, blood pressure and heart rate sensing through skin pigmentation, and other technology, we can imbue the ordinary bathroom mirror with interactive qualities to help monitor our health.
							%a{:href => "javascript:void(0)"} <img src="../../images/features/careplans/part3/part1_learn_more_icon.png">Learn More
				.item.container-fluid
					%div.row
						%div.col-sm-6
							%img{:src => "../../images/features/careplans/part3/part1_slide2.png"}
						%div.col-sm-6
							%p Conversational user interfaces, driven by advances in voice recognition technology and artificial intelligence, are capable of understanding the content and context of patient concerns. These can be incorporated into mHealth apps for motivating health and fitness engagement, digital prescription treatment plans, or interactive systems for outpatient education.
							%a{:href => "javascript:void(0)"} <img src="../../images/features/careplans/part3/part1_learn_more_icon.png">Learn More
				.item.container-fluid
					%div.row
						%div.col-sm-6
							%img{:src => "../../images/features/careplans/part3/part1_slide3.png"}
						%div.col-sm-6
							%p Contextual engagement breeds adherence to self care goals. Using mobile phone sensors like the gyroscope, accelerometer, light sensor, camera, microphone, GPS, wifi, and other connected devices, we can start to provide realtime education and recommendations based on current behavior and the environment.
							%a{:href => "javascript:void(0)"} <img src="../../images/features/careplans/part3/part1_learn_more_icon.png">Learn More
				.item.container-fluid
					%div.row
						%div.col-sm-6
							%img{:src => "../../images/features/careplans/part3/part1_slide4.png"}
						%div.col-sm-6
							%p Virtual helpers will leverage human-modeled artificial intelligence to provide both health coaching and resources to motivate patients. Such mHealth companions will assist people in adhering to their care plans, their prescription regimens, and even outpatient treatment for complex, chronic conditions. These helpers might expand past the 2D mobile platform, seeping into other more physical services such as Echo, Nest, and Jibo.
							%a{:href => "javascript:void(0)"} <img src="../../images/features/careplans/part3/part1_learn_more_icon.png">Learn More
				.item.container-fluid
					%div.row
						%div.col-sm-6
							%img{:src => "../../images/features/careplans/part3/part1_slide5.png"}
						%div.col-sm-6
							%p Solving the complex problem of medication adherence could have a huge impact on lowering cost of care. The basics of digital adherence — self-reporting, tracking refills and chronic disease outcomes, etc. — will receive a boost from the use of sensors to collect confirming data, whether it’s via breath analysis, urine sampling, or another non-invasive method.  
							%a{:href => "javascript:void(0)"} <img src="../../images/features/careplans/part3/part1_learn_more_icon.png">Learn More
				%a.left.control{:href=>"#carousel-part1", :role=>"button", :data=>{:slide=>"prev"}}
					%img.svg{:src => "../../images/features/careplans/icons/arrow.svg"}
				%a.right.control{:href=>"#carousel-part1", :role=>"button", :data=>{:slide=>"next"}}
					%img.svg{:src => "../../images/features/careplans/icons/arrow.svg"}

		%p Distance and remote based care is growing with the continuing expansion of smartphone device consumption and installation of broadband services into homes and businesses.<span class='superscript'>1,2</span> Expansion of free internet services, such as in the UK, where the National Health Service (NHS) will be converted into a free wi-fi zone, are also a driver of this digitization trend.<span class='superscript'>3</span> With better connectivity, internet speeds, and smart monitoring devices, there may soon be a shift from the traditionally episodic, face-to-face care to a model where the immediate, remote, and individualized care plan is possible.<span class='superscript'>4</span>  Patients will be able to more consistently access, collaborate on, and adjust their care plans at home, work, school, while traveling, and in mobile clinics.<span class='superscript'>5</span> This shift is especially important for less mobile and more vulnerable demographics such as new borns, physically disabled people, or seniors.<span class='superscript'>6,7</span>

	.part.two.featureIII
		%h1 Standardized, Interoperable Content
		%a.desktop{:href => "javascript:void(0)"} CMS-funded<br>Intervention<br>Engine&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8594;
		%img{:src => "../../images/features/careplans/part3/part2.jpg"}
		.container-fluid
			.row
				.col-sm-4
					.content
						%p There must be more consensus on care plan content. All this variation leads to miscommunication and errors in the transfer of care.” 
						%p - c
					%a.mobile{:href => "javascript:void(0)"} CMS-funded<br>Intervention<br>Engine&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8594;
				.col-sm-8
					%p Standardization of care plans throughout the spectrum of health concerns will aid in communication and collaboration across care team members over time, providing high-quality longitudinal care with reduced risk for medical error.<span class='superscript'>2,8,9</span> If medical community leaders converge to develop clinical pathways into a library of robust care plan templates, they can then be customized to each patient’s needs while still being interoperable among all care organizations.<span class='superscript'>10,11,12</span> Using consistent quality metrics, the effectiveness of these templates can be assessed to identify how they must evolve and improve.
	.part.three.featureIII
		%h1 "Give Me My Data"
		%img{:src => "../../images/features/careplans/part3/part3.jpg"}
		.container-fluid
			.row
				.col-sm-4
					.content
						%p There needs to be an EMR system that can aggregate medical records, lab tests and scans, genomic data, and all other health data (including patient-generated) and analyze them in a meaningful way.
				.col-sm-8
					%p Patients will have an unlimited and ever-evolving reservoir of data collected from embedded devices, mobile phones, and other sensors that is then synthesized into an understandable personal health score.<span class='superscript'>13</span> Predictive analytics will help identify patterns in this data to create actionable insights and recommendations for care plan adjustments. With the advent of human genome mapping, we can further fine tune care plans according to patient's family medical history and genetic predispositions. In a broader context, we can look at the population's genetic data comparatively to differentially diagnose various health conditions.14 Once we can move past the stigma of sharing health record information with patients and the complexity of securing the information from harm, we can approach the ideal world where patients are the rightful owner of their health data, using it maintain a holistic view of their health.<span class='superscript'>6,13,15</span>
	.part.four.featureIII
		%h1 Empowered Patients are<br>Activated Patients
		%div.tabs.clearfix
			%ul.nav.nav-tabs{:role => "tablist"}
				%li.active{:role => "presentation"}
					%a{:href=>"#goal-setting", :aria=>{:controls=>"goal-setting"}, :data=>{:toggle=>"tab"}} <img class="circle_tick" src="../../images/features/careplans/part3/circle_tick.png"/><img class="circle_hollow" src="../../images/features/careplans/part3/circle_hollow.png"/><div>Goal<br>Setting</div>
				%li{:role => "presentation"}
					%a{:href=>"#goal-execution", :aria=>{:controls=>"goal-execution"}, :data=>{:toggle=>"tab"}} <img class="circle_tick" src="../../images/features/careplans/part3/circle_tick.png"/><img class="circle_hollow" src="../../images/features/careplans/part3/circle_hollow.png"/><div>Goal<br>Execution</div>
				%li{:role => "presentation"}
					%a{:href=>"#insight-adjustment", :aria=>{:controls=>"insight-adjustment"}, :data=>{:toggle=>"tab"}} <img class="circle_tick" src="../../images/features/careplans/part3/circle_tick.png"/><img class="circle_hollow" src="../../images/features/careplans/part3/circle_hollow.png"/><div>Insight &<br>Adjustment</div>
			%div.tab-content
				%div.fade.in.tab-pane.active#goal-setting{:role => "tabpanel"}
					%img{:src => "../../images/features/careplans/part3/part3_goal_setting.png"}
				%div.fade.tab-pane#goal-execution{:role => "tabpanel"}
					%img{:src => "../../images/features/careplans/part3/part3_goal_exec.png"}
				%div.fade.tab-pane#insight-adjustment{:role => "tabpanel"}
					%img{:src => "../../images/features/careplans/part3/part3_adjustment.png"}
		.carousel.slide#carousel-part4
			.carousel-inner{:role=>"listbox"}
				.item.active
					%img{:src => "../../images/features/careplans/part3/part3_goal_setting.png"}
					%h1 Goal Setting
				.item
					%img{:src => "../../images/features/careplans/part3/part3_goal_exec.png"}
					%h1 Goal Execution
				.item
					%img{:src => "../../images/features/careplans/part3/part3_adjustment.png"}
					%h1 Insight & Adjustment
				%a.left.control{:href=>"#carousel-part4", :role=>"button", :data=>{:slide=>"prev"}}
					%img.svg{:src => "../../images/features/careplans/icons/arrow.svg"}
				%a.right.control{:href=>"#carousel-part4", :role=>"button", :data=>{:slide=>"next"}}
					%img.svg{:src => "../../images/features/careplans/icons/arrow.svg"}
		.container-fluid
			.row
				.col-sm-4
					.content
						%p We need care plans to be more than list of instructions. They need to serve as a continuous source of diagnosis, relevant education,  informative insights, and encouragement to take action.
				.col-sm-8
					%p Patients should never leave a doctor’s office empty handed. Building an accessible digital care plan together with their provider will allow for both a more active discussion and a more empowered patient. When the patient feels a part of the decision making process and concludes a medical encounter feeling valued, knowledgeable, and supported by an accessible digital care plan, their likelihood of compliance to healthier 'self care' behaviors will grow.<span class='superscript'>13</span> Similar engagement of caregivers will grow compliance even further as these more consistently present care team members are informed and empowered to help implement the care plan.<span class='superscript'>10</span>