- content_for(:title) do
	= "Care Plans"
- content_for(:page_head) do
	= stylesheet_link_tag "vendor/bootstrap.min.css"
	= stylesheet_link_tag "features/careplans"
	= stylesheet_link_tag "feature-elements"
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,300,700"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	= javascript_include_tag "vendor/jquery.js"
	= javascript_include_tag "vendor/bootstrap.min.js"
	= javascript_include_tag "features/careplans/careplans-scroll.js"
	= javascript_include_tag "features/careplans/careplanII.js"

	- meta = page_for_meta("careplans")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#feature-article
	%div.hero
		%div.title
			%p.big-title
				CARE 
			%p.big-title
				PLANS
			%p.sub-title
				PART II: THE CURRENT LANDSCAPE
		%div.background
		%div.midground
		%div.foreground
	%header.nav-wrapper.stuck
		%nav.main-nav
			%a.one{:href => "javascript:void(0)"} Process
			%a.two{:href => "javascript:void(0)"} Barriers
			%a.three{:href => "javascript:void(0)"} Product Landscape
			%a.four{:href => "javascript:void(0)"} Next Steps
	%header.nav-wrapper.scroll-nav
		%nav.main-nav
			%a.one{:href => "javascript:void(0)"} Process
			%a.two{:href => "javascript:void(0)"} Barriers
			%a.three{:href => "javascript:void(0)"} Product Landscape
			%a.four{:href => "javascript:void(0)"} Next Steps
	.part.one
		%p This piece is a continuation of the Care Plan series. While <a href="/features/careplans/">Part I</a> focused on what care plans are and how they came about, this article will explore how care plans are currently being used in the health space.
	.part.two
		.text
			%h1 The Process of a Care Plan
			%p There is not yet any clinically recognized universal standard for care plan creation and implementation. But using elements derived from CMS’s Meaningful Use Stage 2 requirements, the Coordinated Care Plan documentation from the Ontario Medical Association, the traditional nursing care plan structure, and the Care Plan Glossary from the ONC’s Standards and Interoperability Framework, we have created a generalized care plan journey map below.
			%p The journey begins with a patient visiting his primary care doctor.
		.process.desktop
			%img{:src => "../../images/features/careplans/part2/careplan_journey_health_history_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_identify_health_concerns_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_set_goals_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_instruct_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_care_team_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_specify_review_web.png"}
			%img{:src => "../../images/features/careplans/part2/careplan_journey_live_care_plan_web.png"}
			%div.process-box.process-box1
				%h6 Understand Health History
				%p The beginning of any care plan process, whether creation or review, requires an understanding of the patient’s health history. This should be summative in nature, and include basic information such as demographics, care team, vitals, problems, allergies, medications, therapies, notable encounters or procedures, and an indication of whether an advance care plan is in place. It is important to keep a patient summary up to date so that any care professional can reference it in an emergency.
				%div.circle.circle1 1
			%div.connect-box.connect-box1
			%div.process-box.process-box2
				%h6 Identify Health Concerns
				%p The next step is to identify what the current problems or health concerns are. This can involve reviewing symptomology, eating habits, physical activity, sleep habits, psychological issues, management of medication, sexual health, cessation of bad habits, management of any other daily activity, or any social or environmental factors on health. Collection of vitals might also be involved in the identification of health concerns.
			%div.connect-box.connect-box2
			%div.circle.circle2 2
			%div.process-box.process-box3
				%h6 Set Goals
				%p Goals are set to improve or resolve the identified health problems by the next review period. SMART goals (specific, measurable, achievable, realistic, time oriented) help break down goals into smaller specific steps. Goals should also be measured in a way that’s quantifiable so that changes can be seen over a pratice timeframe. These can include both patient defined goals such as longevity, function, comfort, etc., and clinician defined goals.
			%div.connect-box.connect-box3
			%div.circle.circle3 3
			%div.process-box.process-box4
				%h6 Instruct and Intervene
				%p After the desired outcomes are specified, the interventions and instructions on how to acheive those goals can be delivered. Instructions are educational directions to the patient/other providers about how to care for the patient's condition, what to do at home, when to call for help, additional appointments, testing, medication changes/instructions, among others. Interventions are specified actions taken as steps toward achieving care plan goals. This can include adminstration of physical treatment, creation or adjustment to the medication plan, prescribed activities or community/social services, or removal of barriers to success.
			%div.connect-box.connect-box4
			%div.circle.circle4 4
			%div.process-box.process-box5
				%h6 Enlist Care Team
				%p A team of individuals should be enlisted in the care of the patient. The care team includes both professional parties who manage and/or provide care, including medical practitioners, nurses, allied health practitioners (physiotherapist, speech therapist psychologist, pharmacist, etc.), social workers, and care managers; as well as non-professional members such as caregivers, family, friends, and the patient themselves. It should be determined by the patient which care team members are granted access to his or her health information.
			%div.connect-box.connect-box5
			%div.circle.circle5 5
			%div.process-box.process-box6
				%h6 Specify Outcomes to Review
				%p It is important to set a specfic time for review of the care plan to determine whether patient needs are being met and if adjustments need to be made. Low level, relatively healthy individuals may only need an annual review of the care plan, whereas those with more severe chronic illnesses may need a much more frequent checkup. Specific metrics for followup should be determined based on the health concerns and goals set.
			%div.connect-box.connect-box6
			%div.circle.circle6 6
			%div.process-box.process-box7
				%h6 Live the Care Plan
				%p The most important part of the care plan process is how the patient implements it. They must translate guidance from their brief interactions with clinicians into sustained lifestyle behaviors to improve their own health. Self care makes up over 99% of healthcare, and it is only successful with a good care plan.
			%div.circle.circle7 7
		.process.mobile
			%div.process-box
				%div.circle 1
				%h6 Understand Health History
				%img{:src => "../../images/features/careplans/part2/careplan_journey_health_history_mobile.png"}
				%p The beginning of any care plan process, whether creation or review, requires an understanding of the patient’s health history. This should be summative in nature, and include basic information such as demographics, care team, vitals, problems, allergies, medications, therapies, notable encounters or procedures, and an indication of whether an advance care plan is in place. It is important to keep a patient summary up to date so that any care professional can reference it in an emergency.
			%div.process-box
				%div.circle 2
				%h6 Identify Health Concerns
				%img{:src => "../../images/features/careplans/part2/careplan_journey_identify_health_concerns_mobile.png"}
				%p The next step is to identify what the current problems or health concerns are. This can involve reviewing symptomology, eating habits, physical activity, sleep habits, psychological issues, management of medication, sexual health, cessation of bad habits, management of any other daily activity, or any social or environmental factors on health. Collection of vitals might also be involved in the identification of health concerns.
			%div.process-box
				%div.circle 3
				%h6 Set Goals
				%img{:src => "../../images/features/careplans/part2/careplan_journey_set_goals_mobile.png"}
				%p Goals are set to improve or resolve the identified health problems by the next review period. SMART goals (specific, measurable, achievable, realistic, time oriented) help break down goals into smaller specific steps. Goals should also be measured in a way that’s quantifiable so that changes can be seen over a pratice timeframe. These can include both patient defined goals such as longevity, function, comfort, etc., and clinician defined goals.
			%div.process-box
				%div.circle 4
				%h6 Instruct and Intervene
				%img{:src => "../../images/features/careplans/part2/careplan_journey_instruct_mobile.png"}
				%p After the desired outcomes are specified, the interventions and instructions on how to acheive those goals can be delivered. Instructions are educational directions to the patient/other providers about how to care for the patient's condition, what to do at home, when to call for help, additional appointments, testing, medication changes/instructions, among others. Interventions are specified actions taken as steps toward achieving care plan goals. This can include adminstration of physical treatment, creation or adjustment to the medication plan, prescribed activities or community/social services, or removal of barriers to success.
			%div.process-box
				%div.circle 5
				%h6 Enlist Care Team
				%img{:src => "../../images/features/careplans/part2/careplan_journey_care_team_mobile.png"}
				%p A team of individuals should be enlisted in the care of the patient. The care team includes both professional parties who manage and/or provide care, including medical practitioners, nurses, allied health practitioners (physiotherapist, speech therapist psychologist, pharmacist, etc.), social workers, and care managers; as well as non-professional members such as caregivers, family, friends, and the patient themselves. It should be determined by the patient which care team members are granted access to his or her health information.
			%div.process-box
				%div.circle 6
				%h6 Specify Outcomes to Review
				%img{:src => "../../images/features/careplans/part2/careplan_journey_specify_review_mobile.png"}
				%p It is important to set a specfic time for review of the care plan to determine whether patient needs are being met and if adjustments need to be made. Low level, relatively healthy individuals may only need an annual review of the care plan, whereas those with more severe chronic illnesses may need a much more frequent checkup. Specific metrics for followup should be determined based on the health concerns and goals set.
			%div.process-box
				%div.circle 7
				%h6 Live the Care Plan
				%img{:src => "../../images/features/careplans/part2/careplan_journey_live_care_plan_mobile.png"}
				%p The most important part of the care plan process is how the patient implements it. They must translate guidance from their brief interactions with clinicians into sustained lifestyle behaviors to improve their own health. Self care makes up over 99% of healthcare, and it is only successful with a good care plan.
	.credit-wrapper
		.row
		%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		%script(src="../../../javascripts/features/careplans/case_studies.js")
			- # BEGIN Credits: Copy from this line.
		#credits
			.authors.row
				%h1 Authors
				.author.col-md-6
					.image
						%img{:src =>'../../images/features/careplans/contrib/beth.jpg'}
					.info
						%p Involution Studios
						%p.name Beth Herlin<br><small><a href="https://twitter.com/beth11herlin" target="_blank">@beth11herlin</a></small>
				.author.col-md-6
					.image
						%img{:src =>'../../images/features/careplans/contrib/edwin.jpg'}
					.info
						%p Involution Studios
						%p.name Edwin Choi
			.contributors.row
				%h1 Contributors
				.contributor.col-md-4
					.image
						%img{:src =>'../../images/features/careplans/contrib/jenn.jpg'}
					.info
						%p Web Designer & Developer
						%p.name Jennifer Patel<br><small><a href="https://twitter.com/catamariface" target="_blank">@catamariface</a></small>
				.contributor.col-md-4
					.image
						%img{:src =>'../../images/features/careplans/contrib/yanyang.jpg'}
					.info
						%p Web Designer & Developer
						%p.name Yanyang Zhou
				.contributor.col-md-4
					.image
						%img{:src =>'../../images/features/careplans/contrib/juhan.jpg'}
					.info
						%p Involution Studios, MIT
						%p.name Juhan Sonin<br><small><a href="http://twitter.com/jsonin" target="_blank">@jsonin</a></small>
			.reference
				%h1 References
				%ul

/ - # END Credits. Copy to this %%%%%line.
