!!!
%html.no-js{lang: "en"}
  %head
    
    %meta{charset: "utf-8"}
    %meta{name: "viewport",  content: "width=device-width, initial-scale=1.0"}
    
    = stylesheet_link_tag 'all'
    = javascript_include_tag 'all'
    = yield_content :page_head
 
    %title
      - if content_for? :title
        = yield_content :title
      - else
        Involution Studios
    
    %meta{content: "Involution Studios is a user interface and application design firm located in Boston and Columbus. We create great user experiences for desktop, mobile, and web applications.", name: "description"}/
    %meta{content: "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design", name: "keywords"}/
      
  %body
    #site-overlay
      %header#main-header
        %header#site-header
          .row
            .medium-12.small-12.columns
              = link_to( image_tag('logo-header.png', alt: "Involution Studios"), asset_url('/'), id: 'site-title')
              #nav-buttons
                %span.nav-button
                  = link_to '<span class = "underline">W</span>ork', asset_url('work')
                %span.nav-button
                  = link_to '<span class = "underline">S</span>tudio', asset_url('studio')
                %span.nav-button
                  = link_to '<span class = "underline">T</span>eam', asset_url('team')
                %span.nav-button
                  = link_to '<span class = "underline">Ca</span>reers', asset_url('careers')
                %span.nav-button
                  = link_to '<span class = "underline">A</span>rticles', asset_url('#')
                %span.nav-button
                  = link_to '<span class = "underline">C</span>ontact', asset_url('contact')
          #mobile-hamburger
            =image_tag('hamburger.svg');
          #nav-buttons-mobile
            %span.nav-button
              = link_to '<span class = "underline">W</span>ork', asset_url('work')
            %span.nav-button
              = link_to '<span class = "underline">S</span>tudio', asset_url('studio')
            %span.nav-button
              = link_to '<span class = "underline">T</span>eam', asset_url('team')
            %span.nav-button
              = link_to '<span class = "underline">Ca</span>reers', asset_url('careers')
            %span.nav-button
              = link_to '<span class = "underline">A</span>rticles', asset_url('#')
            %span.nav-button
              = link_to '<span class = "underline">C</span>ontact', asset_url('contact')
      .container
    #main-container
      .container.content
        = yield
    %footer#main-footer
      .row.footerContent
        .medium-7.columns.logocol.sidebar
          %p.mobile-hide.about-us
            %em
              We are a group of future thinkers changing the world through apps, platforms, and creative problem solving.
        .medium-4.columns.addrcol.sidebar
          %p#phoneNum
            %a{href: "tel:6178037043"}  617&ndash;803&ndash;7043
          %p.mail
            = mail_to "info@goinvo.com"
          %p.address
            %a{href: "https://www.google.com/maps/place/661+Massachusetts+Ave/@42.4159556,-71.1542426,17z/data=!3m1!4b1!4m2!3m1!1s0x89e376507914ce3b:0xd3401d7136ceb9f3"} Map 
        .medium-1.columns.sidebar.social-links
          %ul#footer-social-links.mobile-hide
            %li.linkedin= link_to(image_tag('linkedin_foot.svg'), "https://www.linkedin.com/company/involution-studios", :target => "_blank" )
            %li.twitter= link_to(image_tag('twitter_foot.svg'), "https://twitter.com/goinvo", :target => "_blank" )
            %br
            %li.github= link_to(image_tag('github_foot.svg'), "https://github.com/goinvo", :target => "_blank" )
            %li.vimeo= link_to(image_tag('facebook_foot.svg'), "https://www.facebook.com/goinvo", :target => "_blank" )
    = yield_content :worlds_end
    <script type="text/javascript"> (function(d,s,i,r) {if (d.getElementById(i)){return;} var n=d.createElement(s),e=d.getElementsByTagName(s)[0]; n.id=i;n.src='http://js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/356419.js'; e.parentNode.insertBefore(n, e); })(document,"script","hs-analytics",300000); </script>
