!!!
%html.no-js{lang: "en"}
  %head
    
    %meta{charset: "utf-8"}
    %meta{name: "viewport",  content: "width=device-width, initial-scale=1.0"}
  
    = javascript_include_tag 'all'
    = stylesheet_link_tag 'all'
  
    %title
      - if content_for? :title
        = yield title
      - else
        Involution Studios
    
    %meta{content: "Involution Studios is a user interface and application design firm located in Boston and Columbus. We create great user experiences for desktop, mobile, and web applications.", name: "description"}/
    %meta{content: "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design", name: "keywords"}/
      
  %body
    #site-overlay
      %header#main-header
        %header#site-header
          = link_to( image_tag('logo-header.png', alt: "Involution Studios"), asset_url('/'), id: 'site-title')
          #nav-buttons
            %span.nav-button
              = link_to '<span class = "underline">P</span>ortfolio', asset_url('portfolio')
            %span.nav-button
              = link_to '<span class = "underline">S</span>tudio', asset_url('studio')
            %span.nav-button
              = link_to '<span class = "underline">T</span>eam', asset_url('team')
            %span.nav-button
              = link_to '<span class = "underline">Ca</span>reers', asset_url('careers')
            %span.nav-button
              = link_to '<span class = "underline">A</span>rticles', asset_url('#')
            %span.nav-button
              = link_to '<span class = "underline">C</span>ontact', asset_url('contact')
      .container
    #main-container
      .container.content
        = yield
    %footer#main-footer
      .row.footerlogo
        .medium-3.columns.sidebar.mobile-hide
          %p= image_tag 'logo-footer.png', alt: 'Go Invo: Involution Studios logo'
        .medium-5.columns.sidebar.mobile-hide
          %p Boston
        .medium-4.columns.sidebar.mobile-hide
          %p Subscribe to our newsletter
      .row.footerContent
        .medium-3.columns.logocol.sidebar
          %p.mobile-hide
            %em
              Crafting the future of emerging technology. We are a group of future thinkers changing the world through apps, platforms, and creative problem solving.
          %ul#footer-social-links.mobile-hide
            %li.linkedin= link_to(image_tag('linkedin_foot.svg'), "https://www.linkedin.com/company/involution-studios", :target => "_blank" )
            %li.twitter= link_to(image_tag('twitter_foot.svg'), "https://twitter.com/goinvo", :target => "_blank" )
            %li.github= link_to(image_tag('github_foot.svg'), "https://github.com/goinvo", :target => "_blank" )
            %li.vimeo= link_to(image_tag('facebook_foot.svg'), "https://www.facebook.com/goinvo", :target => "_blank" )
        .medium-3.columns.addrcol.sidebar
          %p.large-hide
            Boston
          %p.address
            %a{href: "https://www.google.com/maps/place/661+Massachusetts+Ave/@42.4159556,-71.1542426,17z/data=!3m1!4b1!4m2!3m1!1s0x89e376507914ce3b:0xd3401d7136ceb9f3"} 661 Massachusetts Ave,<br>3rd Floor,<br>Arlington MA, 02476
          %p#phoneNum
            %a{href: "tel:6178037043"}  617&ndash;803&ndash;7043
          = mail_to "info@goinvo.com"
          %ul#footer-social-links.large-hide
            %li.linkedin= link_to(image_tag('linkedin_foot.svg'), "https://www.linkedin.com/company/involution-studios", :target => "_blank" )
            %li.twitter= link_to(image_tag('twitter_foot.svg'), "https://twitter.com/goinvo", :target => "_blank" )
            %li.github= link_to(image_tag('github_foot.svg'), "https://github.com/goinvo", :target => "_blank" )
            %li.vimeo= link_to(image_tag('facebook_foot.svg'), "https://www.facebook.com/goinvo", :target => "_blank" )
        .medium-2.columns.sidebar.blankcol
          <br>
        .medium-4.columns.sidebar.subcol.mobile-hide
          %p.large-hide
            Subscribe to our newsletter
          %form
            %input#news-letter-input{:type => "email", :placeholder => "Email"}
            %button#news-letter-button{:type => "button"}Subscribe
          
      = yield_content :worlds_end
