!!!
%html
  %head
    = javascript_include_tag 'all'
    = stylesheet_link_tag 'all'
 
    %title
      - if content_for? :title
        = yield title
      - else
        Involution Studios
    
    %meta{content: "Involution Studios is a user interface and application design firm located in Boston and Columbus. We create great user experiences for desktop, mobile, and web applications.", name: "description"}/
    %meta{content: "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design", name: "keywords"}/
      
  %body
    #site-overlay
      %header#main-header
        %header#site-header
          = link_to( image_tag('logo-header.png', alt: "Involution Studios"), '/', id: 'site-title')
          %span#menu-button Menu
      %nav#main-menu
        %section.studio
          %header
            %h2= link_to 'Studio', '/studio'
          .menu-items
            %ul
              %li.team= link_to 'Team', '/team'
              %li.careers= link_to 'Careers', '/careers'
              %li.process= link_to 'Process', '/process'
              %li.contact= link_to 'Contact', '/contact'
          %footer
            %p Open Office Hours
            %p
              Thursdays 4-6
              %sub P
            %p.detail Bring your problems, get advice.
        %section.portfolio
          %header
            %h2= link_to 'Portfolio', '/projects'
          .menu-items
            %ul
              - data.projects.each do |project|
                - next if project.show_in_layout != "true"
                %li= project.client
          %footer.podcast
            %p
              = link_to 'The Digital Life Podcast', 'http://thedigitalife.com'
            %p.detail
              = link_to 'Subscribe on iTunes', 'https://itunes.apple.com/us/podcast/the-digital-life/id392069970#ls=1'
        %section.articles
          %header
            %h2= link_to 'Articles', '#'
          .menu-items
            %ul
              %li.article.with-image{style: "background-image: url(#{asset_url('/images/mock-images/parthenon.jpg')})"}
                %p.featured Featured
                %p.title= link_to 'Rethinking Government', '#'
              %li.article
                %p.title= link_to "Involution's Arlington Visual Budget Wins MMA Innovation Award", '#'
                %p.date-posted 17 JAN 14
              %li.article
                %p.title= link_to "Product Development and Applied UX at Codemash", '#'
                %p.date-posted 8 JAN 14
              %li.article
                %p.title= link_to "Involution's Arlington Visual Budget Wins MMA Innovation Award", '#'
                %p.date-posted 17 JAN 14
              %li.article
                %p.title= link_to "Involution's Arlington Visual Budget Wins MMA Innovation Award", '#'
                %p.date-posted 17 JAN 14
          %footer
            %p 10 Design Tips for Project Managers
            %p.detail Download white paper.
      .container
    #main-container
      .container.content
        = yield
    %footer#main-footer
      .row.footerlogo
        .medium-3.columns.sidebar
          %p= image_tag 'logo-footer.png', alt: 'Go Invo: Involution Studios logo'
        .medium-5.columns.sidebar.mobile-hide
          %p Boston
        .medium-4.columns.sidebar.mobile-hide
          %p Subscribe to our newsletter
      .row.footerContent
        .medium-3.columns.logocol.sidebar
          %p
            %em
              Crafting the future of emerging technology. We are a group of future thinkers changing the world through apps, platforms, and creative problem solving.
          %ul#footer-social-links
            %li.twitter= link_to(image_tag('twitter_foot.svg'), "https://twitter.com/goinvo", :target => "_blank" )
            %li.linkedin= link_to(image_tag('linkedin_foot.svg'), "https://www.linkedin.com/company/involution-studios", :target => "_blank" )
            %li.vimeo= link_to(image_tag('facebook_foot.svg'), "https://www.facebook.com/goinvo", :target => "_blank" )
            %li.github= link_to(image_tag('github_foot.svg'), "https://github.com/goinvo", :target => "_blank" )
        .medium-3.columns.addrcol.sidebar
          %p.large-hide
            Boston
          %p.address
            %a{href: "https://www.google.com/maps/place/661+Massachusetts+Ave/@42.4159556,-71.1542426,17z/data=!3m1!4b1!4m2!3m1!1s0x89e376507914ce3b:0xd3401d7136ceb9f3"} 661 Massachusetts Ave, 3rd Floor <br>Arlington MA, 02476
          %p#phoneNum
            %a{href: "tel:6178037043"}  617&ndash;803&ndash;7043
          = mail_to "info@goinvo.com"
        .medium-2.columns.sidebar.blankcol
          <br>
        .medium-4.columns.sidebar.subcol
          %p.large-hide
            Subscribe to our newsletter
          %form
            %input#news-letter-input{:type => "email", :placeholder => "Email"}
            %button#news-letter-button{:type => "button"}Subscribe
          
      = yield_content :worlds_end
