- content_for(:title) do
	= "Ebola Care Guideline"
- content_for(:page_head) do
	= stylesheet_link_tag "features/ebola-care"
	= stylesheet_link_tag "feature-elements"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/
	- meta = page_for_meta("ebola-care-guideline")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
        
%article#feature-article.ebola-care
	%header#article-header
		.headline
			.head-container
				%h1 Ebola Care Guideline
				%h2 An Illustrated Process on Personal Protective Equipment
	%section#ebola-care-intro
		.intro 
			%p The recommended Personal Protective Equipment (PPE) that healthcare workers wear in Ebola treatment areas—waterproof apron, surgical gown, surgical cap, respirator, face shield, boots, and two layers of gloves—significantly reduces the body’s normal way of getting rid of heat by sweating. The PPE holds excess heat and moisture inside, making the worker’s body even hotter. In addition, the increased physical effort to perform duties while carrying the extra weight of the PPE can lead to the healthcare worker getting hotter faster. Wearing PPE increases the risk for heat-related illnesses.
			%p Email <a href="mailto:stopebola@goinvo.com">stopebola@goinvo.com</a> to provide feedback and help evolve this document.
	%section#ebola-care-download
		%a.ebolapdf-link{:href => "http://goinvo.com/features/ebola-care-guideline/files/ebola_care_guideline.pdf"}
			.photo-container
			.ebola-care-download-div
				.button Download the Ebola Guideline PDF
.social-buttons.centered
	%p Share this article:
	%a.fb{:href => "https://www.facebook.com/sharer/sharer.php?u=www.goinvo.com/features/ebola-care-guideline", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"} Facebook
	%a.twitter{:href => "https://twitter.com/home?status=www.goinvo.com/features/ebola-care-guideline"} Twitter
	%a.plus{:href => "https://plus.google.com/share?url=http%3A%2F%2Fgoinvo.com%2Ffeatures%2Febola-care-guideline%2F", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600);return false;"} Google+
	%a.in{:href => "https://plus.google.com/share?url=www.goinvo.com/features/ebola-care-guideline", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=1000');return false;"} LinkedIn
	%a.mail{:href => "mailto:?body=http%3A%2F%2Fgoinvo.com%2Ffeatures%2Febola-care-guideline%2F"} Mail
	.comments.centered
.fb-comments
	%p Comment on this article:
	.fb-comments{:data => {:href => "http://goinvo.com/features/ebola-care-guideline", :width => "100%", :numposts => "5", :colorscheme => "light"}}
		- # BEGIN Credits: Copy from this line.
#credits
	.author
		%img{:src => "../../images/team_photos/xinyu_liu.jpg", :alt => ""}/
		.author-content
			.author-header
				%h3 Author
				%h2 Xinyu Liu
			.author-bio
				%p Xinyu is a designer with a background in crafting physical objects, conducting research, and influencing human behavior. She leverages invisible sensing tech, composes emotional feedback loops, and creates just-in-time graphic communication. Xinyu is a graduate of the Beijing Institute of Technology and the Rhode Island School of Design.
	.contributors
		.contributor
			.image
				= image_tag 'features/democracy/contrib/emily.jpg'
			.info
				%h3 Editor
				%p Emily Twaddell<br><small><a href="http://twitter.com/mimitwaddell">@mimitwaddell</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/democracy/contrib/juhan.jpg'
			.info
				%h3 Contributing Author
				%p Juhan Sonin<br><small><a href="http://twitter.com/jsonin">@jsonin</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/ebola/contrib/sarah.jpeg'
			.info
				%h3 Contributing Illustrator
				%p Sarah Kaiser<br><small><a href="https://twitter.com/DamnTorren">@DamnTorren</a></small>
				%hr
		.contributor
			.image
				= image_tag 'features/ebola/contrib/adam.jpeg'
			.info
				%h3 Web Developer
				%p Adam Pere
- # END Credits. Copy to this %%%%%line.
%a#health-ax.bottom-link{:href => "http://www.carecards.me"}
	.photo-container
	.content-info
		%h2 Care Cards
		%h4 The mighty little deck of cards that will change your health habits.
  