- content_for(:title) do
	= "Designing Enterprise Software"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/workpages"
	- meta = page_for_meta("enterprise")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}

%article#enterprise
	%header#article-header
		%h1.title We design massive bottom line impact for our clients.
		.projects-row.impact.top-margin.bottom-margin-2
			%a.project
				.project-title 50% Productivity Boost
				.description Oracle saw a 50% drop in time to complete core tasks.
			%a.project
				.project-title $150M Buyout
				.description CodeRyte was bought by 3M for $150M for its breakthrough ICD coding software and NLP tech.
			%a.project
				.project-title $17M Funding
				.description InfoBionic raised an additional $17M based on our patented designs.
			%a.project
				.project-title $43M Funding
				.description uTest's new analytics software, Applause, takes off. The company rebrands itself around it.
			%a.project
				.project-title Return on Investment
				.description In 8 months, a single customer’s use returned the $800k project design budget.
			%a.project
				.project-title 85M in Trust
				.description For McAfee, 85M people trusted and installed the new Total Protection Suite.
	= partial("partials/project-row", locals: { projects: get_projects_by_id(['nielsen', 'dnc', 'ruelala']) })
	.quote
		%h2.quote-content “Concept Studio is likely to transform our business in fundamental ways.”
		.quote-author Steve Lamoureux, Chief Product Officer, Nielsen
	.dataxu-container
		.dataxu-wrapper
			.left-content
				.image-container
			.right-content
				.medium-quote
					.logo
					.quote-content “Our team is managing hundreds of different campaigns, so how we use our time is critical. With this new console, DataXu has made a huge leap forward for programmatic ease of use.”
					.quote-author Joel Nierman
					.quote-author VP, media and digital strategy, Liquidus
				%a{:href => "/enterprise/dataxu"}
					.button Read Case Study
	.micro-hs-form
		%h2 Need help designing an elegant Enterprise product? Get in touch.
		<script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
		<script>
		  hbspt.forms.create({
		    portalId: '356419',
		    formId: '7ed4769c-d25a-4da4-b741-5c77055470ec',
		css: '',
		  });
		</script>
	.quote
		%h2.quote-content “Involution was much more than our redesign partner. They helped us re-think our product development process. They were as strong technically as they were with the design. ”
		.quote-author Brian Trombley
		.quote-author McAfee Director, Consumer Product Management
	= partial("partials/project-row", locals: { row_class: "margin-bottom", projects: get_projects_by_id(['microsoft', 'oracle', 'mcafee']) })
	= partial("partials/project-row", locals: { row_class: "margin-bottom", projects: get_projects_by_id(['scskcorporation', 'telerik']) })
	= partial("partials/partners", locals: {title: "A Few of Our Enterprise Partners", partners: get_partners_by_type('enterprise')})
	.office-hours
		%h2.font-thin Want honest design feedback on your product?
		%h2.font-thin <a href="/studio/open-office-hours">Sign up</a> for Open Office hours every Thursday 4-6p.
