- content_for(:title) do
	= "PainTrackr, a tool for logging pain."
- content_for(:page_head) do
	= stylesheet_link_tag "sections/simple-case-studies"
	= javascript_include_tag 'worknav'
	- meta = page_for_meta("paintrackr")
	%meta{:name => "description", :content => "#{meta.description}" }
	%meta{:name => "keywords", :content => "#{meta.keywords}" }
	%meta{:name => "twitter:card", :content => "#{meta.twittercard}"}
	%meta{:name => "twitter:site", :content => "#{meta.twittersite}" }
	%meta{:name => "twitter:title", :content => "#{meta.twittertitle}" }
	%meta{:name => "twitter:description", :content => "#{meta.description}"}
	- if (meta.twitterimage)
		%meta{:name => "twitter:image", :content => "#{meta.twitterimage}"}
- client = client_for_name("PainTrackr")

#content-area.caseStudyContent
	.projectData
		%h1.client{style: "color: #{client.primary_color}"} PainTrackr

		%h6.subheader Results

		%p Easily track physical pain and share with healthcare providers for improved communication.

		%p.quote I love this app - especially the simplicity and ease of entry. I have ADD along with multiple chronic issues, and other apps have had too many areas to track, too many questions to answer.
		%p.caption.no-bottom-margin PainTrackr User

		%h6.subheader Practice Areas
		%p.small-bottom-margin Consumer Health, Open Source

		%h6.subheader Project Type
		%p.small-bottom-margin Research, Illustration, Product Design, Development

		%h6.subheader Process
		%p.small-bottom-margin Learning, Envision, Blueprint, Craft, Build

		%h6.subheader Price
		%p $25k &ndash; $50k

		.similar-project-container
			%h6.subheader Have a similar project?
			= link_to 'Contact Us', asset_url('contact'), class: 'button radius'

	.projectDetails
		%div
			%img{alt: "PainTrackr iOS app", src: "../../images/clients/paintrackr/paintrackr-track-pain-ios-app.jpg"}

		%p PainTrackr is an open-source app that monitors physical pain. It logs pain based on severity and location and stores this data so that it can be easily transmitted.

		%p PainTrackr seeks to make logging pain more intuitive, while eliminating the hassle of inputting information via pen and paper. By providing a way for patients to easily enter data about their bodily pains, PainTrackr hopes to improve communication between patients and their healthcare providers.

		%p <a href="http://www.paintrackr.com">www.paintrackr.com</a> - <a href="https://itunes.apple.com/us/app/paintrackr-track-pain-chronic/id566170561?mt=8">App Store</a>

		%div
			%img.with-caption{alt: "Early concept for tracking pain and intensity.", src: "../../images/clients/paintrackr/paintrackr-ios-app-early-concepts.jpg"}/
		%p.caption Early concept for tracking pain and intensity.

		%div
			%img.with-caption <video autoplay muted loop preload><source type="video/mp4" src="../../videos/paintrackr-ios-app-demo.mp4"></video>
		%p.caption Demo of the <a href="https://itunes.apple.com/us/app/paintrackr-track-pain-chronic/id566170561?mt=8">PainTrackr iOS app</a>.

		%div
			%img.with-caption{alt: "Next version of PainTrackr could evolve into painting your pain.", src: "../../images/clients/paintrackr/paintrackr-ios-app-painting-pain-concepts.jpg"}/
		%p.caption Next version of PainTrackr could evolve into painting your pain.

		%div
			%img.with-caption{alt: "Viewing the history of recorded pain.", src: "../../images/clients/paintrackr/paintrackr-pain-histogram.jpg"}/
		%p.caption Viewing the history of recorded pain.

#next-project.row
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
